{%- capture boost_pfs_layout -%}
{%- case layout -%}

{%- when 'productGridItemHtml' -%}
{% raw %}
	<div class="{{itemDesktopWidthClass}} medium-down--one-half {{itemMobileWidthClass}} column {{itemQuickShopClass}} {{itemSwapImageClass}} {{itemHoverImage}} {{itemStickersClass}}
					thumbnail product__thumbnail product__grid-item
					thumbnail__hover-overlay--{{itemHoverClass}}
					has-padding-bottom">
			<div class="product-wrap">
				<div class="product-image__wrapper">
					<div class="image__container product__imageContainer">
						<a href="{{itemUrl}}">
							{{itemStickers}}
							{{itemImages}}
							{{itemHover}}
						</a>
					</div>
				</div>
				<div class="thumbnail__caption text-align-{{itemTextAlignClass}}">
					{{itemProductInfo}}
				</div>
			</div>
			{{itemSwatch}}
			{{itemReviews}}
	</div>
{% endraw %}

{%- when 'itemHoverHtml' -%}
{% raw %}
	<div class="thumbnail-overlay__container">
		<a class="hidden-product-link" href="{{itemUrl}}">{{itemTitle}}</a>
		{{itemProductInfoHover}}
		{{itemQuickShop}}
		{{itemReviewsHover}}
	</div>
{% endraw %}

{%- when 'itemProductInfoHtml' -%}
{% raw %}
	<div class="product-thumbnail">		
		<p class="product-thumbnail__title">{{itemTitle}}</p>
		{{itemVendor}}
		{{itemComingSoon}}
		{{itemPrice}}
	</div>
{% endraw %}


{%- when 'previousActiveHtml' -%}
<a href="[[itemUrl]]" class="pagination-previous">{{ 'general.pagination.previous' | t }}</a>

{%- when 'nextActiveHtml' -%}
<a href="[[itemUrl]]" class="pagination-next">{{ 'general.pagination.next' | t }}</a>

{%- when 'pageItemHtml' -%}
<li><a class="pagination-link" href="[[itemUrl]]">[[itemTitle]]</a></li>

{%- when 'pageItemSelectedHtml' -%}
<li><a class="pagination-link is-current">[[itemTitle]]</a></li>

{%- when 'pageItemRemainHtml' -%}
<li><a class="pagination-ellipsis">&hellip;</a></li>

{%- when 'paginateHtml' -%}
<nav class="pagination paginate--both" role="navigation" aria-label="pagination">
	[[previous]]<ul class="pagination-list">[[pageItems]]</ul>[[next]]
</nav>

{%- when 'sortingHtml' -%}
<select aria-label="Sort by" class="sort_by">[[sortingItems]]</select>

{%- endcase -%}

{%-  endcapture -%}
{%- assign str = '}}' -%}
{{- boost_pfs_layout | json | replace: '[[', '{{' | replace: ']]', str -}}