{%- capture SHIPPING_PRICE %}
    <div class="shipping__progress-bar-container">
        <div class="shipping__title">
            <div class="shipping__heading">
                <p class="shipping__icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="21" height="16" viewBox="0 0 21 16">
                        <g fill="none" fill-rule="evenodd">
                            <path fill="#FFF" d="M0 0H1440V850H0z" transform="translate(-1162 -65)"></path>
                            <g opacity=".5">
                                <g>
                                    <path fill="#FFF" d="M0 0H1440V150H0z" transform="translate(-1162 -65)"></path>
                                </g>
                            </g>
                            <g fill="#1A1A1A" fill-opacity=".75" fill-rule="nonzero">
                                <path d="M0 0H1440V852H0z" transform="translate(-1162 -65) translate(0 -2)"></path>
                            </g>
                            <path fill="#FFF" fill-rule="nonzero" d="M1048 0H1440V852H1048z"
                                  transform="translate(-1162 -65)"></path>
                            <g fill="#000" stroke="#000" stroke-width=".4">
                                <g>
                                    <path d="M14.44 7.19c-.064 0-.166-.048-.25-.13-.082-.084-.13-.186-.13-.25V5.298c0-.19.226-.378.38-.378h2.41l.927 1.23s.344.586.415 1.04H14.44zm.38 3.026c.845 0 1.52.673 1.52 1.514 0 .84-.675 1.513-1.52 1.513s-1.52-.672-1.52-1.513c0-.841.675-1.514 1.52-1.514h0zm-3.8.816c0 .177-.141.32-.32.32H7.183c-.18-1.074-1.117-1.893-2.244-1.893-1.127 0-2.063.82-2.244 1.892H1.14c-.142 0-.38-.238-.38-.378V1.076c0-.177.14-.32.32-.32h9.631c.164 0 .309.157.309.344v9.932zm-6.08 2.211c-.845 0-1.52-.672-1.52-1.513 0-.841.675-1.514 1.52-1.514s1.52.673 1.52 1.514c0 .84-.675 1.513-1.52 1.513h0zM18.394 5.7h-.011l-1.568-2.08v-.013l-.012-.011c-.35-.422-.876-.946-1.603-.946h-3.04c-.135 0-.26.028-.38.07V1.1C11.78.52 11.32 0 10.711 0h-9.63C.488 0 0 .486 0 1.076v9.897c0 .628.51 1.135 1.14 1.135h1.556C2.876 13.181 3.813 14 4.94 14c1.127 0 2.063-.819 2.244-1.892H10.7c.28 0 .532-.118.725-.295.197.172.45.292.736.295h.416C12.756 13.181 13.693 14 14.82 14c1.254 0 2.28-1.021 2.28-2.27 0-1.25-1.026-2.27-2.28-2.27-1.127 0-2.063.818-2.244 1.891h-.416c-.071 0-.18-.048-.261-.13-.082-.081-.119-.179-.119-.248v-7.19c0-.141.238-.378.38-.378h3.04c.298 0 .718.318 1.01.663.002.004.008.007.011.011l.06.083H14.44c-.606 0-1.14.488-1.14 1.135v1.514c0 .315.143.591.344.792.202.201.48.343.796.343h3.8v3.027c0 .142-.237.378-.38.378h-.76v.757h.76c.63 0 1.14-.507 1.14-1.135V7.331c0-.866-.606-1.632-.606-1.632h0z"
                                          transform="translate(-1162 -65) translate(1163 66)"></path>
                                </g>
                            </g>
                        </g>
                    </svg>
                </p>
                <p>{{ shop.metafields.shipping.top_text }}</p>
            </div>
        </div>
        <div class="shipping__progress-bar">
            <span class="bar-progress"></span>
        </div>
        <div class="shipping__info">
            <div class="shipping__text" data-text="{{ settings.goal_tracker_deficiency_message }}"></div>
        </div>
    </div>

{% endcapture -%}

{%- capture CHECKBOX_ON_PAYMENT %}

    <div id="checkbox_payment">
        <h2 class="checkbox_payment--title section__title">%title%</h2>
        <div class="checkbox_payment--wrapper">
            <label for="agree"></label>
            <input class="checkbox_payment--input" type="checkbox" name="checkbox" value="check" id="agree"/>
            <span class="checkbox_payment--text">%text%</span>
        </div>
        <div class="checkbox_payment--warning custom__hidden">%warning%</div>
    </div>
{% endcapture -%}

{%- capture EXISTING_ATTRIBUTES %}
    <div id="existing-attributes">
        {% for attribute in checkout.attributes %}
            <input class="visually-hidden" type="text" name="checkout[attributes][{{ attribute.first }}]"
                   value="{{ attribute.last }}"/>
        {% endfor %}

        <input class="visually-hidden" type="text" name="checkout[attributes][_address_autocomplete]" value=""/>
        <input class="visually-hidden" type="text" name="checkout[note]" value="{{ checkout.note }}"/>

    </div>
{% endcapture -%}

{% capture PICKUP_OPTIONS_ERROR %}
    <div class="notice notice--error default-background hidden" id="pickup-options-load-failed-notice"
         data-banner="true" role="alert" tabindex="-1" aria-atomic="true" aria-live="polite" style="margin-top: 1rem;">
        <svg class="icon-svg icon-svg--size-24 notice__icon" aria-hidden="true" focusable="false">
            <use xlink:href="#error"></use>
        </svg>
        <div class="notice__content">
            <p class="notice__text">{{ settings.checkout_pickup_options_error_message }}</p>
        </div>
    </div>
{% endcapture %}

{% capture PICKUP_OPTIONS_NONE_FOUND %}
    <div class="notice default-background hidden" id="pickup-options-none-found-notice" data-banner="true" role="alert"
         tabindex="-1" aria-atomic="true" aria-live="polite" style="margin-top: 1rem;">
        <svg class="icon-svg icon-svg--size-24 notice__icon" aria-hidden="true" focusable="false">
            <use xlink:href="#error"></use>
        </svg>
        <div class="notice__content">
            <p class="notice__text">Your items are not available for pick up in any of the stores.</p>
        </div>
    </div>
{% endcapture %}

{% capture PICKUP_OPTIONS %}
    {%- if false -%}
        <div class="notice default-background" id="pickup-options-not-available" data-banner="true" role="alert"
             tabindex="-1" aria-atomic="true" aria-live="polite">
            <svg class="icon-svg icon-svg--size-24 notice__icon" aria-hidden="true" focusable="false">
                <use xlink:href="#error"></use>
            </svg>
            <div class="notice__content">
                <p class="notice__text">{{ settings.checkout_pickup_options_not_available_message }}</p>
            </div>
        </div>
    {%- else -%}
        {{ PICKUP_OPTIONS_ERROR }}
        {{ PICKUP_OPTIONS_NONE_FOUND }}
        <div class="content-box hidden" id="custom_select_pickup_store"
             data-selected-store-id="{{ checkout.attributes['pickup_store_id'] }}">
        </div>
    {%- endif -%}
{% endcapture %}

{% capture PICKUP_STORE_OPTION %}
    <div class="content-box__row %is_disabled%">
        <div class="radio-wrapper">
            <div class="radio__input">
                <input
                        class="input-radio"
                        type="radio"
                        value="%id%"
                        data-location-title="%title%"
                        data-location-handle="%id%"
                        data-location-street="%street%"
                        data-location-city="%city%"
                        data-location-zip="%zip%"
                        data-location-province="%province%"
                        data-location-email="%email%"
                        data-location-phone="%phone%"
                        data-location-country="%country%"
                        name="checkout[attributes][pickup_store_id]"
                        id="checkout_pickup_option_handle_%id%">
            </div>
            <label class="radio__label" aria-hidden="true" for="checkout_pickup_option_handle_%id%">
                <div class="radio__label__primary">
                    <div>%title%</div>
                    <div class="small-text">%address%</div>
                </div>
            </label>
        </div>
    </div>
{% endcapture %}

{% capture PICKUP_OPTIONS_STORE_ADDITIONAL_FIELDS %}
    <div class="hidden pickup-options-additional-details">
        <input type="hidden" name="checkout[note]" value="%id%">
        <input type="hidden" name="checkout[attributes][pickup_store_title]" value="%title%">
        <input type="hidden" name="checkout[attributes][pickup_store_street]" value="%street%">
        <input type="hidden" name="checkout[attributes][pickup_store_city]" value="%city%">
        <input type="hidden" name="checkout[attributes][pickup_store_province]" value="%province%">
        <input type="hidden" name="checkout[attributes][pickup_store_zip]" value="%zip%">
        <input type="hidden" name="checkout[attributes][pickup_timestamp]" value="%timestamp%">
    </div>
{% endcapture %}

{% capture PICKUP_INFO %}
    <p>{{ checkout.attributes.pickup_store_title }}</p>
    <address class="address">{{ checkout.attributes.pickup_store_street }}
        , {{ checkout.attributes.pickup_store_city }} {{ checkout.attributes.pickup_store_province }} {{ checkout.attributes.pickup_store_zip }}</address>
    <p>{{ checkout.attributes.pickup_date | date: "%A, %e %B" }}</p>
{% endcapture %}

{%- capture PICKUP_REVIEW_DETAILS_BLOCK %}
    Pick up from {{ checkout.attributes.pickup_store_title }}<br>
    <p class="small-text">
        {{ checkout.attributes.pickup_store_street }}
        , {{ checkout.attributes.pickup_store_city }} {{ checkout.attributes.pickup_store_province }} {{ checkout.attributes.pickup_store_zip }}
    </p>
{% endcapture -%}

<script type="text/javascript" src="/services/javascripts/currencies.js"></script>
{{ "checkout-currency.js" | asset_url | script_tag }}


<script type="text/javascript">
    "use strict";

    //Array.prototype.find polyfill
    Array.prototype.find || Object.defineProperty(Array.prototype, "find", {
        value: function (r) {
            if (null == this) throw TypeError('"this" is null or not defined');
            var t = Object(this), e = t.length >>> 0;
            if ("function" != typeof r) throw TypeError("predicate must be a function");
            for (var i = arguments[1], o = 0; o < e;) {
                var n = t[o];
                if (r.call(i, n, o, t)) return n;
                o++
            }
        }, configurable: !0, writable: !0
    });

    //Debounce
    function debounce(n, t, u) {
        var e;
        return function () {
            var i = this, o = arguments, a = u && !e;
            clearTimeout(e), e = setTimeout(function () {
                e = null, u || n.apply(i, o)
            }, t), a && n.apply(i, o)
        }
    }

    /* Custard.js - https://github.com/discolabs/custard-js - Compiled to es2015 with Babel and minified */
    function _typeof(t) {
        return (_typeof = "function" == typeof Symbol && "symbol" == typeof Symbol.iterator ? function (t) {
            return typeof t
        } : function (t) {
            return t && "function" == typeof Symbol && t.constructor === Symbol && t !== Symbol.prototype ? "symbol" : typeof t
        })(t)
    }

    function _possibleConstructorReturn(t, e) {
        return !e || "object" !== _typeof(e) && "function" != typeof e ? _assertThisInitialized(t) : e
    }

    function _assertThisInitialized(t) {
        if (void 0 === t) throw new ReferenceError("this hasn't been initialised - super() hasn't been called");
        return t
    }

    function _getPrototypeOf(t) {
        return (_getPrototypeOf = Object.setPrototypeOf ? Object.getPrototypeOf : function (t) {
            return t.__proto__ || Object.getPrototypeOf(t)
        })(t)
    }

    function _inherits(t, e) {
        if ("function" != typeof e && null !== e) throw new TypeError("Super expression must either be null or a function");
        t.prototype = Object.create(e && e.prototype, {
            constructor: {
                value: t,
                writable: !0,
                configurable: !0
            }
        }), e && _setPrototypeOf(t, e)
    }

    function _setPrototypeOf(t, e) {
        return (_setPrototypeOf = Object.setPrototypeOf || function (t, e) {
            return t.__proto__ = e, t
        })(t, e)
    }

    function _instanceof(t, e) {
        return null != e && "undefined" != typeof Symbol && e[Symbol.hasInstance] ? !!e[Symbol.hasInstance](t) : t instanceof e
    }

    function _classCallCheck(t, e) {
        if (!_instanceof(t, e)) throw new TypeError("Cannot call a class as a function")
    }

    function _defineProperties(t, e) {
        for (var o = 0; o < e.length; o++) {
            var n = e[o];
            n.enumerable = n.enumerable || !1, n.configurable = !0, "value" in n && (n.writable = !0), Object.defineProperty(t, n.key, n)
        }
    }

    function _createClass(t, e, o) {
        return e && _defineProperties(t.prototype, e), o && _defineProperties(t, o), t
    }

    var STEP_CONTACT_INFORMATION = 'contact_information';
    var STEP_SHIPPING_METHOD = 'shipping_method';
    var STEP_PAYMENT_METHOD = 'payment_method';
    var STEP_REVIEW = 'review';
    var STEP_THANK_YOU = 'thank_you';
    var STEP_ORDER_STATUS = 'order_status';
    var STEP_PROCESSING = 'processing';
    var STEPS_ALL = [STEP_CONTACT_INFORMATION, STEP_SHIPPING_METHOD, STEP_PAYMENT_METHOD, STEP_REVIEW, STEP_THANK_YOU, STEP_ORDER_STATUS, STEP_PROCESSING];

    var Custard = function () {
        function e(t) {
            _classCallCheck(this, e), this.moduleClasses = t
        }

        return _createClass(e, [{
            key: "init", value: function (e, t) {
                var s = arguments.length > 2 && void 0 !== arguments[2] ? arguments[2] : {};
                this.$ = e, this.step = t, this.options = s, this.modules = this.moduleClasses.map(function (n) {
                    return new n(e, t, s)
                }), this.beforeModulesInit(), this.$(document).on("page:load page:change", this.pageChangeHandler.bind(this))
            }
        }, {
            key: "beforeModulesInit", value: function () {
                var e = this;
                this.modules.forEach(function (t) {
                    t.steps().includes(e.step) && "function" == typeof t.beforeInit && t.beforeInit()
                })
            }
        }, {
            key: "pageChangeHandler", value: function (e) {
                var t = this;
                this.modules.forEach(function (e) {
                    if (e.steps().includes(t.step)) {
                        if (t.step === STEP_SHIPPING_METHOD && t.isPollRefreshElementPresent()) return;
                        e.init()
                    }
                })
            }
        }, {
            key: "isPollRefreshElementPresent", value: function () {
                return this.$("[data-poll-refresh]").length
            }
        }]), e
    }();
    var CustardModule = function () {
        function e(t, s, i) {
            _classCallCheck(this, e), this.$ = t, this.step = s, this.options = i, this.$element = null
        }

        return _createClass(e, [{
            key: "id", value: function () {
                throw"Not implemented"
            }
        }, {
            key: "steps", value: function () {
                return []
            }
        }, {
            key: "selector", value: function () {
                return "document"
            }
        }, {
            key: "beforeInit", value: function () {
            }
        }, {
            key: "init", value: function () {
                this.$element = this.$(this.selector()), this.$element.hasClass(this.id()) || (this.$element.addClass(this.id()), this.setup())
            }
        }, {
            key: "setup", value: function () {
            }
        }]), e
    }();
    var makeCustomisation = function (e) {
        function t() {
            return _classCallCheck(this, t), _possibleConstructorReturn(this, _getPrototypeOf(t).apply(this, arguments))
        }

        return _inherits(t, CustardModule), _createClass(t, [{
            key: "id", value: function () {
                return e.id
            }
        }, {
            key: "steps", value: function () {
                return e.steps
            }
        }, {
            key: "selector", value: function () {
                return e.selector
            }
        }, {key: "setup", value: e.setup}]), t
    };

    /** Helpers **/
    function getPickupPanelSelector() {
        if (Checkout.$('#panel-pickup').length) {
            return '#panel-pickup'
        }
        ;

        return '[data-delivery-pickup-info]'
    }

    function getSelector() {
        if (Checkout.$('[data-billing-address]').length) {
            return '[data-billing-address]'
        };

        return '[data-payment-method]'
    }

    function isPickup() {
        return Checkout.$("[data-delivery-pickup-radio-label]").closest('.content-box__row').find('input:checked').length
    }

    function isShip() {
        return Checkout.$("[data-delivery-ship-radio-label]").closest('.content-box__row').find('input:checked').length
    }

    /** Custard customisation start **/
    var AddShippingCheck = makeCustomisation({
        id: 'shipping-check-free',
        steps: [STEP_SHIPPING_METHOD],
        selector: '.section--shipping-method',
        setup: function () {
            var $ = this.$,
                templates = this.options.templates,
                $element = this.$element,
                country = this.options.shop.shippingAddress.country,
                province = this.options.shop.shippingAddress.province,
                zip = this.options.shop.shippingAddress.zip,
                total = this.options.shop.subTotalPrice,
                shopMoneyFormat = this.options.shop.moneyFormats,
                text_bottom = this.options.text.shipping_text,
                arrayLimit = this.options.shippingLimit,
                checkoutCurrency = this.options.shop.checkoutCurrency,
                defaultCurrency = this.options.shop.shopCurrency;

            var shippingAddress = {};
            shippingAddress.country = country || '';
            shippingAddress.province = province || '';
            shippingAddress.zip = zip || '';

            function getCartShippingRates(shippingAddress) {
                var request = {
                    type: "POST",
                    url: "/cart/prepare_shipping_rates",
                    data: custard.$.param({shipping_address: shippingAddress}),
                    success: pullCartShippingRates(shippingAddress),
                    error: function (data) {
                        console.log(data);
                    }
                };
                custard.$.ajax(request)
            }

            getCartShippingRates(shippingAddress);

            function pullCartShippingRates(e) {
                var request = function () {
                    custard.$.ajax("/cart/async_shipping_rates", {
                        dataType: "json", success: function (data, n, a) {
                            200 === a.status ? CheckoutUpdate(data.shipping_rates, e) : setTimeout(request, 500)
                        }, error: function (data) {
                            console.log(data);
                        }
                    })
                };
                return request
            }

            function CheckoutUpdate(rate) {
                // need array
                var price = rate[0].price;
                price && "0.00" != price ? SearchLimit(price) : console.log('Shipping Free')

            }

            function SearchLimit(price) {

                var obj_limit = arrayLimit.find(k => Object.keys(k)[0] == price);
                if (!obj_limit) return;
                var limit = parseFloat(Object.values(obj_limit)[0]);
                var convertedLimit = Currency.convert(limit, defaultCurrency, checkoutCurrency);
                if (convertedLimit >= parseFloat(total)) {
                    addElement(convertedLimit, total)
                }
            }

            function addElement(limit, total) {
                $element.append(templates.shippingPrice);
                var progress = parseFloat(total) * 100 / limit;
                var spend = limit - parseFloat(total);
                $('.bar-progress').css('width', progress + '%');
                $('.shipping__text').text(text_bottom.replace('[xxx]', formatMoney(spend.toFixed(2), shopMoneyFormat)));
            }
        }
    });

    var hideDefaultPickupOption = makeCustomisation({
        id: 'hide-default-pickup-option',
        steps: [STEP_CONTACT_INFORMATION],
        selector: '#panel-pickup [data-pickup-tab-content] .content-box:not(.custom)',
        setup: function () {
            this.$element.remove();
        }
    });

    var addPickupOptions = makeCustomisation({
        id: 'pickup-options',
        steps: [STEP_CONTACT_INFORMATION],
        selector: getPickupPanelSelector(),
        setup: function () {
            if (!Shopify.Checkout.requiresShipping) {
                return;
            }

            {% if checkout['attributes']['pickup_store_id'] != blank %}
            const reselectPickup = setInterval(function () {
                if (!isPickup()) {
                    $('[data-tabs-button="#panel-pickup"], [data-delivery-pickup-radio-label]').trigger('click');
                    clearInterval(reselectPickup);
                }
            }, 100)
            {% endif %}

            var $ = this.$,
                templates = this.options.templates,
                pickupOptionsCache = {},
                $element = this.$element;

            $element.append(templates.pickupOptions);

            var $storeSelect = $('input[name="checkout[attributes][pickup_store_id]"]'),
                $storePickupContainer = $('#custom_select_pickup_store'),
                $timeWindowsDropdown = $('#custom_select_pickup_date_and_time');

            $('[data-step="contact_information"] > form').on('submit', function (event) {
                if (isPickup()) {
                    if (!$('input[name="checkout[attributes][pickup_store_id]"]').is(":checked")) {
                        event.preventDefault();
                        event.stopPropagation();
                        return;
                    }

                    // prevent saving delivery attributes
                    $('[name^="checkout[attributes][_address_"]').each(function (i, el) {
                        el.value = '';
                    });
                }
                if (isShip()) {
                    // prevent saving pickup attributes
                    $('[name^="checkout[attributes][pickup_"]').each(function (i, el) {
                        el.value = '';
                    });
                    $('[name^="checkout[note]"]').each(function (i, el) {
                        el.value = '';
                    });
                }
            });

            return appendStoreOptionsToContainer();

            function displayNoneFoundError() {
                $('#pickup-options-none-found-notice').removeClass('hidden');
            }

            function displayError() {
                $('#pickup-options-load-failed-notice').removeClass('hidden');
            }

            function hideError() {
                $('#pickup-options-none-found-notice').addClass('hidden');
                $('#pickup-options-load-failed-notice').addClass('hidden');
            }

            function appendStoreOptionsToContainer() {
                const stores = window.custard.options.shop.pickupStores;
                if (stores.length) {
                    var selectedStoreId = $storePickupContainer.data('selected-store-id');

                    var $optionEls = stores.map(function (store) {
                        return formatStoreOption(store)
                    });
                    $storePickupContainer.html($optionEls);
                    $storePickupContainer.removeClass('hidden');
                    $storePickupContainer.find('[type="radio"]').on('change', handlePickupStoreOptionSelect);

                    if (selectedStoreId) {
                        var $selectedStoreIdRadio = $storePickupContainer.find('input[value="' + selectedStoreId + '"]');
                        if ($selectedStoreIdRadio.length === 1) {
                            $selectedStoreIdRadio.attr('checked', 'checked');
                            $selectedStoreIdRadio.trigger('change');
                        }
                    }
                } else {
                    console.log('none found');
                    displayNoneFoundError();
                }
            }

            function handlePickupStoreOptionSelect() {
                appendStoreAdditionalFields(this);
                changeButtonLabel()
            }

            function changeButtonLabel() {
                var $ = custard.$
                $('.step__footer #continue_button').prop('disabled', false);
                $('.step__footer #continue_button .btn__content').text('Select store');
                $('.step__footer #continue_button').find('.btn-subtext').remove();
                if ($('input[name="checkout[attributes][pickup_store_id]"][data-availability="partial"]:checked').length) {
                    addButtonSubtext()
                }
            }

            function formatStoreOption(store) {
                var template = templates.pickupStoreOption;

                template = template.replace(/%title%/g, store.name)
                template = template.replace(/%id%/g, store.id)
                template = template.replace(/%street%/g, store.street)
                template = template.replace(/%city%/g, store.city)
                template = template.replace(/%province%/g, store.province)
                template = template.replace(/%zip%/g, store.postcode)
                template = template.replace(/%email%/g, store.email)
                template = template.replace(/%phone%/g, store.phone)
                template = template.replace(/%country%/g, store.country)
                template = template.replace(/%address%/g, `${store.street}, ${store.city}, ${store.province} ${store.postcode}`)
                var $el = $(template);
                return $el;
            }

            function appendStoreAdditionalFields(input) {
                var template = templates.pickupStoreDetailsAdditionalFields;

                template = template.replace(/%title%/g, input.dataset.locationTitle);
                template = template.replace(/%id%/g, input.dataset.locationHandle);
                template = template.replace(/%street%/g, input.dataset.locationStreet);
                template = template.replace(/%city%/g, input.dataset.locationCity);
                template = template.replace(/%province%/g, input.dataset.locationProvince);
                template = template.replace(/%zip%/g, input.dataset.locationZip);
                template = template.replace(/%email%/g, input.dataset.locationEmail);
                template = template.replace(/%phone%/g, input.dataset.locationPhone);
                template = template.replace(/%timestamp%/g, new Date());

                $('#checkout_shipping_address_last_name').val(input.dataset.locationTitle);
                $('#checkout_shipping_address_address1').val(input.dataset.locationStreet);
                $('#checkout_shipping_address_city').val(input.dataset.locationCity);
                $('#checkout_shipping_address_country').val(input.dataset.locationCountry).change();
                $('#checkout_shipping_address_province').val(input.dataset.locationProvince).change();
                $('#checkout_shipping_address_zip').val(input.dataset.locationZip);

                $('.pickup-options-additional-details').remove();
                $element.append(template);
            }

        }
    });

    var displayPickupInfoOnConfirmationPage = makeCustomisation({
        id: 'display-pickup-info-on-confirmation-page',
        steps: [STEP_THANK_YOU, STEP_ORDER_STATUS],
        selector: '.step',
        setup: function () {
            var $ = this.$;

            this.$element.find('.map').closest('.content-box__row').remove();

            if (this.options.attributes.pickup_store_title) {
                var template = this.options.templates.pickupInfo;
                var $pickupInfoHeader = this.$('h3.heading-3:contains(Pickup location)');
                $pickupInfoHeader.html('Pickup location');
                $pickupInfoHeader.next().replaceWith(template);
            }

            // change ContactUs email
            if (this.options.customSettings.ContactUsLink) {
                var newEmail = this.options.customSettings.ContactUsLink;
                var ContactUs = this.$element.find('[data-contact-us-link]');
                if (ContactUs.length) {
                    ContactUs.each(function () {
                        $(this).attr("href", `mailto:${newEmail}`);
                    })
                }
            }

        }
    });

    var changeButtonLabel = makeCustomisation({
        id: 'change-button-label',
        steps: [STEP_CONTACT_INFORMATION],
        selector: '.step__footer #continue_button',
        setup: function () {
            var $ = this.$,
                $element = this.$element;

            $('[data-tabs-button="#panel-pickup"], [data-delivery-pickup-radio-label]').on('click', function () {
                $element.find('.btn__content').text('Select store');
                if (!$('input[name="checkout[attributes][pickup_store_id]"]').is(":checked")) {
                    $element.prop("disabled", true);
                } else {
                    if ($('input[name="checkout[attributes][pickup_store_id]"][data-availability="partial"]:checked').length) {
                        if (!$element.find('.btn-subtext').length) {
                            addButtonSubtext();
                        }
                    }
                }
            });
            $('[data-tabs-button="#panel-ship"], [data-delivery-ship-radio-label]').on('click', function () {
                $element.find('.btn__content').text('Continue to shipping');
                $element.prop("disabled", false);
                $element.find('.btn-subtext').remove();
            });

            if (isPickup() && $('input[name="checkout[attributes][pickup_store_id]"][data-availability="partial"]:checked').length) {
                addButtonSubtext();
            }
        }
    });

    function addButtonSubtext() {
        // console.log('adding subtext', $('.step__footer #continue_button'));
        custard.$('.step__footer #continue_button').append('<span class="btn-subtext"> And remove unavailable items </span>');
        // custard.$('.step__footer #continue_button').find('.btn__content').text('TEST TEST');
        setTimeout(function () {
            custard.$('.step__footer #continue_button').find('.btn__content').text('Select store');
            custard.$('.step__footer #continue_button').on('click', function (event) {
                var isPickup = custard.$("[data-delivery-pickup-radio-label]").closest('.content-box__row').find('input:checked').length > 0;
                var isPartialSelected = custard.$('input[name="checkout[attributes][pickup_store_id]"][data-availability="partial"]:checked').length
                if (isPickup && isPartialSelected) {
                    event.preventDefault();
                    event.stopPropagation();
                    reloadItems();
                }
            })
        }, 150);
    }

    function reloadItems() {
        console.log('reloadItems');
        var checkoutLink = "/cart/"
        var selectedStoreSelector = 'input[name="checkout[attributes][pickup_store_id]"]:checked';
        var availableItems = custard.$(selectedStoreSelector).data('location-items');
        var selectedPickupStore = custard.$(selectedStoreSelector).val();
        var customerEmail = custard.$('#checkout_email').val();
        var itemString = ""
        var iterations = availableItems.length;
        var checkout_attributes = ['title', 'street', 'city', 'province', 'zip']
        for (const item of availableItems) {
            itemString = itemString + `${item.id}:${item.quantity}`
            if (--iterations) itemString = itemString + ","
        }
        var checkoutLink = checkoutLink + itemString + `?attributes[pickup_store_id]=${selectedPickupStore}&note=${selectedPickupStore}`;

        for (const attr of checkout_attributes) {
            var urlVal = custard.$(selectedStoreSelector).attr(`data-location-${attr}`);
            checkoutLink = checkoutLink + `&attributes[pickup_store_${attr}]=${encodeURIComponent(urlVal)}`
        }
        if (customerEmail) checkoutLink = checkoutLink + "&checkout[email]=" + customerEmail
        window.location.href = checkoutLink;
    }

    var makeAdjustmentsToPaymentStep = makeCustomisation({
        id: 'adjust-payments-step',
        steps: [STEP_PAYMENT_METHOD],
        selector: '[data-step="' + STEP_PAYMENT_METHOD + '"]',
        setup: function () {
            var $shippingMethodLinks = this.$('[href$="' + STEP_SHIPPING_METHOD + '"]');
            $shippingMethodLinks.each(function (i, el) {
                el.href = el.href.replace(STEP_SHIPPING_METHOD, STEP_CONTACT_INFORMATION);
            });
            console.log(this.options);
            if (this.options.attributes.pickup_store_title) {
                var $methodReviewBlock = this.$('.review-block:contains(Method)');
                this.$('.review-block__content', $methodReviewBlock).html(this.options.templates.pickupReviewDetailsBlock);
            }

        }
    });

    var addCkeckboxOnPayment = makeCustomisation({
        id: 'adjust-payments-step',
        steps: [STEP_PAYMENT_METHOD],
        selector: getSelector(),
        setup: function () {
            var $ = this.$,
                templates = this.options.templates,
                variables = this.options.checkboxSettings,
                disable = variables.checkboxDisable,
                $element = this.$element,
                $button = $('#continue_button');

            if (disable) {
                return
            }

            $element.append(replaceVariables(variables));

             var $warning = $('.checkbox_payment--warning'),
                 $checkbox = $('.checkbox_payment--input');

            $button.on('click', (e) => {
                $checkbox.prop('checked') ? hideWarning() : warning(e);

                function warning(e) {
                    e.preventDefault();
                    showWarning();
                }
            });

            $checkbox.on('click', () => {
                $checkbox.prop('checked') ? hideWarning() : showWarning();
            });

            function hideWarning() {
                $warning.addClass('custom__hidden');
            }

            function showWarning() {
                $warning.removeClass('custom__hidden');
            }

            function replaceVariables(variables) {
                var template = templates.checkboxOnPayment;
                template = template.replace(/%title%/g, variables.checkboxTitle);
                template = template.replace(/%text%/g, variables.checkboxText.html);
                template = template.replace(/%warning%/g, variables.checkboxWarning.html);
                return $(template);
            }


        }
    });

    window.custard = new Custard([
        AddShippingCheck,
        addPickupOptions,
        displayPickupInfoOnConfirmationPage,
        hideDefaultPickupOption,
        makeAdjustmentsToPaymentStep,
        changeButtonLabel,
        addCkeckboxOnPayment
    ]);

    window.custard.init(jQuery || Checkout.jQuery, Shopify.Checkout.step || (Shopify.Checkout.OrderStatus ? 'order_status' : null), {
        templates: {
            shippingPrice: {{ SHIPPING_PRICE | json }},
            existingAttributes: {{ EXISTING_ATTRIBUTES | json }},
            pickupOptionsPlaceholder: {{ PICKUP_OPTIONS_PLACEHOLDER | json }},
            pickupOptions: {{ PICKUP_OPTIONS | json }},
            pickupStoreOption: {{ PICKUP_STORE_OPTION | json }},
            pickupStoreDetailsAdditionalFields: {{ PICKUP_OPTIONS_STORE_ADDITIONAL_FIELDS | json }},
            pickupInfo: {{ PICKUP_INFO | json }},
            pickupReviewDetailsBlock: {{ PICKUP_REVIEW_DETAILS_BLOCK | json }},
            checkboxOnPayment: {{ CHECKBOX_ON_PAYMENT | json }}
        },
        text: {
            "shipping_text": {{ shop.metafields.shipping.how_much_to_spend_text | json }}
        },
        attributes: {
    {% for attribute in checkout.attributes %}
    {{ attribute.first | json }}: {{ attribute.last | json }},
    {% endfor %}
    },
    checkboxSettings: {
        checkboxDisable: {{ shop.metafields.checkout.disable_checkout_checkbox | json }},
        checkboxTitle: {{ shop.metafields.checkout.checkout_checkbox_title | json }},
        checkboxText: {{ shop.metafields.checkout.checkout_checkbox_text | json }},
        checkboxWarning: {{ shop.metafields.checkout.checkout_checkbox_warning | json }}
            }
    ,
    customSettings: {
        ContactUsLink: {{ shop.metafields.checkout.custom_url_for_contact_us | json }}
            }
    ,
    shop: {
        pickupStores: [
            {% for id in shop.metafields.stores.store_id %}
            {
                id: {{ id | json }},
                name: {{ shop.metafields.stores.name[forloop.index0] | json }},
                street: {{ shop.metafields.stores.street[forloop.index0] | json }},
                city: {{ shop.metafields.stores.city[forloop.index0] | json }},
                province: {{ shop.metafields.stores.province[forloop.index0] | json }},
                email: {{ shop.metafields.stores.email[forloop.index0] | json }},
                phone: {{ shop.metafields.stores.phone[forloop.index0] | json }},
                postcode: {{ shop.metafields.stores.postcode[forloop.index0] | json }},
                country: {{ shop.metafields.stores.country[forloop.index0] | json }}
            }{% unless forloop.last %},{% endunless %}
            {% endfor %}
        ],
            shippingAddress
    : {{ checkout.shipping_address | json }},
        subTotalPrice : {{ checkout.line_items_subtotal_price | money_without_currency | json }},
        moneyFormats : {{ shop.money_format | json }},
        checkoutCurrency: {{ checkout.currency | json }},
        shopCurrency: {{ shop.currency | json }}
            }
    ,

    shippingLimit: [
        {% for price in shop.metafields.shipping.shipping_original_price %}
        {
    {{ price | json }} : {{ shop.metafields.shipping.condition_for_free_shipping[forloop.index0] | json }}
    } {% unless forloop.last %},{% endunless %}
    {% endfor %}
    ],
    })
    ;

</script>
<style>
    .shipping__progress-bar-container {
        margin-top: 30px;
        margin-bottom: 30px;
        border-radius: 4px;
        padding: 20px;
        border: 1px solid #d9d9d9;
    }

    .bar-progress {
        display: inline-block;
        height: 6px;
        background: #ee802a;
    }

    .shipping__progress-bar {
        width: 100%;
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .shipping__heading {
        display: flex;
        justify-content: center;
    }

    .shipping__heading p {
        line-height: 1;
    }

    .shipping__icon {
        margin-right: 15px;
    }

    .shipping__info {
        text-align: center;
    }

    [data-pickup-tab-content] {
        display: none;
    }

    /*CHECKBOX*/

    #checkbox_payment {
        padding: 30px 0 0;
    }

    .checkbox_payment--wrapper {
        display: flex;
        align-items: center;
        padding: 8px 0;
    }

    input.checkbox_payment--input {
        -webkit-appearance: checkbox;
        -moz-appearance: checkbox;
        appearance: auto;
        width: 16px;
        height: 16px;
    }

    .checkbox_payment--text {
        padding: 0 10px;
    }

    .checkbox_payment--warning {
        background-color: #ffebeb;
        padding: 5px;
        border: 1px solid #fad9d9;
        border-radius: 4px;
        color: #545454;
        transition: visibility 300ms ease, opacity 300ms ease;
    }

    .custom__hidden {
        opacity: 0;
        visibility: hidden;
    }

</style>