{%- if full_product -%}
  {%- assign real_product = full_product -%}
{%- else -%}
  {%- assign real_product = product -%}
{%- endif -%}

{%- if full_product -%}{%- assign variable_compare_at_price_max = product.compare_at_price -%}{%- else -%}{%- assign variable_compare_at_price_max = product.compare_at_price_max -%}{%- endif -%}
{%- if full_product -%}
  {%- assign variable_price_min = product.price -%}
{%- else -%}
  {%- assign variable_price_min = product.price_min -%}
{%- endif -%}
{%- if product.vendor -%}{%- assign variable_vendor = product.vendor -%}{%- else -%}{%- assign variable_vendor = full_product.vendor -%}{%- endif -%}
<div class="product-thumbnail">  
  {% if hover_enabled %}
    <span class="product-thumbnail__title">{% render 'variable-product-title', product: product, full_product: full_product %}</span>
  {% else %}
    <a href="{{ product.url | within: collection }}" class="product-thumbnail__title">{% render 'variable-product-title', product: product, full_product: full_product %}</a>
  {% endif %}
  {% if settings.display_vendor %}
    {% if variable_vendor == "Untouched World" %}
      {% if product.metafields.custom.product_short_description.value != blank or product.product.metafields.custom.product_short_description.value != blank %}
        {% if product.metafields.custom.product_short_description.value != blank %}
          <span class="product-thumbnail__vendor">{{ product.metafields.custom.product_short_description.value }}</span>
        {% elsif product.product.metafields.custom.product_short_description.value != blank %}
          <span class="product-thumbnail__vendor">{{ product.product.metafields.custom.product_short_description.value }}</span>
        {% endif %}
      {% endif %}
    {% else %}
      <span class="product-thumbnail__vendor">{{ variable_vendor }}</span>
    {% endif%}
  {% endif %}

  {% if collection_handles contains 'coming-soon' %}
    {% if settings.stickers_enabled == false %}
      {{ 'collections.general.coming_soon' | t }}
    {% endif %}
  {% elsif product.available == false %}
    <span class="product-thumbnail__price">
      {{ 'collections.general.sold_out' | t }}
    </span>
  {% else %}
    <span class="product-thumbnail__price price {% if variable_compare_at_price_max > product.price %}sale{% endif %}">
      {% comment %}
        {% if product.price_varies and variable_price_min > 0 %}
          <small><em>{{ 'products.general.from' | t }}</em></small>
        {% endif %}
      {% endcomment %}      
      {% if variable_price_min > 0 %}
        <span class="money">
          {%
            render 'price-element',
            price: variable_price_min
          %}
        </span>
        {% if product.price_varies %}
          <span> - </span>
          <span class="money">
            {%
              render 'price-element',
              price: product.price_max
            %}
          </span>
        {% endif %}
      {% else %}
        {{ settings.free_price_text }}
      {% endif %}
      {% if product.compare_at_price > product.price %}
        <span class="product-thumbnail__was-price compare-at-price">
          <span class="money">
            {%
              render 'price-element',
              price: product.compare_at_price,
            %}
          </span>
        </span>
      {% endif %}
    </span>    
    {% if settings.select_first_available_variant %}
      {%- assign variant_for_unit_price = product.variants | sort: 'price' | first -%}
      {%
        render 'unit-price',
        item: variant_for_unit_price,
        class: 'product-thumbnail__unit-price'
      %}
    {% endif %}
  {% endif %}
</div>
