{%- if product.featured_image -%}{%- assign variable_featured_image = product.featured_image -%}{%- else -%}{%- assign variable_featured_image = full_product.featured_image -%}{%- endif -%}
{%- if full_product -%}
  {%- assign real_product = full_product -%}
{%- else -%}
  {%- assign real_product = product -%}
{%- endif -%}

{%- if full_product -%}
  {%- assign variable_product_metafields = full_product.metafields -%}
{%- else -%}
  {%- assign variable_product_metafields = product.metafields -%}
{%- endif -%}

{%- if full_product -%}
  {%- assign product_id = full_product.id -%}
{%- else -%}
  {%- assign product_id = product.id -%}
{%- endif -%}

{%- if full_product -%}{%- assign variable_compare_at_price_max = product.compare_at_price -%}{%- else -%}{%- assign variable_compare_at_price_max = product.compare_at_price_max -%}{%- endif -%}
{%- if full_product -%}
  {%- assign variable_price_min = product.price -%}
{%- else -%}
  {%- assign variable_price_min = product.price_min -%}
{%- endif -%}

{%- if product.media -%}{%- assign variable_media = product.media -%}{%- else -%}{%- assign variable_media = full_product.media -%}{%- endif -%}
{%- if full_product -%}
  {%- assign media_cursor = 0 -%}
  {%- if variable_featured_image == null -%}
    {%- assign media_cursor = 1 -%}
  {%- else -%}
    {%- for media in variable_media -%}{%- if media == variable_featured_image.src %}{% assign media_cursor = forloop.index -%}{%- break -%}{%- endif -%}{%- endfor -%}
  {%- endif -%}
  {%- assign prev_cursor = media_cursor | minus: 2 -%}{%- assign second_media = variable_media[media_cursor] | default: variable_media[prev_cursor] -%}
{%- else -%}{%- assign second_media = variable_media[1] -%}{%- endif -%}{%- if product.featured_media -%}{%- assign variable_featured_media = product.featured_media -%}{%- else -%}{%- assign variable_featured_media = full_product.featured_media -%}{%- endif -%}
{%- if product.vendor -%}{%- assign variable_vendor = product.vendor -%}{%- else -%}{%- assign variable_vendor = full_product.vendor -%}{%- endif -%}
{%- if full_product == null -%}
  {%- assign variable_product_first_variant = product.selected_or_first_available_variant -%}
{%- else -%}
  {%- if full_product.id == product.id or product.title == 'Default Title' -%}
    {%- assign variable_product_first_variant = full_product.selected_or_first_available_variant -%}
  {%- else -%}
    {%- assign variable_product_first_variant = product -%}
  {%- endif -%}
{%- endif -%}

{% if related_products == true %}
  {% assign hover_enabled = block.settings.show_related_products_title_on_hover %}
{% else %}
  {% assign hover_enabled = settings.thumbnail_hover_enabled %}
{% endif %}

{% if type == 'block' %}
  {% assign object = block %}
{% else %}
  {% assign object = section %}
{% endif %}

{% assign secondaryImage = second_media %}

{% assign collection_handles = product.collections | map: 'handle' %}
{% if variable_featured_media.preview_image.alt contains 'youtube' or image.alt contains 'vimeo' %}
  {% assign alt_text = product.title %}
{% else %}
  {% assign alt_text = variable_featured_media.preview_image.alt %}
{% endif %}

{% if type == 'block' %}
  {% assign image_crop = block.settings.image_crop %}
{% else %}
  {% assign image_crop = section.settings.image_crop %}
{% endif %}

{% if align_height == true %}
  {% style %}
    .shopify-model-viewer-ui model-viewer {
      --progress-bar-height: 2px;
      --progress-bar-color: {{ settings.regular_color }};
    }
  {% endstyle %}
{% endif %}

<div class="
  {%
    render 'column-width',
    value: products_per_row
  %}
  medium-down--one-half
  {% if mobile_products_per_row == '1' %}
    small-down--one-whole
  {% else %}
    small-down--one-half
  {% endif %}
  column
  {% if settings.enable_quickshop %}
    quick-shop--true
    quick-shop--closed
    product-{{ product_id }} js-product_section
  {% endif %}
  {% if settings.stickers_enabled %}
    has-thumbnail-sticker
  {% endif %}
  {% if second_media != blank and settings.show_secondary_image == true %}
    has-secondary-image-swap
  {% endif %}
  thumbnail
  product__thumbnail
  product__grid-item
  thumbnail__hover-overlay--{{ hover_enabled }}
  has-padding-bottom"
  {% if section.settings.pagination_type != 'basic_pagination' %}
    data-load-more--grid-item
  {% endif %}>
  <div class="product-wrap">

      <div class="product-image__wrapper">
        <div class="image__container product__imageContainer">
          <a href="{{ product.url | within: collection }}">
            {% if settings.stickers_enabled %}
              {%
                render 'product-thumbnail__sticker',
                product: product,
                context: 'product',
                collection_handles: collection_handles
              %}
            {% endif %}

            {% comment %} Primary image, if collection name is men, men's image only. If collection name is women, women's image {% endcomment %}            
            {% assign showing_image_1 = blank %}
            {% assign showing_image_2 = blank %}
            {% assign showing_image_1_alt = blank %}
            {% assign showing_image_2_alt = blank %}
            {% assign unisex_mans = shop.metafields.global.unisex_man.value | remove:" " | split: "," %}
            {% assign unisex_womans = shop.metafields.global.unisex_woman.value | remove:" " | split: "," %}
            {% if unisex_mans contains collection.handle %}
              {% for media in variable_media %}
                  {% if media.preview_image.alt contains '|mens' %}
                      {% if showing_image_1 == blank %}
                        {% assign showing_image_1 = media.preview_image %}
                        {% assign showing_image_1_alt = media.preview_image.alt %}
                      {% endif %}
                      {% if showing_image_2 == blank %}
                        {% assign showing_image_2 = media.preview_image %}
                        {% assign showing_image_2_alt = media.preview_image.alt %}
                      {% endif %}
                      {% break %}
                  {% endif%}
              {% endfor %}
              {% if showing_image_1 == blank and showing_image_2 == blank %}
                {% assign showing_image_1 = variable_featured_media.preview_image %}
                {% assign showing_image_2 = second_media %}
              {% endif %}
            {% elsif unisex_womans contains collection.handle %}
              {% for media in variable_media %}
                  {% if media.preview_image.alt contains '|womens' %}
                      {% if showing_image_1 == blank %}
                        {% assign showing_image_1 = media.preview_image %}
                        {% assign showing_image_1_alt = media.preview_image.alt %}
                      {% endif %}
                      {% if showing_image_2 == blank %}
                        {% assign showing_image_2 = media.preview_image %}
                        {% assign showing_image_2_alt = media.preview_image.alt %}
                      {% endif %}
                      {% break %}
                  {% endif%}
              {% endfor %}
              {% if showing_image_1 == blank and showing_image_2 == blank %}
                {% assign showing_image_1 = variable_featured_media.preview_image %}
                {% assign showing_image_2 = second_media %}
              {% endif %}
            {% else %}
              {% assign showing_image_1 = variable_featured_media.preview_image %}
              {% assign showing_image_2 = second_media %}
            {% endif %}
           {%
              render 'image-element',
              image: showing_image_1,
              alt: showing_image_1_alt,
              object_fit: align_height,
              max_height: height
            %}

            {% comment %} Secondary image {% endcomment %}
            {% if showing_image_2 != blank and settings.show_secondary_image == true %}
              {% if showing_image_2.media_type == 'external_video' %}
                <div class="product-thumbnail__video secondary swap--visible video-on-hover">
                  <div data-youtube-video>
                    {{ showing_image_2 | external_video_tag }}
                  </div>
                </div>
              {% elsif showing_image_2.media_type == 'video' %}
                <div class="product-thumbnail__video secondary swap--visible video-on-hover" data-html5-video>
                  {{ showing_image_2 | video_tag: controls: false }}
                </div>
              {% else %}
                {%
                  render 'image-element',
                  image: showing_image_2,
                  alt: showing_image_2_alt,
                  object_fit: align_height,
                  max_height: height,
                  additional_classes: 'secondary swap--visible',
                %}
              {% endif %}
            {% endif %}
          </a>
        </div>

        {% if hover_enabled or settings.enable_quickshop %}
          <div class="thumbnail-overlay__container">
            <a class="hidden-product-link" href="{{ product.url | within: collection }}">{% render 'variable-product-title', product: product, full_product: full_product %}</a>

            {% if hover_enabled %}
              <div class="quick-shop__info animated fadeInDown">
                <div class="thumbnail-overlay">
                  <div class="info text-align-center">                   

                    <p class="product-thumbnail__title">{% render 'variable-product-title', product: product, full_product: full_product %}</p>

                    {% if settings.display_vendor %}
                      {% if variable_vendor == "Untouched World" %}
                        {% if product.metafields.custom.product_short_description.value != blank %}
                          <span class="product-thumbnail__vendor">{{ product.metafields.custom.product_short_description.value }}</span>
                        {% endif %}
                      {% else %}
                        <span class="product-thumbnail__vendor">{{ variable_vendor }}</span>
                      {% endif%}
                    {% endif %}

                    {% if collection_handles contains 'coming-soon' %}
                      <span>{{ 'collections.general.coming_soon' | t }}</span>
                    {% elsif product.available == false %}
                      <span class="product-thumbnail__price">
                        {{ 'collections.general.sold_out' | t }}
                      </span>
                    {% else %}
                      <span class="product-thumbnail__price price {% if variable_compare_at_price_max > variable_price_min %}sale{% endif %}">                        
                         {% if variable_price_min > 0 %}
                          <span class="money">
                            {%
                              render 'price-element',
                              price: variable_price_min
                            %}
                          </span>
                        {% else %}
                          {{ settings.free_price_text }}
                        {% endif %}
                        {% if real_product.price_varies %}
                          <span> - </span>
                          <span class="money">
                            {%
                              render 'price-element',
                              price: product.price_max
                            %}
                          </span>
                        {% endif %}
                        {%- assign variant = variable_product_first_variant -%}
                        {% if variable_compare_at_price_max > variable_price_min %}
                          <span class="product-thumbnail__was-price compare-at-price">
                            <span class="money">
                              {%
                                render 'price-element',
                                price: variable_compare_at_price_max
                              %}
                            </span>
                          </span>
                        {% endif %}
                      </span>
                      {% if settings.select_first_available_variant %}
                        {%- assign variant_for_unit_price = product.variants | sort: 'price' | first -%}
                        {%
                          render 'unit-price',
                          item: variant_for_unit_price,
                          class: 'product-thumbnail__unit-price'
                        %}
                      {% endif %}
                    {% endif %}
                  </div>
                </div>
              </div>
            {% endif %}

            {% if settings.enable_quickshop %}
              {%
                render 'product-thumbnail__quick-shop-button',
                product: real_product,
              %}
            {% endif %}

            {% if hover_enabled %}
              {% if settings.enable_shopify_collection_badges and variable_product_metafields.reviews.rating.value != blank %}
                <div class="product__rating rating">
                  {%
                    render 'rating-stars',
                    value: variable_product_metafields.reviews.rating.value.rating,
                    scale_max: variable_product_metafields.reviews.rating.value.scale_max,
                  %}

                  <p class="rating__text">
                    <span aria-hidden="true">
                      {{ variable_product_metafields.reviews.rating.value }} / {{ variable_product_metafields.reviews.rating.value.scale_max }}
                    </span>
                  </p>

                  <p class="rating__count">
                    <span aria-hidden="true">
                      {{ variable_product_metafields.reviews.rating_count }}
                      {% if variable_product_metafields.reviews.rating_count > 1 %}
                        {{ "general.accessibility.star_reviews_text" | t }}
                      {% else %}
                        {{ "general.accessibility.star_review_text" | t }}
                      {% endif %}
                    </span>
                  </p>
                </div>
              {% endif %}
            {% endif %}
          </div>
        {% endif %}
      </div>

      <div class="thumbnail__caption text-align-{{ settings.thumbnail_text_alignment }}">
        {%
          render 'product-thumbnail__product-info',
          full_product: full_product, product: product,
          collection_handles: collection_handles
        %}
      </div>
    </div>

  {%
    render 'product-thumbnail__swatch',
 product: real_product
  %}

  {% if hover_enabled == false %}
    {% if settings.enable_shopify_collection_badges and variable_product_metafields.reviews.rating.value != blank %}
      <div
        class="
          product__rating
          rating
          is-justify-{{ settings.thumbnail_text_alignment }}
        "
      >
        {%
          render 'rating-stars',
          value: variable_product_metafields.reviews.rating.value.rating,
          scale_max: variable_product_metafields.reviews.rating.value.scale_max,
        %}

        <p class="rating__text">
          <span aria-hidden="true">
            {{ variable_product_metafields.reviews.rating.value }} / {{ variable_product_metafields.reviews.rating.value.scale_max }}
          </span>
        </p>

        <p class="rating__count">
          <span aria-hidden="true">
            {{ variable_product_metafields.reviews.rating_count }}
            {% if variable_product_metafields.reviews.rating_count > 1 %}
              {{ "general.accessibility.star_reviews_text" | t }}
            {% else %}
              {{ "general.accessibility.star_review_text" | t }}
            {% endif %}
          </span>
        </p>
      </div>
    {% endif %}
  {% endif %}
</div>
