{% comment %}
    Product snippet

    @param product
    @param selected_variant
    @param width
    @param css_class
    @param display_social_buttons
    @param display_thumbnails
    @param enable_product_lightbox
    @param enable_thumbnail_slider
    @param enable_zoom
    @param gallery_arrows
    @param product_description_position
    @param product_height
    @param set_product_height
    @param slideshow_transition
    @param stickers_enabled
    @param tag_style
    @param thumbnail_position
    @param video_looping
    @param section_onboarding
  {% endcomment %}

{% comment %} HTML markup {% endcomment %}

<div class="product_section
            js-product_section
            container
            is-justify-space-between
            has-padding-bottom
            {% if product_images_position == 'right' %}
              is-flex-row-reverse
            {% endif %}">

  <div class="product__images
              one-half
              column
              medium-down--one-whole
              utw">
    {% if section_onboarding %}
      <div class="featured-product__images">
        {{ 'product-1' | placeholder_svg_tag: 'placeholder-svg placeholder-svg--product' }}
      </div>
    {% else %}
      {%
        render 'UTW-product__images',
        product: product,
        display_thumbnails: display_thumbnails,
        thumbnail_position: thumbnail_position,
        enable_thumbnail_slider: enable_thumbnail_slider,
        product_height: product_height,
        set_product_height: set_product_height,
        video_looping: video_looping
        gallery_arrows: gallery_arrows,
        slideshow_transition: slideshow_transition,
        enable_product_lightbox: enable_product_lightbox,
        enable_zoom: enable_zoom
      %}
    {% endif %}
  </div>

  <div class="product-info-wrap utw">
    <div class="product__information
      has-product-sticker
      one-half
      column
      medium-down--one-whole">

    {% comment %} Sale sticker {% endcomment %}
    {% if stickers_enabled %}
    {% assign collection_handles = product.collections | map: 'handle' %}
    {%
    render 'product-thumbnail__sticker',
    product: product,
    context: 'product',
    collection_handles: collection_handles,
    %}
    {% endif %}

    {%- for block in section.blocks -%}
    <div
    class="
      product-block
      product-block--{{ block.type | downcase | replace: '_', '-' }}
      {% if forloop.first == true %}
        product-block--first
      {% endif %}
    "
    {{ block.shopify_attributes }}
    >
    {%- if block.type == 'vendor' -%}
      {% comment %} Vendor {% endcomment %}
      <p class="vendor">
        <span class="vendor">
          {% if section_onboarding %}
            Vendor name
          {% else %}
            {% unless product.vendor == 'Untouched World' %}
              {{ product.vendor | link_to_vendor }}
            {% endunless %}            
          {% endif %}
        </span>
      </p>

    {%- elsif block.type == 'sku' -%}
      {% comment %} Sku {% endcomment %}
      <p class="sku">
        {% if section_onboarding %}
          1234567890
        {% else %}
          {{ selected_variant.sku }}
        {% endif %}
      </p>

    {%- elsif block.type == 'title' -%}
      {% comment %} Name {% endcomment %}
      <h1 class="product_name title">
        {% if is_product_modal %}
          <a href="{{ product.url }}">{{ product.title }}</a>
        {% elsif section_onboarding %}
          {{ 'homepage.onboarding.product_title' | t }}
        {% else %}
          {{ product.title }}
        {% endif %}
      </h1>

    {%- elsif block.type == 'size-chart' -%}
      {% comment %} Size chart {% endcomment %}
      {% for tag in product.tags %}
        {% if tag contains 'meta-size-chart-' %}
          {% assign meta_size_chart = true %}
        {% endif %}
      {% endfor %}

      {% if settings.size_chart != blank or block.settings.size_chart != blank or meta_size_chart %}
        <a
          class="product__size-chart"
          href="javascript:;"
          data-fancybox
          data-src="#size-chart{{ product.id }}"
          data-type="inline"
        >
          {{ block.settings.title | escape }}
        </a>
        {%
          render 'popup-size-chart',
          block: block,
          product_id: product.id,
        %}
      {% endif %}

    {%- elsif block.type == 'price' -%}
      {% comment %} Price {% endcomment %}
      <div class="modal_price subtitle" data-display-savings="{{ block.settings.display_savings }}">
        {% if section_onboarding %}
          <span class="money">$49.00</span>
        {% else %}
          {% comment %}Inject @pixelunion/shopify-price-ui/price-ui begin{% endcomment %}
          <div class="price-ui price-ui--loading" data-price-ui>
            <noscript>
              <style>
                .price-ui--loading {
                  display: block !important;
                  opacity: 1 !important;
                }
              </style>
            </noscript>
            {% assign compare_at_price = false %}
          
            {% if product.compare_at_price and product.compare_at_price != product.price %}
              {% if product.compare_at_price_varies %}
                {%- capture price_min -%}
                  {%-
                    render 'price-ui-templates',
                    template: 'price-min',
                    value: product.compare_at_price_min,
                  -%}
                {%- endcapture -%}
          
                {%- capture price_max -%}
                  {%-
                    render 'price-ui-templates',
                    template: 'price-max',
                    value: product.compare_at_price_max,
                  -%}
                {%- endcapture -%}
          
                {%- assign compare_at_price = 'product.price.range_html' | t: price_min: price_min, price_max: price_max -%}
              {% else %}
                {%- capture compare_at_price -%}
                  {%-
                    render 'price-ui-templates',
                    template: 'price',
                    value: product.compare_at_price,
                  -%}
                {%- endcapture -%}
              {% endif %}
            {% endif %}
          
            {% if product.price_varies %}
              {%- capture price_min -%}
                {%-
                  render 'price-ui-templates',
                  template: 'price-min',
                  value: product.price_min,
                -%}
              {%- endcapture -%}
          
              {%- capture price_max -%}
                {%-
                  render 'price-ui-templates',
                  template: 'price-max',
                  value: product.price_max,
                -%}
              {%- endcapture -%}
          
              {%- assign price = 'product.price.range_html' | t: price_min: price_min, price_max: price_max -%}
            {% else %}
              {%- capture price -%}
                {%-
                  render 'price-ui-templates',
                  template: 'price',
                  value: product.price,
                -%}
              {%- endcapture -%}
            {% endif %}
          
            {%-
              render 'price-ui-templates',
              template: 'price-ui',
              compare_at_price: compare_at_price,
              price: price,
              unit_pricing: false,
            -%}
          </div>
          {% comment %}Inject @pixelunion/shopify-price-ui/price-ui end{% endcomment %}

        {% endif %}
      </div>
      <a class="payment-options" href="#options">Payment Options</a>
      <div style="display:none">
        <div id="options" class="product__payments-widget">
          <div class="payments-item payments-afterpay">
            <a class="afterpay-link" href="https://www.afterpay.com/terms" target="_blank">
            <span class="afterpay-text">or 4 payments of {{ product.price | times: 1.0 | divided_by: 4 | money }}</span>
              <svg viewBox="0 0 182 36" xmlns="http://www.w3.org/2000/svg"><path d="M14.979 17.6166C14.979 14.3809 12.6815 12.1069 9.85919 12.1069C7.03692 12.1069 4.73933 14.4193 4.73933 17.6166C4.73933 20.7755 7.03692 23.1263 9.85919 23.1263C12.6843 23.1233 14.979 20.8522 14.979 17.6166ZM15.0194 27.2467V24.7426C13.627 26.4769 11.5543 27.5535 9.07218 27.5535C3.91485 27.5535 0 23.315 0 17.6166C0 11.9535 4.06475 7.64131 9.18749 7.64131C11.5975 7.64131 13.6299 8.72083 15.0223 10.4139V7.9864H19.6521V27.2467H15.0194Z" ></path><path d="M42.1408 22.9699C40.5207 22.9699 40.071 22.3535 40.071 20.7371V12.1865H43.046V7.9864H40.071V3.28783H35.3259V7.9864H29.2143V6.81545C29.2143 5.19616 29.8168 4.57972 31.4744 4.57972H32.5151V0.842683H30.232C26.3171 0.842683 24.4721 2.15226 24.4721 6.1577V7.98345H21.8372V12.1836H24.4721V27.2438H29.2172V12.1836H35.3288V21.622C35.3288 25.5508 36.7961 27.2467 40.636 27.2467H43.0835V22.9699H42.1408Z" ></path><path d="M59.158 15.8822C58.8207 13.3781 56.8229 11.8768 54.4907 11.8768C52.1556 11.8768 50.2357 13.3398 49.7485 15.8822H59.158ZM49.7081 18.8878C50.0483 21.737 52.0432 23.3563 54.5657 23.3563C56.5606 23.3563 58.1058 22.3918 59.0081 20.8522H63.8656C62.7355 24.9343 59.158 27.5535 54.4533 27.5535C48.7684 27.5535 44.7786 23.4713 44.7786 17.6549C44.7786 11.8385 48.9961 7.63836 54.5686 7.63836C60.1785 7.63836 64.2432 11.8768 64.2432 17.6549C64.2432 18.0796 64.2058 18.5014 64.1308 18.8878H49.7081Z" ></path><path d="M94.4118 17.6166C94.4118 14.496 92.1142 12.1069 89.2919 12.1069C86.4697 12.1069 84.1721 14.4193 84.1721 17.6166C84.1721 20.7755 86.4697 23.1263 89.2919 23.1263C92.1142 23.1233 94.4118 20.7371 94.4118 17.6166ZM79.5019 7.9864H84.1317V10.4905C85.5241 8.71788 87.594 7.64131 90.0789 7.64131C95.1613 7.64131 99.1511 11.9181 99.1511 17.5782C99.1511 23.2413 95.0864 27.5564 89.9665 27.5564C87.594 27.5564 85.6366 26.5919 84.2816 24.9756V35.1721H79.5019V7.9864Z" ></path><path d="M115.84 17.6166C115.84 14.3809 113.545 12.1069 110.72 12.1069C107.898 12.1069 105.6 14.4193 105.6 17.6166C105.6 20.7755 107.898 23.1263 110.72 23.1263C113.545 23.1233 115.84 20.8522 115.84 17.6166ZM115.88 27.2467V24.7426C114.488 26.4769 112.415 27.5535 109.933 27.5535C104.775 27.5535 100.861 23.315 100.861 17.6166C100.861 11.9535 104.925 7.64131 110.045 7.64131C112.455 7.64131 114.488 8.72083 115.88 10.4139V7.9864H120.51V27.2467H115.88Z" ></path><path d="M71.1562 9.87409C71.1562 9.87409 72.3353 7.64131 75.221 7.64131C76.4548 7.64131 77.2534 8.07489 77.2534 8.07489V12.9888C77.2534 12.9888 75.5122 11.8886 73.9122 12.1098C72.3122 12.331 71.3004 13.8353 71.3061 15.8469V27.2497H66.5264V7.98935H71.1562V9.87409Z" ></path><path d="M142.134 7.9864L130.444 35.1101H125.514L130.104 24.6246L122.343 7.9864H127.93L132.471 19.1031L137.129 7.9864H142.134Z" ></path><path d="M179.449 7.54987L167.86 0.707005C164.458 -1.30161 160.206 1.20842 160.206 5.22861V5.93059C160.206 6.56474 160.538 7.15169 161.074 7.46729L163.262 8.75918C163.905 9.13966 164.706 8.66479 164.706 7.90677V6.16066C164.706 5.2876 165.629 4.74194 166.367 5.17847L176.404 11.107C177.142 11.5435 177.142 12.6348 176.404 13.0684L166.367 18.9969C165.629 19.4335 164.706 18.8878 164.706 18.0147V17.0857C164.706 13.0655 160.454 10.5525 157.049 12.564L145.46 19.4069C142.059 21.4155 142.059 26.4415 145.46 28.4501L157.049 35.293C160.451 37.3016 164.706 34.7916 164.706 30.7714V30.0694C164.706 29.4353 164.375 28.8513 163.838 28.5327L161.65 27.2379C161.007 26.8574 160.206 27.3323 160.206 28.0903V29.8364C160.206 30.7095 159.283 31.2551 158.546 30.8186L148.508 24.8901C147.77 24.4535 147.77 23.3622 148.508 22.9257L158.546 16.9972C159.283 16.5606 160.206 17.1063 160.206 17.9794V18.9085C160.206 22.9286 164.458 25.4416 167.86 23.4301L179.449 16.5872C182.85 14.5845 182.85 9.55849 179.449 7.54987Z" ></path></svg>
            </a>
          </div>
        </div>
      </div>                    
    {%- elsif block.type == 'complementary_products' -%}
      {% comment %} Complementary products {% endcomment %}
      {%
        render 'complementary-products',
        product: product,
        block: block,
      %}

    {%- elsif block.type == 'description' -%}
      {% comment %} Description {% endcomment %}
      {% if block.settings.custom_description != blank %}
        <div class="description content has-padding-top">
          {{ block.settings.custom_description }}
        </div>
      {% elsif section_onboarding %}
        <div class="description content has-padding-top">
          <p>
            {{ 'homepage.onboarding.product_description' | t }}
          </p>
        </div>
      {% else %}
        {% if product.description != blank %}
          <div
            class="
              description
              content
              has-padding-top
            "
          >
            {% if is_product_modal %}
              {% if block.settings.truncate_words %}
                {{ product.description | strip_html | truncatewords: block.settings.truncate_words_limit | replace: 'Description', '' | replace: 'Dimensions', '' | replace: 'Details', '' | replace: 'Specs', '' | replace: 'Shipping', '' | replace: 'Size', '' | escape | split: '<!-- split -->' | first }}
              {% else %}
                {{ product.description | strip_html | replace: 'Description', '' | replace: 'Dimensions', '' | replace: 'Details', '' | replace: 'Specs', '' | replace: 'Shipping', '' | replace: 'Size', '' | escape | split: '<!-- split -->' | first }}
              {% endif %}
            {% else %}
              {{ product.description | split: '<!-- split -->' | first }}
            {% endif %}
          </div>
        {% endif %}
      {% endif %}

      {% if is_product_modal %}
        <a
          class="product__view-details"
          href="{{ product.url | within: collection }}"
          title="{{ product.title | escape }}"
        >
          {{- 'collections.general.view_product_details' | t -}}
        </a>
      {% endif %}

    {%- elsif block.type == 'form' -%}
      {% comment %} Purchase form {% endcomment %}
      {% if section_onboarding %}
        <div class="product-form-container has-padding-top">
          <div class="purchase-details">
            <div class="purchase-details__buttons purchase-details__spb--false">
              <button name="add" class="action_button button button--add-to-cart add_to_cart" data-label={{ add_to_cart_label | json }}><span class="text">{{ 'products.product.add_to_cart' | t }}</span></button>
            </div>
          </div>
        </div>
      {% else %}
        <div class="product-form-container has-padding-top">

          {% comment %} Notify form {% endcomment %}
          {% render 'product__notify-me-form', product: product %}

          {% comment %} Product form {% endcomment %}
          {% unless collection_handles contains 'coming-soon' %}
            {%
              render 'product__form',
              context: 'product',
              product: product,
              sold_out_options: sold_out_options,
              selected_variant: selected_variant,
              show_payment_button: block.settings.show_payment_button,
              collection_handles: collection_handles
            %}
          {% endunless %}
        </div>
      {% endif %}

    {%- elsif block.type == 'product-links' -%}
      {% comment %} Collections, type, tags {% endcomment %}
      {% if block.settings.show_collections or block.settings.show_tags or block.settings.show_type %}
        <div class="product__classification-links has-padding-top">
          {% if block.settings.show_collections %}
            <p class="product__collections-list tags">
              <span class="product__classification-title">{{ 'products.product.collections' | t }}:</span>
              {% for col in product.collections %}
                <span class="tag tag--{{ tag_style }}">
                  <a href="{{ col.url }}" title="{{ col.title }}">{{ col.title }}</a>
                </span>
              {% endfor %}
            </p>
          {% endif %}

          {% if block.settings.show_type %}
            <p class="product__type-list tags">
              <span class="product__classification-title">{{ 'products.product.product_types' | t }}:</span>
              <span class="tag tag--{{ tag_style }}">{{ product.type | link_to_type }}</span>
            </p>
          {% endif %}

          {% if block.settings.show_tags and product.tags.size > 0 %}
            <p class="product__tags-list tags">
              <span class="product__classification-title">{{ 'products.product.tags' | t }}:</span>
              {% for tag in product.tags %}
                {% unless tag contains 'meta-' %}
                  <span class="tag tag--{{ tag_style }}">
                    <a href="{{ routes.collections_url }}/{% if collection %}{{ collection.handle }}{% else %}all{% endif %}/{{ tag | handle }}" title="{{ 'products.product.products_tagged' | t: tag: tag }}">{{ tag }}</a>
                  </span>
                {% endunless %}
              {% endfor %}
            </p>
          {% endif %}
        </div>
      {% endif %}

    {%- elsif block.type == 'rating' -%}
      {% if product.metafields.reviews.rating.value != blank %}
        <div class="product__rating rating">
          {%
            render 'rating-stars',
            value: product.metafields.reviews.rating.value.rating,
            scale_max: product.metafields.reviews.rating.value.scale_max,
          %}

          <p class="rating__text">
            <span aria-hidden="true">
              {{ product.metafields.reviews.rating.value }} / {{ product.metafields.reviews.rating.value.scale_max }}
            </span>
          </p>

          <p class="rating__count">
            <span aria-hidden="true">
              {{ product.metafields.reviews.rating_count }}
              {% if product.metafields.reviews.rating_count > 1 %}
                {{ "general.accessibility.star_reviews_text" | t }}
              {% else %}
                {{ "general.accessibility.star_review_text" | t }}
              {% endif %}
            </span>
          </p>
        </div>
      {% endif %}

    {%- elsif block.type == 'share' -%}
      {% comment %} Social share icons {% endcomment %}
      <div class="product__social-share has-padding-top">
        {% render 'social-share-buttons' %}
      </div>

    {%- elsif block.type == 'text' -%}
      {% comment %} Text {% endcomment %}
      <div class="product-text">
        {{ block.settings.text }}
      </div>
    {% elsif block.type == '@app' %}
      <div class="product-app">
        {% render block %}
      </div>
    {%- endif -%}
    </div>
    {%- endfor -%}

    {% comment %} Accordeon info {% endcomment %}



    <div class="product-accordeon-info">
    {% for custom_tags in shop.metafields.globals.related_tags %}

    {% assign display_Accordion = false %}

    {% assign custom_tag = custom_tags | split: "|" %}
    {% for tag in custom_tag %}
    {% if product.tags contains tag %}
        {% assign display_Accordion = true %}
    {% endif %}
    {% endfor %}
    {% if display_Accordion %}
    <div class="product-accordeon-block">
      <div class="product-accordeon-title">
        {{ shop.metafields.globals.title[forloop.index0] }}
      </div>
      <div class="product-accordeon-description">
        {{ shop.metafields.globals.product_accordion_description[forloop.index0] }}
      </div>
    </div>
    {% endif %}
    {% endfor %}
    </div>

    </div>
  </div>
</div>