{% comment %}
Required values
label: <string>
______________
Optional values
href: <string>
type: <string>
style: <string>
class: <string>
attribute: <string>
{% endcomment %}

{% if label != blank %}
  {% if type == "link" %}
    <a style="color: {{button_color}}; background:{{button_background}};" {% if href != blank %}href="{{ href }}"{% endif %} class="button {{ style }} {{ class }}" {{ attribute }}>{{ label }}</a>
  {% else %}
    <button style="color: {{button_color}}; background:{{button_background}};" type="{{ type }}" class="button {{ style }} {{ class }}" {{ attribute }}>{{ label }}</button>
  {% endif %}
{% endif %}
