{% comment %}
Required values
title: <string>
heading_tag: <string>
context: <string>
______________
Optional values
url: <string>
text_alignment: <string>
enable_divider: <boolean>
{% endcomment %}

{% if text_alignment == blank %}
  {% assign text_alignment = center %}
{% endif %}

<div class="heading-wrapper--{{ context }}
            heading-wrapper
            heading-wrapper--{{ settings.heading_divider_style }}
            one-whole column
            is-flex
            is-flex-column
            is-align-{{ text_alignment }}
            text-align-{{ text_alignment }}
            utw">
  <{{- heading_tag }} class="{{ context }}__title title">
    {% if url != blank %}
      <a href="{{ url }}">
    {% endif %}

      {{ title }}

    {% if url != blank %}
      </a>
    {% endif %}
  </{{- heading_tag -}}>
  <div class="heading-sub">
    <p class="featured-collection-comment">{{section.settings.title_comment}}</p>  
    <div class="featured-other-collections">
      {% if section.settings.best_sellers != blank %}
        <a href="{{section.settings.best_sellers}}">Best Sellers</a>
      {% endif %}
      {% if section.settings.new_arrivals != blank %}
        <a href="{{section.settings.new_arrivals}}">New Arrivals</a>
      {% endif %}
    </div>
  </div>
</div>
