<ul class="social-icons is-flex is-flex-wrap {{flex_alignment}} utw">
  {% if settings.behance_link != '' %}
    <li>
      <a href="{{ settings.behance_link }}" title="{{ shop.name }} on Behance" rel="me" target="_blank"  rel="noopener" class="icon-behance">
        {% render 'UTW-icon', name: 'behance' %}
      </a>
    </li>
  {% endif %}

  {% if settings.clubhouse_link != '' %}
    <li>
      <a href="{{ settings.clubhouse_link }}" title="{{ shop.name }} on Clubhouse" rel="me" target="_blank"  rel="noopener" class="icon-clubhouse">
        {% render 'UTW-icon', name: 'clubhouse' %}
      </a>
    </li>
  {% endif %}

  {% if settings.discord_link != '' %}
    <li>
      <a href="{{ settings.discord_link }}" title="{{ shop.name }} on Discord" rel="me" target="_blank"  rel="noopener" class="icon-discord">
        {% render 'UTW-icon', name: 'discord' %}
      </a>
    </li>
  {% endif %}

  {% if settings.dribbble_link != '' %}
    <li>
      <a href="{{ settings.dribbble_link }}" title="{{ shop.name }} on Dribbble" rel="me" target="_blank"  rel="noopener" class="icon-dribbble">
        {% render 'UTW-icon', name: 'dribbble' %}
      </a>
    </li>
  {% endif %}

  {% if settings.email_link != '' %}
    <li>
      <a href="mailto:{{ settings.email_link }}" title="Email {{ shop.name }}" target="_blank"  rel="noopener" class="icon-email">
        {% render 'UTW-icon', name: 'email' %}
      </a>
    </li>
  {% endif %}

  {% if settings.facebook_link != '' %}
    <li>
      <a href="{{ settings.facebook_link }}" title="{{ shop.name }} on Facebook" rel="me" target="_blank"  rel="noopener" class="icon-facebook">
        {% render 'UTW-icon', name: 'facebook' %}
      </a>
    </li>
  {% endif %}

  {% if settings.flickr_link != '' %}
    <li>
      <a href="{{ settings.flickr_link }}" title="{{ shop.name }} on Flickr" rel="me" target="_blank"  rel="noopener" class="icon-flickr">
        {% render 'UTW-icon', name: 'flickr' %}
      </a>
    </li>
  {% endif %}

  {% if settings.houzz_link != '' %}
    <li>
      <a href="{{ settings.houzz_link }}" title="{{ shop.name }} on Houzz" rel="me" target="_blank"  rel="noopener" class="icon-houzz">
        {% render 'UTW-icon', name: 'houzz' %}
      </a>
    </li>
  {% endif %}

  {% if settings.instagram_link != '' %}
    <li>
      <a href="{{ settings.instagram_link }}" title="{{ shop.name }} on Instagram" rel="me" target="_blank"  rel="noopener" class="icon-instagram">
        {% render 'UTW-icon', name: 'instagram' %}
      </a>
    </li>
  {% endif %}

  {% if settings.kickstarter_link != '' %}
    <li>
      <a href="{{ settings.kickstarter_link }}" title="{{ shop.name }} on Kickstarter" rel="me" target="_blank"  rel="noopener" class="icon-kickstarter">
        {% render 'UTW-icon', name: 'kickstarter' %}
      </a>
    </li>
  {% endif %}

  {% if settings.linkedin_link != '' %}
    <li>
      <a href="{{ settings.linkedin_link }}" title="{{ shop.name }} on LinkedIn" rel="me" target="_blank"  rel="noopener" class="icon-linkedin">
        {% render 'UTW-icon', name: 'linkedin' %}
      </a>
    </li>
  {% endif %}

  {% if settings.medium_link != '' %}
    <li>
      <a href="{{ settings.medium_link }}" title="{{ shop.name }} on Medium" rel="me" target="_blank"  rel="noopener" class="icon-medium">
        {% render 'UTW-icon', name: 'medium' %}
      </a>
    </li>
  {% endif %}

  {% if settings.messenger_link != '' %}
    <li>
      <a href="{{ settings.messenger_link }}" title="{{ shop.name }} on Messenger" rel="me" target="_blank"  rel="noopener" class="icon-messenger">
        {% render 'UTW-icon', name: 'messenger' %}
      </a>
    </li>
  {% endif %}

  {% if settings.opensea_link != '' %}
    <li>
      <a href="{{ settings.opensea_link }}" title="{{ shop.name }} on OpenSea" rel="me" target="_blank"  rel="noopener" class="icon-opensea">
        {% render 'UTW-icon', name: 'opensea' %}
      </a>
    </li>
  {% endif %}

  {% if settings.pinterest_link != '' %}
    <li>
      <a href="{{ settings.pinterest_link }}" title="{{ shop.name }} on Pinterest" rel="me" target="_blank"  rel="noopener" class="icon-pinterest">
        {% render 'UTW-icon', name: 'pinterest' %}
      </a>
    </li>
  {% endif %}

  {% if settings.reddit_link != '' %}
    <li>
      <a href="{{ settings.reddit_link }}" title="{{ shop.name }} on Reddit" rel="me" target="_blank"  rel="noopener" class="icon-reddit">
        {% render 'UTW-icon', name: 'reddit' %}
      </a>
    </li>
  {% endif %}

  {% if settings.rss_link != '' %}
    <li>
      <a href="{{ settings.rss_link }}" title="{{ shop.name }} on RSS" rel="me" target="_blank"  rel="noopener" class="icon-rss">
        {% render 'UTW-icon', name: 'rss' %}
      </a>
    </li>
  {% endif %}

  {% if settings.snapchat_link != '' %}
    <li>
      <a href="{{ settings.snapchat_link }}" title="{{ shop.name }} on Snapchat" rel="me" target="_blank"  rel="noopener" class="icon-snapchat">
        {% render 'UTW-icon', name: 'snapchat' %}
      </a>
    </li>
  {% endif %}

  {% if settings.spotify_link != '' %}
    <li>
      <a href="{{ settings.spotify_link }}" title="{{ shop.name }} on Spotify" rel="me" target="_blank"  rel="noopener" class="icon-spotify">
        {% render 'UTW-icon', name: 'spotify' %}
      </a>
    </li>
  {% endif %}

  {% if settings.tiktok_link != '' %}
    <li>
      <a href="{{ settings.tiktok_link }}" title="{{ shop.name }} on TikTok" rel="me" target="_blank"  rel="noopener" class="icon-tiktok">
        {% render 'UTW-icon', name: 'tiktok' %}
      </a>
    </li>
  {% endif %}

  {% if settings.tumblr_link != '' %}
    <li>
      <a href="{{ settings.tumblr_link }}" title="{{ shop.name }} on Tumblr" rel="me" target="_blank"  rel="noopener" class="icon-tumblr">
        {% render 'UTW-icon', name: 'tumblr' %}
      </a>
    </li>
  {% endif %}

  {% if settings.twitch_link != '' %}
    <li>
      <a href="{{ settings.twitch_link }}" title="{{ shop.name }} on Twitch" rel="me" target="_blank"  rel="noopener" class="icon-twitch">
        {% render 'UTW-icon', name: 'twitch' %}
      </a>
    </li>
  {% endif %}

  {% if settings.twitter_link != '' %}
    <li>
      <a href="{{ settings.twitter_link }}" title="{{ shop.name }} on Twitter" rel="me" target="_blank"  rel="noopener" class="icon-twitter">
        {% render 'UTW-icon', name: 'twitter' %}
      </a>
    </li>
  {% endif %}

  {% if settings.vimeo_link != '' %}
    <li>
      <a href="{{ settings.vimeo_link }}" title="{{ shop.name }} on Vimeo" rel="me" target="_blank"  rel="noopener" class="icon-vimeo">
        {% render 'UTW-icon', name: 'vimeo' %}
      </a>
    </li>
  {% endif %}

  {% if settings.whatsapp_link != '' %}
    <li>
      <a href="{{ settings.whatsapp_link }}" title="{{ shop.name }} on WhatsApp" rel="me" target="_blank"  rel="noopener" class="icon-whatsapp">
        {% render 'UTW-icon', name: 'whatsapp' %}
      </a>
    </li>
  {% endif %}

  {% if settings.youtube_link != '' %}
    <li>
      <a href="{{ settings.youtube_link }}" title="{{ shop.name }} on YouTube" rel="me" target="_blank"  rel="noopener" class="icon-youtube">
        {% render 'UTW-icon', name: 'youtube' %}
      </a>
    </li>
  {% endif %}
</ul>
