{%- assign locale_selector = false -%}
{%- assign currency_selector = false -%}

{%- if settings.show_currency_selector == true and shop.enabled_currencies.size > 1 -%}
  {%- assign currency_selector = true -%}
{%- endif -%}

{%- if settings.show_locale_selector == true and shop.published_locales.size > 1 -%}
  {%- assign locale_selector = true -%}
{%- endif -%}

<div class="mobile-menu">
  <div class="mobile-menu__content">
    <div class="mobile-menu__search-block">
      {% if mobile_search %}
        {% comment %} Search icon {% endcomment %}
        {% render 'search-mobile' %}
      {% endif %}
    </div>
    <ul class="mobile-menu__list">
      {% if settings.header_layout == 'vertical' %}
        {% for block in nav_blocks %}
          {% if block.type == 'navigation' %}
            {% assign main_menu = linklists[block.settings.main_linklist] %}
            {% render 'mobile-menu-loop', main_menu: main_menu %}
          {% endif %}
        {% endfor %}
      {% else %}
        {% assign main_menu = linklists[section.settings.main_linklist] %}
        {% assign left_main_menu = linklists[section.settings.left_main_linklist] %}
        {% assign right_main_menu = linklists[section.settings.right_main_linklist] %}
        {% render 'mobile-menu-loop', main_menu: main_menu %}
        {% render 'mobile-menu-loop', main_menu: left_main_menu %}
      {% endif %}
    </ul>
    <ul class="mobile-menu__user-list">
      {% if section.settings.display_wishlist_header %}
        {% comment %} Wishlist icon {% endcomment %}
        <li>
          {% if customer %}
            <!--@TODO Change wishlist url for logged account -->
            <a class="mobile-menu__item" href="{{ routes.account_login_url }}">
              <span>{{ 'layout.customer.wishlist' | t | escape }}</span>
            </a>
          {% else %}
            <a class="mobile-menu__item" href="{{ routes.account_login_url }}">
              <span>{{ 'layout.customer.wishlist' | t | escape }}</span>
            </a>
          {% endif %}
        </li>
      {% endif %}

      {% if shop.customer_accounts_enabled %}
        {% comment %} Accounts {% endcomment %}
        <li>
          {% if customer %}
            {% comment %} Logout {% endcomment %}
            <a class="mobile-menu__item" href="{{ routes.account_url }}">
              <span>{{ 'layout.customer.my_account' | t | escape }}</span>
            </a>
          {% else %}
            {% comment %} Login {% endcomment %}
            <a class="mobile-menu__item" href="{{ routes.account_login_url }}">
              <span>{{ 'layout.customer.log_in' | t | escape }}</span>
            </a>
          {% endif %}
        </li>
      {% endif %}
      {% render 'mobile-menu-loop', main_menu: right_main_menu %}
    </ul>
    <div class="mobile-menu__localization">
      {% render 'localization-switcher-mobile',
              additional_classes: 'selectors-form--mobile',
              currency_selector: currency_selector,
              locale_selector: locale_selector,
              show_currency: section.settings.show_currency_selector
      %}
    </div>
  </div>
</div>
