<section class="section career-section">
    <div class="container">
        <div class="career-header heading-wrapper">
            <h1>{{page.title}}</h1>
            <div class="career-header-content">
                {{page.content}}
            </div>
        </div>
        <div class="page__content">
            <div class="career-sub-header">
                <h4 class="career-sub-title first">Position</h4>
                <h4 class="career-sub-title">Location</h4>
                <h4 class="career-sub-title">Closing Date</h4>
            </div>
            <div class="career-group">
                {% for block in section.blocks %}
                    <div class="career-item">
                        <div class="career-item-header">
                            <h5 class="career-title first">{{block.settings.career_position}}</h5>
                            <h5 class="career-title">{{block.settings.career_location}}</h5>
                            <h5 class="career-title">{{block.settings.career_closing_date}}</h5>
                        </div>
                        <p class="career-item-content">
                            {{block.settings.career_item_content}}
                        </p>
                        <a href="{{block.settings.link}}" class="button button--primary">Apply Now</a>
                    </div>
                {% endfor %}                
            </div>
        </div>
    </div>
</section>
{% schema %}

{
  "name": "Careers block",
  "class": "career-block",
  "max_blocks": 6,
  "settings": [],
  "blocks": [
    {
      "type": "content",
      "name": "content",
      "settings": [
        {
          "type": "text",
          "id": "career_position",
          "label": "Position"
        },
        {
          "type": "text",
          "id": "career_location",
          "label": "Location"
        },
        {
           "type": "text",
           "id": "career_closing_date",
           "label": "Closing Date"
        },
        {
            "type": "textarea",
            "id": "career_item_content",
            "label": "Item content"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Button Link",
          "info": "Optional"
        }
      ]
    }
  ],
  "presets": [{
    "name": "Careers block",
    "category": "Careers block",
    "settings": {
    }
  }]
}


{% endschema %}