{% assign tag = section.settings.tag %}
  {% assign displaySizeGuide = false %}

  {% for pr_tag in product.tags %}
    {% if tag == pr_tag %}
      {% assign displaySizeGuide = true %}
    {% endif %}
  {% endfor %}

{% if displaySizeGuide %}
  <div class="product-size-chart-popup">
    <div class="product-size-chart-inner">
      <div class="product-size-chart-close">
        {% render 'icon' name: 'x' %}
      </div>
      <div class="product-size-chart-title">
        {{section.settings.title}}
      </div>
      <div class="product-size-chart-description">
        {{section.settings.descr}}
      </div>
      <div class="product-size-chart-sizes-wrap">

        {% for block in section.blocks %}
          <div class="product-size-chart-sizes {% if forloop.index0 != 0 %}hidden{% endif %}">
          <div class="product-size-chart-sizes-title"></div>
            {% if block.settings.label-1 != empty and block.settings.value-1 != empty %} <div class="product-size-chart-sizes-label">{{block.settings.label-1}}</div> {% endif %}
            {% if block.settings.label-2 != empty and block.settings.value-2 != empty %} <div class="product-size-chart-sizes-label">{{block.settings.label-2}}</div> {% endif %}
            {% if block.settings.label-3 != empty and block.settings.value-3 != empty %} <div class="product-size-chart-sizes-label">{{block.settings.label-3}}</div> {% endif %}
            {% if block.settings.label-4 != empty and block.settings.value-4 != empty %} <div class="product-size-chart-sizes-label">{{block.settings.label-4}}</div> {% endif %}
            {% if block.settings.label-5 != empty and block.settings.value-5 != empty %} <div class="product-size-chart-sizes-label">{{block.settings.label-5}}</div> {% endif %}
            {% if block.settings.label-6 != empty and block.settings.value-6 != empty %} <div class="product-size-chart-sizes-label">{{block.settings.label-6}}</div> {% endif %}
            {% if block.settings.label-7 != empty and block.settings.value-7 != empty %} <div class="product-size-chart-sizes-label">{{block.settings.label-7}}</div> {% endif %}
            {% if block.settings.label-8 != empty and block.settings.value-8 != empty %} <div class="product-size-chart-sizes-label">{{block.settings.label-8}}</div> {% endif %}
            {% if block.settings.label-9 != empty and block.settings.value-9 != empty %} <div class="product-size-chart-sizes-label">{{block.settings.label-9}}</div> {% endif %}
            {% if block.settings.label-10 != empty and block.settings.value-10 != empty %} <div class="product-size-chart-sizes-label">{{block.settings.label-10}}</div> {% endif %}
            {% if block.settings.label-11 != empty and block.settings.value-11 != empty %} <div class="product-size-chart-sizes-label">{{block.settings.label-11}}</div> {% endif %}
            {% if block.settings.label-12 != empty and block.settings.value-12 != empty %} <div class="product-size-chart-sizes-label">{{block.settings.label-12}}</div> {% endif %}
            {% if block.settings.label-13 != empty and block.settings.value-13 != empty %} <div class="product-size-chart-sizes-label">{{block.settings.label-13}}</div> {% endif %}
            {% if block.settings.label-14 != empty and block.settings.value-14 != empty %} <div class="product-size-chart-sizes-label">{{block.settings.label-14}}</div> {% endif %}
            {% if block.settings.label-15 != empty and block.settings.value-15 != empty %} <div class="product-size-chart-sizes-label">{{block.settings.label-15}}</div> {% endif %}
          </div>
        {% endfor %}

        {% for block in section.blocks %}
          {% assign counter = forloop.index0 | modulo: 2 %}
          <div class="product-size-chart-values {% if counter != 0 %}product-size-chart-values-grey{% endif %}">
            <div class="product-size-chart-sizes-title">{{block.settings.title}}</div>
            {% if block.settings.value-1 != empty %}  <div class="product-size-chart-sizes-value">{{block.settings.value-1}}</div> {% endif %}
            {% if block.settings.value-2 != empty %}  <div class="product-size-chart-sizes-value">{{block.settings.value-2}}</div> {% endif %}
            {% if block.settings.value-3 != empty %}  <div class="product-size-chart-sizes-value">{{block.settings.value-3}}</div> {% endif %}
            {% if block.settings.value-4 != empty %}  <div class="product-size-chart-sizes-value">{{block.settings.value-4}}</div> {% endif %}
            {% if block.settings.value-5 != empty %}  <div class="product-size-chart-sizes-value">{{block.settings.value-5}}</div> {% endif %}
            {% if block.settings.value-6 != empty %}  <div class="product-size-chart-sizes-value">{{block.settings.value-6}}</div> {% endif %}
            {% if block.settings.value-7 != empty %}  <div class="product-size-chart-sizes-value">{{block.settings.value-7}}</div> {% endif %}
            {% if block.settings.value-8 != empty %}  <div class="product-size-chart-sizes-value">{{block.settings.value-8}}</div> {% endif %}
            {% if block.settings.value-9 != empty %}  <div class="product-size-chart-sizes-value">{{block.settings.value-9}}</div> {% endif %}
            {% if block.settings.value-10 != empty %}  <div class="product-size-chart-sizes-value">{{block.settings.value-10}}</div> {% endif %}
            {% if block.settings.value-11 != empty %}  <div class="product-size-chart-sizes-value">{{block.settings.value-11}}</div> {% endif %}
            {% if block.settings.value-12 != empty %}  <div class="product-size-chart-sizes-value">{{block.settings.value-12}}</div> {% endif %}
            {% if block.settings.value-13 != empty %}  <div class="product-size-chart-sizes-value">{{block.settings.value-13}}</div> {% endif %}
            {% if block.settings.value-14 != empty %}  <div class="product-size-chart-sizes-value">{{block.settings.value-14}}</div> {% endif %}
            {% if block.settings.value-15 != empty %}  <div class="product-size-chart-sizes-value">{{block.settings.value-15}}</div> {% endif %}
          </div>
        {% endfor %}

      </div>
    </div>
  </div>
{% endif %}


{% schema %}
{
  "name": "Size chart 14",
  "settings": [
    {
      "type": "text",
      "id": "tag",
      "label": "Related to tag"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "textarea",
      "id": "descr",
      "label": "Description"
    }
  ],
  "blocks": [
    {
      "name": "Size chart 14",
      "type": "chart",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Row title"
        },
        {
          "type": "header",
          "content": "Field 1"
        },
        {
          "type": "text",
          "id": "label-1",
          "label": "Label"
        },
        {
          "type": "text",
          "id": "value-1",
          "label": "Value"
        },
        {
          "type": "header",
          "content": "Field 2"
        },
        {
          "type": "text",
          "id": "label-2",
          "label": "Label"
        },
        {
          "type": "text",
          "id": "value-2",
          "label": "Value"
        },
        {
          "type": "header",
          "content": "Field 3"
        },
        {
          "type": "text",
          "id": "label-3",
          "label": "Label"
        },
        {
          "type": "text",
          "id": "value-3",
          "label": "Value"
        },
        {
          "type": "header",
          "content": "Field 4"
        },
        {
          "type": "text",
          "id": "label-4",
          "label": "Label"
        },
        {
          "type": "text",
          "id": "value-4",
          "label": "Value"
        },
        {
          "type": "header",
          "content": "Field 5"
        },
        {
          "type": "text",
          "id": "label-5",
          "label": "Label"
        },
        {
          "type": "text",
          "id": "value-5",
          "label": "Value"
        },
        {
          "type": "header",
          "content": "Field 6"
        },
        {
          "type": "text",
          "id": "label-6",
          "label": "Label"
        },
        {
          "type": "text",
          "id": "value-6",
          "label": "Value"
        },
        {
          "type": "header",
          "content": "Field 7"
        },
        {
          "type": "text",
          "id": "label-7",
          "label": "Label"
        },
        {
          "type": "text",
          "id": "value-7",
          "label": "Value"
        },
        {
          "type": "header",
          "content": "Field 8"
        },
        {
          "type": "text",
          "id": "label-8",
          "label": "Label"
        },
        {
          "type": "text",
          "id": "value-8",
          "label": "Value"
        },
        {
          "type": "header",
          "content": "Field 9"
        },
        {
          "type": "text",
          "id": "label-9",
          "label": "Label"
        },
        {
          "type": "text",
          "id": "value-9",
          "label": "Value"
        },
        {
          "type": "header",
          "content": "Field 10"
        },
        {
          "type": "text",
          "id": "label-10",
          "label": "Label"
        },
        {
          "type": "text",
          "id": "value-10",
          "label": "Value"
        },
        {
          "type": "header",
          "content": "Field 11"
        },
        {
          "type": "text",
          "id": "label-11",
          "label": "Label"
        },
        {
          "type": "text",
          "id": "value-11",
          "label": "Value"
        },
        {
          "type": "header",
          "content": "Field 12"
        },
        {
          "type": "text",
          "id": "label-12",
          "label": "Label"
        },
        {
          "type": "text",
          "id": "value-12",
          "label": "Value"
        },
        {
          "type": "header",
          "content": "Field 13"
        },
        {
          "type": "text",
          "id": "label-13",
          "label": "Label"
        },
        {
          "type": "text",
          "id": "value-13",
          "label": "Value"
        },
        {
          "type": "header",
          "content": "Field 14"
        },
        {
          "type": "text",
          "id": "label-14",
          "label": "Label"
        },
        {
          "type": "text",
          "id": "value-14",
          "label": "Value"
        },
        {
          "type": "header",
          "content": "Field 15"
        },
        {
          "type": "text",
          "id": "label-15",
          "label": "Label"
        },
        {
          "type": "text",
          "id": "value-15",
          "label": "Value"
        }
      ]
    }
  ],
  "presets": [{
    "name": "Size chart 14",
    "category": "Size chart",
    "settings": {
    }
  }]
}
{% endschema %}