{% for block in section.blocks %}
    {% for tag in product.tags %}
        {% if tag == block.settings.handle %}
            <div class="section is-width-standard product-fabric-wrap">
                <div class="product-fabric-text">
                    <div class="product-fabric-text-title">
                        {{block.settings.title}}
                    </div>
                    <div class="product-fabric-text-description">
                        {{block.settings.description}}
                    </div>
                    {% if block.settings.url != blank and block.settings.link_label != blank %}
                        <div class="product-fabric-text-link">
                            <a href="{{block.settings.url}}">{{block.settings.link_label}}</a>
                        </div>
                    {% endif %} 
                </div>
                <div class="product-fabric-image">
                    {% if block.settings.img != blank %}
                        <img src="{{block.settings.img | img_url: 'master'}}">
                    {% endif %}
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endfor %}
<script>
// ?
    var product = document.querySelector('.js-product_section')
    var fabric = document.querySelector('.product-fabric-wrap')
    var parent = product.parentElement;


    if (product && fabric && parent) {
        parent.appendChild(fabric)
    }

</script>

{% schema %}
{
    "name": "Product fabric content",
    "settings": [],
    "blocks": [
        {
            "name": "Fabric block",
            "type": "fabric",
            "settings": [
                {
                    "type": "text",
                    "id": "handle",
                    "label": "Tag related to fabric block"
                },
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title"
                },
                {
                    "type": "textarea",
                    "id": "description",
                    "label": "Description"
                },
                {
                    "type": "url",
                    "id": "url",
                    "label": "Link"
                },
                {
                    "type": "text",
                    "id": "link_label",
                    "label": "Link label",
                    "default": "Learn more"
                },
                {
                    "type": "image_picker",
                    "id": "img",
                    "label": "Image"
                }
            ]
        }
    ],
    "presets": [{
        "name": "Product fabric content",
        "category": "Product fabric",
        "settings": {
        }
  }]
}
{% endschema %}