{% comment %}
** Search page and results - main content area
{% endcomment %}

{% assign id = section.id %}
{% comment %}Layout{% endcomment %}
{% assign width = section.settings.width %}
{% assign padding_top = section.settings.padding_top %}
{% assign padding_bottom = section.settings.padding_bottom %}
{% assign animation = section.settings.animation | default: 'none' %}
{% comment %}Advanced{% endcomment %}
{% assign css_class = section.settings.css_class %}
{% assign custom_css = section.settings.custom_css %}

{%- assign filter_tree_horizontal_style = shop.metafields.bc-sf-filter.settings | split: 'general":' | last | split: 'filterTreeHorizontalStyle":"' | last | split: '","' | first | strip -%}
{%- assign enable_filter_sticky_d = shop.metafields.bc-sf-filter.settings | split: 'general":' | last | split: 'stickyFilterOnDesktop":' | last | split: ',' | first | strip -%}
{%- assign enable_filter_sticky_m = shop.metafields.bc-sf-filter.settings | split: 'general":' | last | split: 'stickyFilterOnMobile":' | last | split: ',' | first |  split: '}}' | first | strip -%}

{%- assign enable_filter_tree_button_desktop_h = false -%}
{%- if filter_tree_horizontal_style == 'style-expand' -%}
  {%- assign enable_filter_tree_button_desktop_h = true -%}
{%- endif -%}

{% style %}
  #shopify-section-{{ id }} {
    padding-top: {{ padding_top }}px;
    padding-bottom: {{ padding_bottom }}px;
    {% if width == 'wide' %}
      width: 100%;
      max-width: 95%;
    {% endif %}
  }

  .sidebar-section {
    {% if section.settings.sidebar_position == 'right' %}
      order: 1;
    {% endif %}
  }

  {% if section.settings.search_breadcrumb == false %}
    .breadcrumb__container {
      display: none;
    }
  {% endif %}

  {% if section.settings.pagination_type != 'basic_pagination' %}
    .breadcrumb__page-count {
      display: none !important;
    }
  {% endif %}

  {% render 'css-loop',
          css: custom_css,
          id: id
  %}
{% endstyle %}

{% comment %} HTML markup {% endcomment %}
<section class="section
        {{ css_class }}
        is-width-{{ width }}"
        {% if animation != "none" %}
          data-scroll-class="{{ animation }}"
        {% endif %}>
 	  <div class="container breadcrumb__container">
			<div class="one-whole column has-padding-bottom">
				<div class="breadcrumb__wrapper">
					{% include 'breadcrumb', type: 'search' %}
				</div>
			</div>
		</div>

		{% comment %} Search title {% endcomment %}
		<header class="container hide-when-banner-enabled">
			{% capture heading_title %}{{ 'general.search.title' | t }}{% endcapture %}
			{% include 'heading', title: heading_title, heading_tag: 'h1', context: 'search-page', text_alignment: 'left' %}
		</header>
		<h2 class="boost-pfs-search-result-header"></h2>
        {% comment %} Search main {% endcomment %}
        <div class="container">
          <div class="one-whole column">
            <form class="search-form" action="{{ routes.search_url }}">
              <div class="search__fields">
                {% if settings.search_option != 'everything' %}
                <input class="visuallyhidden" type="text" name="type" value="product" />
                {% endif %}
                <label for="q" class="visuallyhidden">{{ settings.search_placeholder }}</label>
                <div class="field">
                  <div class="control has-icons-left is-relative">
                    <input class="input" id="q" type="text" name="q" placeholder="{{ settings.search_placeholder }}" value="{{ search.terms }}" x-webkit-speech autocapitalize="off" autocomplete="off" autocorrect="off" />
                    {% include settings.icon, name: 'search', class: 'icon is-left' %}
                  </div>
                </div>
                <input type="submit" name="search" class="visuallyhidden" value="" />
              </div>
            </form>
          </div>
        </div>

		<div class="boost-pfs-search-result-toolbar">
				<div class="boost-pfs-search-result-item">
          <ul class="boost-pfs-search-result-panel-controls">
            <li>{% include 'boost-pfs-filter-skeleton', width: 2 %}</li>
            <li>{% include 'boost-pfs-filter-skeleton', width: 2 %}</li>
            <li>{% include 'boost-pfs-filter-skeleton', width: 1 %}</li>
          </ul>
				</div>
					<div class="boost-pfs-search-result-item">
						<span class="boost-pfs-search-total-result">
              {% include 'boost-pfs-filter-skeleton', width: 2 %}
						</span>
				</div>
		</div>

		<div class="container collection__content">
      <div class="one-whole column has-padding-bottom">        
        <div class="collection__filter_wrap">
          <div class="collection__filter_trigger active">
            <span>Filter</span>
          </div>
          {%- if enable_filter_tree_button_desktop_h -%}
            <div class="boost-pfs-filter-tree-h-wrapper {% if enable_filter_sticky_d %} boost-pfs-filter-tree-desktop-button-sticky-wrapper {% endif %}">
              <div class="boost-pfs-filter-tree boost-pfs-filter-tree-h" data-is-desktop>
              </div>
            </div>
          {%- endif -%}
          {%- unless enable_filter_tree_button_desktop_h -%}
            <div class="boost-pfs-filter-tree boost-pfs-filter-tree-h" data-is-desktop>
              {% comment %} Include placeholder template {% endcomment %}
              {% render 'boost-pfs-filter-skeleton', type: 'filter-tree-h'  %}
            </div>
          {%- endunless -%}      
          <div class="boost-pfs-filter-tree-mobile-button">{% include 'boost-pfs-filter-skeleton', type: 'button' %}</div>
          <div class="boost-pfs-filter-tree boost-pfs-filter-tree-v" data-is-mobile></div>
        </div>      
      </div>
    </div>

		{% assign products = search.results %}
		{% assign products_per_row = section.settings.products_per_row %}
        <div class="search__main">
          <div class="boost-pfs-filter-products container" {% if section.settings.pagination_type != 'basic_pagination' %}data-load-more--grid {% endif %}>
              {% comment %} Fix Shopify search term report {% endcomment %}
              {% paginate search.results by 2 %}
                {% if search.performed %}
                  {% for item in search.results %}
                    <li style="display: none !important"></li>
                  {% endfor %}
                {% endif %}
              {% endpaginate %}
          </div>
        </div>
		<div class="container boost-pfs-search-panel-product-show">
			<div class="one-whole column text-align-center has-margin-bottom">
				<div class="paginate">
					<div class="boost-pfs-filter-bottom-pagination"></div>
					<div class="boost-pfs-filter-load-more"></div>
				</div>
			</div>
		</div>
		</div>

		<div class="boost-pfs-search-result-wrap boost-hidden">
			<div class="boost-pfs-search-result-collections">
				<div class="boost-pfs-search-result-list-item"><a href="#">{% include 'boost-pfs-filter-skeleton', width: 4 %}</a></div>
				<div class="boost-pfs-search-result-list-item"><a href="#">{% include 'boost-pfs-filter-skeleton', width: 3 %}</a></div>
				<div class="boost-pfs-search-result-list-item"><a href="#">{% include 'boost-pfs-filter-skeleton', width: 4 %}</a></div>
			</div>
			<div class="one-whole column text-align-center has-margin-bottom"><div class="paginate"><div class="boost-pfs-search-result-collection-pagination">{% include 'boost-pfs-filter-skeleton', width: 4 %}</div></div></div>
		</div>
		<div class="boost-pfs-search-result-wrap boost-hidden">
			<div class="boost-pfs-search-result-pages">
				<div class="boost-pfs-search-result-list-item"><a href="#">{% include 'boost-pfs-filter-skeleton', width: 4 %}</a></div>
				<div class="boost-pfs-search-result-list-item"><a href="#">{% include 'boost-pfs-filter-skeleton', width: 3 %}</a></div>
				<div class="boost-pfs-search-result-list-item"><a href="#">{% include 'boost-pfs-filter-skeleton', width: 4 %}</a></div>
			</div>
			<div class="one-whole column text-align-center has-margin-bottom"><div class="paginate"><div class="boost-pfs-search-result-page-pagination">{% include 'boost-pfs-filter-skeleton', width: 4 %}</div></div></div>
		</div>
</section>

<script>
	// Declare boostPFSThemeConfig variable
	var boostPFSThemeConfig = {
		label: {
			sale: {{ 'collections.general.sale' | t | json }},
			best_seller: {{ 'collections.general.best_seller' | t | json }},
			coming_soon: {{ 'collections.general.coming_soon' | t | json }},
			new: {{ 'collections.general.new' | t | json }},
			pre_order: {{ 'collections.general.pre_order' | t | json }},
			staff_pick: {{ 'collections.general.staff_pick' | t | json }},
			sold_out: {{ 'products.product.sold_out' | t | json }},
			from: {{ 'products.general.from' | t | json }},
			previous: {{ 'general.pagination.previous' | t | json }},
			next: {{ 'general.pagination.next' | t | json }},
		},
		custom: {
			products_per_page: {% if section.settings.pagination_limit %} {{ section.settings.pagination_limit | json }} {% else %} 48 {% endif %},
			products_per_row: {% if section.settings.products_per_row %} {{ section.settings.products_per_row | json }} {% else %} 3 {% endif %},
			mobile_products_per_row: {% if section.settings.mobile_products_per_row %} {{ section.settings.mobile_products_per_row | json }} {% else %} 2 {% endif %},
			pagination_type: {% if section.settings.pagination_type %} {{ section.settings.pagination_type | json }} {% else %} "basic_pagination" {% endif %},
			enable_quickshop: {% if settings.enable_quickshop != nil %} {{ settings.enable_quickshop | json }} {% else %} true {% endif %},
			stickers_enabled: {% if settings.stickers_enabled != nil %} {{ settings.stickers_enabled | json }} {% else %} true {% endif %},
			sticker_shape: {% if settings.sticker_shape %} {{ settings.sticker_shape | json }} {% else %} "square" {% endif %},
			sticker_position: {% if settings.sticker_position %} {{ settings.sticker_position | json }} {% else %} "left" {% endif %},
			thumbnail_hover_enabled: {% if settings.thumbnail_hover_enabled != nil %} {{ settings.thumbnail_hover_enabled | json }} {% else %} true {% endif %},
			thumbnail_text_alignment: {% if settings.thumbnail_text_alignment %} {{ settings.thumbnail_text_alignment | json }} {% else %} "center" {% endif %},
			align_height: {% if section.settings.align_height != nil %} {{ section.settings.align_height | json }} {% else %} false {% endif %},
			collection_height: {% if section.settings.collection_height != nil %} {{ section.settings.collection_height | json }} {% else %} 200 {% endif %},
			image_loading_style: {% if settings.image_loading_style %} {{ settings.image_loading_style | json }} {% else %} "fade-in" {% endif %},
			show_secondary_image: {% if settings.show_secondary_image != nil %} {{ settings.show_secondary_image | json }} {% else %} false {% endif %},
			display_vendor: {% if settings.display_vendor != nil %} {{ settings.display_vendor | json }} {% else %} false {% endif %},
			free_price_text: {% if settings.free_price_text %} {{ settings.free_price_text | json }} {% else %} "Free" {% endif %},
			collection_swatches: {% if settings.collection_swatches != nil %} {{ settings.collection_swatches | json }} {% else %} true {% endif %},
			collection_swatches_shape: {% if settings.collection_swatches_shape %} {{ settings.collection_swatches_shape | json }} {% else %} "square" {% endif %},
			enable_shopify_collection_badges: {% if settings.enable_shopify_collection_badges != nil %} {{ settings.enable_shopify_collection_badges | json }} {% else %} false {% endif %},
			enable_shopify_review_comments: {% if settings.enable_shopify_review_comments != nil %} {{ settings.enable_shopify_review_comments | json }} {% else %} false {% endif %},
			show_multiple_currencies: {% if settings.show_multiple_currencies != nil %} {{ settings.show_multiple_currencies | json }} {% else %} false {% endif %},
		}
	};

	var boostPFSTemplate = {
		// Grid Template
		'productGridItemHtml': {% render 'boost-pfs-filter-html', layout: 'productGridItemHtml' %},
		'itemHoverHtml': {% render 'boost-pfs-filter-html', layout: 'itemHoverHtml' %},
		'itemProductInfoHtml': {% render 'boost-pfs-filter-html', layout: 'itemProductInfoHtml' %},

		// Pagination Template
		'previousActiveHtml': {% render 'boost-pfs-filter-html', layout: 'previousActiveHtml' %},
		'nextActiveHtml': {% render 'boost-pfs-filter-html', layout: 'nextActiveHtml' %},
		'pageItemHtml': {% render 'boost-pfs-filter-html', layout: 'pageItemHtml' %},
		'pageItemSelectedHtml': {% render 'boost-pfs-filter-html', layout: 'pageItemSelectedHtml' %},
		'pageItemRemainHtml': {% render 'boost-pfs-filter-html', layout: 'pageItemRemainHtml' %},
		'paginateHtml': {% render 'boost-pfs-filter-html', layout: 'paginateHtml' %},

		// Sorting Template
		'sortingHtml': {% render 'boost-pfs-filter-html', layout: 'sortingHtml' %},
	};
</script>

{% schema %}


{
  "name": "Search",
  "class": "search-main has-sidebar-option jsSearch jsSidebar",
  "settings": [
    {
      "type": "checkbox",
      "id": "search_breadcrumb",
      "label": "Show breadcrumbs",
      "default": true
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text",
      "default": "<p>Find what you seek.</p>"
    },
    {
      "type": "header",
      "content": "Sidebar"
    },
    {
      "type": "checkbox",
      "id": "show_sidebar",
      "label": "Show sidebar",
      "info": "Add blocks for sidebar content.",
      "default": false
    },
    {
      "type": "radio",
      "id": "sidebar_position",
      "label": "Sidebar position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left"
    },
    {
      "type": "header",
      "content": "Search results"
    },
    {
      "type": "range",
      "id": "products_per_row",
      "label": "Results per row",
      "info": "Used for 'Products only' search results",
      "min": 2,
      "max": 5,
      "step": 1,
      "default": 3
    },
    {
      "type": "select",
      "id": "mobile_products_per_row",
      "label": "Results per row on mobile",
      "info": "Used for 'Products only' search results",
      "options": [
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        }
      ],
      "default": "2"
    },
    {
      "type": "range",
      "id": "pagination_limit",
      "label": "Results per page",
      "min": 2,
      "max": 50,
      "step": 1,
      "default": 48
    },
    {
      "type": "select",
      "id": "pagination_type",
      "label": "Pagination type",
      "options": [
        {
          "value": "infinite_scroll",
          "label": "Infinite scroll"
        },
        {
          "value": "infinite_load_more",
          "label": "Infinite load more button"
        },
        {
          "value": "load_more",
          "label": "Load more button"
        },
        {
          "value": "basic_pagination",
          "label": "Page links"
        }
      ],
      "default": "basic_pagination"
    },
    {
      "type": "header",
      "content": "Product thumbnails"
    },
    {
      "type": "checkbox",
      "id": "align_height",
      "label": "Align to height"
    },
    {
      "type": "range",
      "id": "collection_height",
      "label": "Product image height",
      "min": 150,
      "max": 400,
      "step": 10,
      "default": 200,
      "unit": "px",
      "info": "Applied when 'Align to height' is enabled. [Learn more](https://help.outofthesandbox.com/hc/en-us/articles/360022543913)"
    },
    {
      "type": "header",
      "content": "Blog posts"
    },
    {
      "type": "checkbox",
      "id": "blog_author",
      "label": "Show author"
    },
    {
      "type": "checkbox",
      "id": "blog_date",
      "label": "Show date",
      "default": true
    },
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "select",
      "id": "width",
      "label": "Width",
      "default": "standard",
      "options": [
        {
          "value": "standard",
          "label": "Standard"
        },
        {
          "value": "wide",
          "label": "Wide"
        }
      ]
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Top spacing",
      "min": 0,
      "max": 80,
      "default": 40,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Bottom spacing",
      "min": 0,
      "max": 80,
      "default": 40,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "Advanced",
      "info": "[Learn more](https://help.outofthesandbox.com/hc/en-us/articles/360022329373)"
    },
    {
      "type": "text",
      "id": "css_class",
      "label": "CSS Class"
    },
    {
      "type": "textarea",
      "id": "custom_css",
      "label": "Custom CSS"
    }
  ],
  "blocks": [
    {
      "type": "featured_promo",
      "name": "Featured promotion",
      "settings": [
        {
          "type": "color",
          "id": "promo_background",
          "label": "Background",
          "default": "#EEEEEE"
        },
        {
          "type": "color",
          "id": "promo_text",
          "label": "Text",
          "default": "#000000"
        },
        {
          "type": "image_picker",
          "id": "promo_image",
          "label": "Image"
        },
        {
          "type": "richtext",
          "id": "richtext",
          "label": "Text",
          "default": "<p>Use this area for promotional information.</p>"
        },
        {
          "type": "url",
          "id": "promo_link",
          "label": "Link"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button label",
          "default": "Shop now"
        },
        {
          "type": "select",
          "id": "button_style",
          "label": "Button style",
          "options": [
            {
              "value": "button--primary",
              "label": "Primary"
            },
            {
              "value": "button--secondary",
              "label": "Secondary"
            },
            {
              "value": "button--link-style",
              "label": "Link style"
            }
          ],
          "default": "button--primary"
        }
      ]
    },
    {
      "type": "menu",
      "name": "Menu",
      "settings": [
        {
          "type": "link_list",
          "id": "menu",
          "label": "Menu",
          "info": "This menu won't show drop-down items."
        }
      ]
    },
    {
      "type": "newsletter",
      "name": "Newsletter",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "newsletter_title",
          "label": "Heading",
          "default": "Subscribe"
        },
        {
          "type": "richtext",
          "id": "newsletter_richtext",
          "label": "Text",
          "default": "<p>Sign up to get the latest on sales, new releases and more …</p>"
        },
        {
          "type": "checkbox",
          "id": "display_first_name",
          "label": "Show first name"
        },
        {
          "type": "checkbox",
          "id": "display_last_name",
          "label": "Show last name"
        }
      ]
    },
    {
      "type": "page",
      "name": "Page",
      "settings": [
        {
          "type": "page",
          "id": "page",
          "label": "Page"
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Heading"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Text area can be used for details about blog authors or general information.</p>"
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "featured_promo"
      },
      {
        "type": "menu"
      },
      {
        "type": "text"
      }
    ]
  }
}

{% endschema %}
