<style>
  .blog-filter {
    display: flex;
    justify-content: center;
    padding: 40px 0;
  }

  .blog-filter ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 40px;
    justify-content: center;
  }
</style>

<nav class="blog-filter">
  <ul>
    <li>
      <a href="{{ blog.url }}">All</a>
    </li>
    {% for tag in blog.all_tags %}
      {% assign tag_handle = tag | handleize %}
      <li class="{% if blog.tags contains tag and blog.tags.size == 1 %}selected{% endif %}">
        <a href="{{ blog.url }}/tagged/{{ tag_handle }}">{{ tag }}</a>
      </li>
    {% endfor %}
  </ul>
</nav>

{% schema %}
{
    "name": "UTW blog filtering",
    "class": "blog-filtering",
    "settings": [],
    "presets": [{
        "name": "UTW blog filtering",
        "category": "Blog filtering",
        "settings": {
        }
    }]
}
{% endschema %}
