{% comment %}
** Header 2 Centered - static **
- Static section
{% endcomment %}

{% assign id = section.id %}
{% comment %} Logo {% endcomment %}
{% assign logo = section.settings.logo %}
{% comment %} Overlay {% endcomment %}
{% assign overlay_logo = section.settings.overlay_logo %}
{% assign text = section.settings.text_color %}
{% comment %} Advanced {% endcomment %}
{% assign width = section.settings.width %}
{% assign css_class = section.settings.css_class %}
{% assign custom_css = section.settings.custom_css %}

{% comment %} Is the color set to transparent? {% endcomment %}
{% assign header_alpha = settings.header_background | color_extract: 'alpha' | floor %}
{% assign overlay_alpha = section.settings.overlay_background | color_extract: 'alpha' %}
{% assign overlay_link_alpha = section.settings.overlay_link_color | color_extract: 'alpha' | floor %}
{% assign overlay_link_hover_alpha = section.settings.overlay_link_hover_color | color_extract: 'alpha' | floor %}
{%- assign locale_selector = false -%}
{%- assign currency_selector = false -%}

{%- if section.settings.show_currency_selector == true and shop.enabled_currencies.size > 1 -%}
  {%- assign currency_selector = true -%}
{%- endif -%}

{%- if section.settings.show_locale_selector == true and shop.published_locales.size > 1 -%}
  {%- assign locale_selector = true -%}
{%- endif -%}

{% comment %} Opacity level {% endcomment %}
{% if header_alpha != 0 %}
  {% assign sticky_background_alpha = section.settings.sticky_background_opacity | divided_by: 100.00 %}
  {% assign overlay_background_alpha = section.settings.overlay_background_opacity | divided_by: 100.00 %}
{% endif %}

{% comment %} Section specific CSS {% endcomment %}
{% capture section_css -%}
  .header__logo,
  .logo__content {
      width: {{ section.settings.logo_width }}px;
  }
  
      .is-sticky .header__logo {
      @media screen and (max-width: 1200px) {
      width: {{ section.settings.scroll_logo_width }}px;
  }
      }{%- if section.settings.enable_overlay -%}
    [data-enable_overlay="true"] .header {
    background-color:
    {%- if overlay_alpha != 0 -%}
      {{ section.settings.overlay_background | color_modify: 'alpha', overlay_background_alpha }}
    {%- else -%}
      {{ settings.header_background | color_modify: 'alpha', overlay_background_alpha }}{%- endif -%};
    }
    
            [data-enable_overlay="true"] .header__logo,
            .overlay-logo__content {
            width: {{ section.settings.overlay_logo_width }}px;
    }
    
            [data-enable_overlay="true"] .header__link,
            [data-enable_overlay="true"] .select select {
            color:
    {%- if overlay_link_alpha != 0 -%}
      {{ section.settings.overlay_link_color }}{%- endif -%};
    fill:
    {%- if overlay_link_alpha != 0 -%}
      {{ section.settings.overlay_link_color }}{%- endif -%};
    {% if section.settings.show_text_shadow %}
      text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
    {% endif %}
    }
    [data-enable_overlay="true"] .header__link:hover,
            [data-enable_overlay="true"] .header__link.is-active,
            [data-enable_overlay="true"] .select select:hover {
            color:
    {%- if overlay_link_hover_alpha != 0 -%}
      {{ section.settings.overlay_link_hover_color }}{%- endif -%};
    fill:
    {%- if overlay_link_hover_alpha != 0 -%}
      {{ section.settings.overlay_link_hover_color }}{%- endif -%};
    }
  {%- endif -%}
  {%- if section.settings.enable_sticky -%}
    .header-sticky-wrapper.is-sticky .header .header__inner-wrap {
    background-color: {{ settings.header_background | color_modify: 'alpha', sticky_background_alpha }};
    }
    
            #mobile-header-sticky-wrapper.is-sticky .mobile-header {
            background-color: {{ settings.header_background | color_modify: 'alpha', sticky_background_alpha }};
    }
    
            .mobile-menu--opened #mobile-header-sticky-wrapper.is-sticky .mobile-header {
            background-color: {{ settings.header_background }};
    }
  {%- endif -%}
{%- endcapture -%}

{% style %}
  #shopify-section-{{ id }}{
    padding-top: {{ padding_top }}
    px;
    padding-bottom: {{ padding_bottom }}
    px;
    {% if width == 'wide' %}
      width: 100%;
    {% endif %}
  }

  {% render 'css-loop',
    css: section_css,
    id: id %}
  {% render 'css-loop',
    css: custom_css,
    id: id %}
{% endstyle %}

{% render 'header__structured-data' %}

{% comment %} HTML markup {% endcomment %}
<div
  class="is-relative {{ css_class }}"
  data-enable_overlay="{{ section.settings.enable_overlay }}"
  data-enable_sticky="{{ section.settings.enable_sticky }}">
  <header id="header" class="header header--centered dropdown-style-{{ settings.dropdown_style }} box-shadow-{{ settings.show_dropdown_shadow }}">
    <div class="header__inner-wrap">
      <ul class="header_announcement_animation" data-count="{{ section.blocks | size }}">
        {% for block in section.blocks %}
          {% if block.settings.announcement_text != blank %}
            <li class="header_top_announcement" style="background-color:{{ section.settings.announcement_background }};color:{{ section.settings.announcement_text_color }}">
              {{ block.settings.announcement_text }}
              {% if section.settings.announcement_link == 'popup' %}
                {% assign link_start = block.settings.announcement_text | split: 'href="/pages/' %}
                {% assign link_end = link_start[1] | split: '"' %}
                {% assign link_page_handle = link_end[0] %}
                <div class="content-popup hidden">
                  <div style="max-width: 700px;">
                    {{ pages[link_page_handle].content }}
                  </div>
                </div>
              {% endif %}
            </li>
          {% endif %}
        {% endfor %}
      </ul>
      <div class="header__inner-content">
        <section class="section
            					is-width-{{ width }} header-section__container">
          <nav class="navbar dropdown-click--{{ section.settings.dropdown_click }} is-align-center header-layout--{{ section.settings.logo_position }}"role="navigation"aria-label="main navigation">

            <div class="header__link header__menu-toggle is-medium">
              <div class="header__open-menu">
                {% render 'icon', name: 'menu' %}
              </div>
              <div class="header__close-menu">
                {% render 'icon', name: 'x' %}
              </div>
            </div>

            {% capture logo %}
              {% comment %} Logo {% endcomment %}
              <div class="header__brand is-align-center is-justify-space-between is-flex text-align-center">
                {% if section.settings.enable_overlay and section.settings.overlay_logo != blank %}                  
                  <div class="overlay-logo__content">
                    <a
                      class="header__logo header__link overlay-logo"
                      href="{{ shop.url }}"
                      title="{{ shop.name }}">
                      {% render 'image-element'
                       , image: section.settings.overlay_logo,
                       alt: section.settings.overlay_logo.alt,
                       additional_classes: 'overlay-logo',
                       back_to_basics: true %}
                    </a>
                  </div>
                  <div class="logo__content">
                    {% if section.settings.logo != blank %}
                      <a
                        class="header__logo header__link primary-logo"
                        href="{{ shop.url }}"
                        title="{{ shop.name }}">
                        {% render 'image-element'
                         , image: section.settings.logo,
                         alt: section.settings.logo.alt,
                         additional_classes: 'primary-logo' %}
                      </a>
                    {% endif %}
                  </div>
                {% elsif section.settings.logo != blank %}
                  <a
                    class="header__logo header__link primary-logo"
                    href="{{ shop.url }}"
                    title="{{ shop.name }}">
                    {% render 'image-element'
                     , image: section.settings.logo,
                     alt: section.settings.logo.alt,
                     additional_classes: 'primary-logo' %}
                  </a>
                {% else %}
                  {% if template contains 'index' %}
                    <h1 class="header__logo-text">
                      <a class="header__link primary-brand" href="{{ shop.url }}">
                        {{ shop.name }}
                      </a>
                    </h1>
                  {% else %}
                    <a class="header__logo-text header__link primary-brand" href="{{ shop.url }}">
                      {{ shop.name }}
                    </a>
                  {% endif %}
                {% endif %}
              </div>
            {% endcapture %}

            {% assign right_main_menu = linklists[section.settings.right_main_linklist] %}
            {% assign left_main_menu = linklists[section.settings.left_main_linklist] %}

              {% if section.settings.logo_position == 'above' %}

              {{ logo }}

              {% comment %} Menu {% endcomment %}
              <div class="header__menu">
                <div class="header__menu-items
                    							header__dropdown--{{ settings.dropdown_position }}
                    							is-flex
                    							is-flex-wrap
                    							{% if section.settings.menu_spacing == 'default' %}
                    								is-justify-center
                    							{% elsif section.settings.menu_spacing == 'minimum' %}
                    								is-justify-space-around
                    							{% elsif section.settings.menu_spacing == 'maximum' %}
                    								is-justify-space-between
                    							{% endif %}">
                  {% for link in left_main_menu.links %}
                    {% if link.links == blank %}
                      <div class="navbar-item header__item {% if link.active or link.child_active %}is-active{% endif %}"data-navlink-handle="{{ link.title | handleize }}">
                        <a href="{{ link.url }}"class="navbar-link header__link {% if link.active %}is-active{% endif %} is-arrowless">
                          {{ link.title }}
                        </a>
                      </div>
                    {% else %}
                      <div class="navbar-item header__item has-dropdown has-dropdown--{{ settings.dropdown_style }} is-hoverable {% if link.active or link.child_active %}is-active{% endif %}"aria-haspopup="true"aria-expanded="false"data-navlink-handle="{{ link.title | handleize }}">
                        <a class="navbar-link header__link {% if link.active or link.child_active %}is-active{% endif %}"{% unless link.url == 'http://' or link.url == '' or link.url == '/' or link.url == 'https://' or link.url == '#' %}href="{{ link.url }}"{% endunless %}>
                          {{ link.title }}
                        </a>

                        {% render 'header__dropdown-menu'
                         , link: link,
                         index: forloop.index %}
                      </div>
                    {% endif %}
                  {% endfor %}
                  {% for link in right_main_menu.links %}
                    {% if link.links == blank %}
                      <div class="navbar-item header__item {% if link.active or link.child_active %}is-active{% endif %}"data-navlink-handle="{{ link.title | handleize }}">
                        <a href="{{ link.url }}"class="navbar-link header__link {% if link.active %}is-active{% endif %} is-arrowless">
                          {{ link.title }}
                        </a>
                      </div>
                    {% else %}
                      <div class="navbar-item header__item has-dropdown has-dropdown--{{ settings.dropdown_style }} is-hoverable {% if link.active or link.child_active %}is-active{% endif %}"aria-haspopup="true"aria-expanded="false"data-navlink-handle="{{ link.title | handleize }}">
                        <a class="navbar-link header__link {% if link.active or link.child_active %}active{% endif %}"{% unless link.url == 'http://' or link.url == '' or link.url == '/' or link.url == 'https://' or link.url == '#' %}href="{{ link.url }}"{% endunless %}>
                          {{ link.title }}
                        </a>

                        {% render 'header__dropdown-menu'
                         , link: link,
                         index: forloop.index %}
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>

            {% elsif section.settings.logo_position == 'between' %}

              {% assign menu_size = left_main_menu.links.size %}

              {% comment %} Menu (first half) {% endcomment %}
              <div class="header__menu header__menu--1">
                <div
                  class='header__menu-items
                  is-flex
                  							is-flex-wrap
                  {% if section.settings.menu_spacing == 'default' %}
                    is-justify-end
                  {% elsif section.settings.menu_spacing == 'minimum' %}
                    is-justify-center
                  {% elsif section.settings.menu_spacing == 'maximum' %}
                    is-justify-start
                  {% endif %}'>
                  {% if menu_size <= 6 %}
                    {% for link in left_main_menu.links %}
                      {% if link.links == blank %}
                        <div class="navbar-item header__item {% if link.active or link.child_active %}is-active{% endif %}"data-navlink-handle="{{ link.title | handleize }}">
                          <a href="{{ link.url }}"class="navbar-link header__link {% if link.active %}is-active{% endif %} is-arrowless">
                            {{ link.title }}
                          </a>
                        </div>
                      {% else %}
                        <div class="navbar-item header__item has-dropdown has-dropdown--{{ settings.dropdown_style }} is-hoverable {% if link.active or link.child_active %}is-active{% endif %}"aria-haspopup="true"aria-expanded="false"data-navlink-handle="{{ link.title | handleize }}">
                          <a class="navbar-link header__link {% if link.active or link.child_active %}active{% endif %}"{% unless link.url == 'http://' or link.url == '' or link.url == '/' or link.url == 'https://' or link.url == '#' %}href="{{ link.url }}"{% endunless %}>
                            {{ link.title }}
                          </a>

                          {% render 'header__dropdown-menu'
                           , link: link,
                           index: forloop.index %}
                        </div>
                      {% endif %}
                    {% endfor %}
                  {% else %}
                    {% assign lenght = menu_size | minus: 5 %}
                    {% assign more_menu = left_main_menu.links | slice: 5, lenght %}

                    {% for link in left_main_menu.links %}
                      {% if forloop.index < 6 %}
                        {% if link.links == blank %}
                          <div class="navbar-item header__item {% if link.active or link.child_active %}is-active{% endif %}"data-navlink-handle="{{ link.title | handleize }}">
                            <a href="{{ link.url }}"class="navbar-link header__link {% if link.active %}is-active{% endif %} is-arrowless">
                              {{ link.title }}
                            </a>
                          </div>
                        {% else %}
                          <div class="navbar-item header__item has-dropdown has-dropdown--{{ settings.dropdown_style }} is-hoverable {% if link.active or link.child_active %}is-active{% endif %}"aria-haspopup="true"aria-expanded="false"data-navlink-handle="{{ link.title | handleize }}">
                            <a class="navbar-link header__link {% if link.active or link.child_active %}active{% endif %}"{% unless link.url == 'http://' or link.url == '' or link.url == '/' or link.url == 'https://' or link.url == '#' %}href="{{ link.url }}"{% endunless %}>
                              {{ link.title }}
                            </a>

                            {% render 'header__dropdown-menu'
                             , link: link,
                             index: forloop.index %}
                          </div>
                        {% endif %}
                      {% endif %}
                    {% endfor %}
                    <div class="navbar-item header__item has-dropdown has-dropdown--{{ settings.dropdown_style }} is-hoverable {% if link.active or link.child_active %}is-active{% endif %}"aria-haspopup="true"aria-expanded="false"data-navlink-handle="{{ link.title | handleize }}">
                      <a class="navbar-link header__link">More</a>
                      {% include 'header__dropdown-menu-more' %}
                    </div>
                  {% endif %}
                </div>
              </div>

              {% comment %} Logo {% endcomment %}
              {{ logo }}

              {% comment %} Menu (second half) {% endcomment %}
              <div class="header__menu header__menu--2">
                <div
                  class='header__menu-items
                  is-flex
                  							is-flex-wrap
                  {% if section.settings.menu_spacing == 'default' %}
                    is-justify-start
                  {% elsif section.settings.menu_spacing == 'minimum' %}
                    is-justify-center
                  {% elsif section.settings.menu_spacing == 'maximum' %}
                    is-justify-end
                  {% endif %}'>
                  {% comment %} Search icon {% endcomment %}
                  {% if section.settings.display_search_header %}
                    <div class="navbar-item header__item">
                      <a class="header__link action-area__link custom-instant-search-trigger" data-search data-show-search-trigger>
                        {% render 'icon', name: 'search', icon_class: 'header__icon-search' %}
                        <span class="icon-caption header__text-search">{{ 'general.search.title' | t | escape }}</span>
                      </a>
                    </div>
                  {% endif %}

                  {% comment %} Account icon {% endcomment %}
                  {% if shop.customer_accounts_enabled %}
                    <div class="navbar-item header__item">
                      {% if customer %}
                        {% comment %} Logout {% endcomment %}
                        <a href="{{ routes.account_url }}"class="header__link action-area__link action-hover-area__link"data-show-account-trigger>
                          {% render 'icon', name: 'avatar-3', icon_class: 'header__icon-account' %}
                          <span class="icon-caption header__text-account">{{ 'layout.customer.my_account' | t | escape }}</span>
                        </a>
                      {% else %}
                        {% comment %} Login {% endcomment %}
                        <a href="{{ routes.account_login_url }}"class="header__link action-area__link action-hover-area__link"data-show-account-trigger>
                          {% render 'icon', name: 'avatar-3', icon_class: 'header__icon-account' %}
                          <span class="icon-caption header__text-account">Sign In</span>
                        </a>
                      {% endif %}
                    {% endif %}
                  </div>
                  {% for link in right_main_menu.links %}
                    {% if link.links == blank %}
                      <div class="navbar-item header__item {% if link.active or link.child_active %}is-active{% endif %}"data-navlink-handle="{{ link.title | handleize }}">
                        <a href="{{ link.url }}"class="navbar-link header__link {% if link.active %}is-active{% endif %} is-arrowless">
                          {{ link.title }}
                        </a>
                      </div>
                    {% else %}
                      <div class="navbar-item header__item has-dropdown has-dropdown--{{ settings.dropdown_style }} is-hoverable {% if link.active or link.child_active %}is-active{% endif %}"aria-haspopup="true"aria-expanded="false"data-navlink-handle="{{ link.title | handleize }}">
                        <a class="navbar-link header__link {% if link.active or link.child_active %}active{% endif %}"{% unless link.url == 'http://' or link.url == '' or link.url == '/' or link.url == 'https://' or link.url == '#' %}href="{{ link.url }}"{% endunless %}>
                          {{ link.title }}
                        </a>

                        {% render 'header__dropdown-menu'
                         , link: link,
                         index: forloop.index %}
                      </div>
                    {% endif %}
                  {% endfor %}

                  {% comment %} Currency converter select {% endcomment %}
                  <div class="navbar-item header__item">
                    <div class="header__link header__currency">
                      {% render 'localization-switcher'
                       , additional_classes: 'header-menu__disclosure',
                       id: 'header__selector-form',
                       currency_selector: currency_selector,
                       locale_selector: locale_selector,
                       show_currency: section.settings.show_currency_selector %}
                    </div>
                  </div>

                  {% comment %} Wishlist icon {% endcomment %}
                  {% if section.settings.display_wishlist_header %}
                    <div class="navbar-item header__item">
                      {% if customer %}
                        <!--@TODO Change wishlist url for logged account -->
                        <a
                          href="/pages/swym-wishlist"
                          class="header__link action-area__link"
                          data-show-wishlist-trigger>
                          {% render 'icon'
                           , name: 'heart',
                           icon_class: 'header__icon' %}
                        </a>
                      {% else %}
                        <a
                          href="/pages/swym-wishlist"
                          class="header__link action-area__link"
                          data-show-wishlist-trigger>
                          {% render 'icon'
                           , name: 'heart',
                           icon_class: 'header__icon' %}
                        </a>
                      {% endif %}
                    </div>
                  {% endif %}

                  {% comment %} Cart icon {% endcomment %}
                  <div class="header-cart action-area__link has-cart-count{% if cart.item_count != 0 %}{% endif %}"data-ajax-cart-trigger>
                    <a class="header__link" href="{{ routes.cart_url }}">
                      <span class="header-cart__icon">
                        {% render 'icon'
                         , name: settings.cart_icon,
                         icon_class: 'header__icon' %}
                        <span class="header-cart__count header-cart__count--badge badge" data-bind="itemCount">
                          {{ cart.item_count }}
                        </span>
                      </span>
                      {%- if icon_style == 'text' -%}
                        <span class="header-cart__count cart__count--text" data-bind="itemCount">{{ cart.item_count }}</span>
                      {%- endif -%}
                    </a>
                    {% if settings.cart_action == 'mini_cart' %}
                      {% render 'ajax-cart' %}
                    {% endif %}
                  </div>
                </div>
              </div>

              {% comment %} Only visible on sticky scroll {% endcomment %}
              {% render 'header__action-icons'
               , display_search: section.settings.display_search,
               header_icon_class: 'header__icons--sticky' %}
            {% endif %}

          </nav>
        </section>
      </div>
    </div>
    <nav class="sticky-menu-wrapper">
      {% comment %} Sticky menu {% endcomment %}
      <div class="sticky-header__menu">
        <div class="header__menu-items
                                is-flex
                                is-flex-wrap
                                dropdown-click--{{ section.settings.dropdown_click }}
                                {% if section.settings.logo_position == 'above' %}
                                  {% if section.settings.menu_spacing == 'default' %}
                                    is-justify-center
                                  {% elsif section.settings.menu_spacing == 'minimum' %}
                                    is-justify-space-around
                                  {% elsif section.settings.menu_spacing == 'maximum' %}
                                    is-justify-space-between
                                  {% endif %}
                                {% elsif section.settings.logo_position == 'between' %}
                                  is-justify-center
                                {% endif %}">
          {% for link in left_main_menu.links %}
            {% if link.links == blank %}
              <div class="navbar-item header__item {% if link.active or link.child_active %}is-active{% endif %}"data-navlink-handle="{{ link.title | handleize }}">
                <a href="{{ link.url }}"class="navbar-link header__link {% if link.active %}is-active{% endif %} is-arrowless">
                  {{ link.title }}
                </a>
              </div>
            {% else %}
              <div class="navbar-item header__item has-dropdown has-dropdown--{{ settings.dropdown_style }} is-hoverable {% if link.active or link.child_active %}is-active{% endif %}"aria-haspopup="true"aria-expanded="false"data-navlink-handle="{{ link.title | handleize }}">
                <a class="navbar-link header__link {% if link.active or link.child_active %}is-active{% endif %}"{% unless link.url == 'http://' or link.url == '' or link.url == '/' or link.url == 'https://' or link.url == '#' %}href="{{ link.url }}"{% endunless %}>
                  {{ link.title }}
                </a>

                {% render 'header__dropdown-menu'
                 , link: link,
                 index: forloop.index,
                 prefix: 'sticky-' %}
              </div>
            {% endif %}
          {% endfor %}
          {% for link in right_main_menu.links %}
            {% if link.links == blank %}
              <div class="navbar-item header__item {% if link.active or link.child_active %}is-active{% endif %}"data-navlink-handle="{{ link.title | handleize }}">
                <a href="{{ link.url }}"class="navbar-link header__link {% if link.active %}is-active{% endif %} is-arrowless">
                  {{ link.title }}
                </a>
              </div>
            {% else %}
              <div class="navbar-item header__item has-dropdown has-dropdown--{{ settings.dropdown_style }} is-hoverable {% if link.active or link.child_active %}is-active{% endif %}"aria-haspopup="true"aria-expanded="false"data-navlink-handle="{{ link.title | handleize }}">
                <a class="navbar-link header__link {% if link.active or link.child_active %}active{% endif %}"{% unless link.url == 'http://' or link.url == '' or link.url == '/' or link.url == 'https://' or link.url == '#' %}href="{{ link.url }}"{% endunless %}>
                  {{ link.title }}
                </a>

                {% render 'header__dropdown-menu'
                 , link: link,
                 index: forloop.index %}
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </nav>
  </header>

  {% render 'mobile-header' %}

  {% if settings.search_display_style == 'overlay' %}
    {% render 'search-overlay' %}
  {% endif %}

</div>

{% comment %}JavaScript{% endcomment %}
<script
  type="application/json"
  data-section-id="{{ section.id }}"
  data-section-data>
  {
  "enable_overlay": {{ section.settings.enable_overlay | json }},
  "enable_sticky": {{ section.settings.enable_sticky | json }},
  "header_layout": {{ settings.header_layout | json }},
  "dropdown_click": {{ section.settings.dropdown_click | json }},
  "announcement_link": {{ section.settings.announcement_link | json }},
  "announcement_time": {{ section.settings.time | json }}
  }


</script>
<script src="{{ 'z__jsHeader.js' | asset_url }}"></script>

{% comment %}Schema{% endcomment %}
{% schema %}

  {
    "name": "Header",
    "class": "header--centered jsHeader header-section utw",
    "settings": [
      {
        "type": "header",
        "content": "Logo"
      },
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo",
        "info": "600 x 200px recommended"
      },
      {
        "type": "range",
        "id": "tablet_logo_width",
        "label": "Tablet logo width",
        "step": 5,
        "min": 80,
        "max": 200,
        "default": 150,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "logo_width",
        "label": "Desktop logo width",
        "step": 5,
        "min": 80,
        "max": 300,
        "default": 200,
        "unit": "px"
      }, {
        "type": "select",
        "id": "logo_position",
        "label": "Logo position",
        "options": [
          {
            "value": "above",
            "label": "Above menu"
          }, {
            "value": "between",
            "label": "Between menu"
          }
        ],
        "default": "between"
      }, {
        "type": "header",
        "content": "Top announcement"
      }, {
        "type": "radio",
        "id": "announcement_link",
        "label": "link action",
        "options": [
          {
            "value": "popup",
            "label": "Open in popup"
          }, {
            "value": "following",
            "label": "Following a link"
          }
        ],
        "default": "following"
      }, {
        "type": "color",
        "id": "announcement_background",
        "label": "Announcement background",
        "default": "rgba(0,0,0,0)"
      }, {
        "type": "color",
        "id": "announcement_text_color",
        "label": "Announcement text color",
        "default": "rgba(255,255,255,1)"
      }, {
        "type": "range",
        "id": "time",
        "min": 2,
        "max": 10,
        "step": 1,
        "unit": "ms",
        "label": "Time",
        "default": 5
      }, {
        "type": "header",
        "content": "Navigation"
      }, {
        "type": "link_list",
        "id": "left_main_linklist",
        "label": "Left Main menu"
      }, {
        "type": "link_list",
        "id": "right_main_linklist",
        "label": "Right Main menu"
      }, {
        "type": "select",
        "id": "menu_spacing",
        "label": "Menu spacing",
        "options": [
          {
            "value": "default",
            "label": "Default"
          }, {
            "value": "minimum",
            "label": "Minimum"
          }, {
            "value": "maximum",
            "label": "Maximum"
          }
        ],
        "default": "default"
      }, {
        "type": "checkbox",
        "id": "dropdown_click",
        "label": "Open dropdowns on click instead of hover",
        "default": false
      }, {
        "type": "header",
        "content": "Currency selector",
        "info": "To add a currency, go to your [payment settings.](/admin/settings/payments)"
      },{
        "type": "checkbox",
        "id": "show_locale_selector",
        "label": "Show language selector",
        "default": false
      },{
        "type": "checkbox",
        "id": "show_currency_selector",
        "label": "Show currency selector",
        "default": true
      }, {
        "type": "header",
        "content": "Cart"
      }, {
        "type": "color",
        "id": "cart_button_background",
        "label": "Cart button background",
        "default": "#000000"
      }, {
        "type": "color",
        "id": "cart_button_text",
        "label": "Cart button text",
        "default": "#ffffff"
      }, {
        "type": "header",
        "content": "Overlay"
      }, {
        "type": "paragraph",
        "content": "Header is overlaid directly on images. [Learn more](https://help.outofthesandbox.com/hc/en-us/articles/360022225073/#header-overlay)"
      }, {
        "type": "checkbox",
        "id": "display_search_header",
        "label": "Show search on header",
        "default": true
      }, {
        "type": "checkbox",
        "id": "display_wishlist_header",
        "label": "Show wish-list on header",
        "default": true
      }, {
        "type": "checkbox",
        "id": "enable_overlay",
        "label": "Enable overlay"
      }, {
        "type": "checkbox",
        "id": "show_text_shadow",
        "label": "Show text shadow",
        "default": false
      }, {
        "type": "color",
        "id": "overlay_background",
        "label": "Background",
        "default": "rgba(0,0,0,0)"
      }, {
        "type": "range",
        "id": "overlay_background_opacity",
        "label": "Background opacity",
        "min": 0,
        "max": 80,
        "step": 10,
        "default": 0,
        "unit": "%"
      }, {
        "type": "color",
        "id": "overlay_link_color",
        "label": "Links",
        "default": "rgba(0,0,0,0)"
      }, {
        "type": "color",
        "id": "overlay_link_hover_color",
        "label": "Links hover",
        "default": "rgba(0,0,0,0)"
      }, {
        "type": "image_picker",
        "id": "overlay_logo",
        "label": "Overlay logo",
        "info": "600 x 200px recommended"
      }, {
        "type": "range",
        "id": "overlay_logo_width",
        "label": "Overlay logo width",
        "step": 5,
        "min": 30,
        "max": 300,
        "default": 80,
        "unit": "px"
      }, {
        "type": "header",
        "content": "Sticky header"
      }, {
        "type": "checkbox",
        "id": "enable_sticky",
        "label": "Enable sticky on scroll"
      }, {
        "type": "checkbox",
        "id": "display_search",
        "label": "Show search",
        "default": true
      }, {
        "type": "range",
        "id": "sticky_background_opacity",
        "label": "Background opacity",
        "min": 10,
        "max": 100,
        "step": 10,
        "default": 50,
        "unit": "%"
      }, {
        "type": "range",
        "id": "scroll_logo_width",
        "label": "Logo width",
        "step": 5,
        "min": 30,
        "max": 300,
        "default": 200,
        "unit": "px"
      }, {
        "type": "header",
        "content": "Layout"
      }, {
        "type": "select",
        "id": "width",
        "label": "Width",
        "default": "standard",
        "options": [
          {
            "value": "standard",
            "label": "Standard"
          }, {
            "value": "medium",
            "label": "Medium"
          }, {
            "value": "wide",
            "label": "Wide"
          }
        ]
      }, {
        "type": "header",
        "content": "Advanced",
        "info": "[Learn more](https://help.outofthesandbox.com/hc/en-us/articles/360022329373)"
      }, {
        "type": "text",
        "id": "css_class",
        "label": "CSS Class"
      }, {
        "type": "textarea",
        "id": "custom_css",
        "label": "Custom CSS"
      }
    ],
    "blocks": [
      {
        "name": "Announcement text",
        "type": "text",
        "settings": [
          {
            "type": "richtext",
            "id": "announcement_text",
            "label": "Announcement text"
          }
        ]
      }
    ]
  }
{% endschema %}