{% comment %}
** Gallery **
{% endcomment %}

{%- assign blocks = section.blocks -%}

{% if type == 'block' %}
  {%- assign loop = "1,2,3,4,5" | split: ',' -%}
{% else %}
  {%- assign loop = blocks -%}
{% endif %}

{% style %}
  #shopify-section-{{ section.id }} {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
    {% if section.settings.width == 'wide' %}
      width: 100%;
    {% endif %}
  }

  {% render 'css-loop',
          css: section.settings.custom_css,
          id: section.id
  %}
{% endstyle %}

{% comment %} HTML markup {% endcomment %}
<section  class="section
                {{ section.settings.css_class }}
                is-width-{{ section.settings.width }}

                {% if section.settings.show_gutter == false %}
                  has-no-side-gutter
                  has-background
                {% else %}
                  has-gutter-enabled
                {% endif %}
                {% if loop.size > section.settings.images_per_row %}
                  has-multirow-blocks
                {% endif %}
                {% if section.settings.width == 'wide' and section.settings.show_gutter == false %}
                  equal-columns--outside-trim
                {% endif %}
                "
          {% if section.settings.animation != "none" %}
            data-scroll-class="{{ section.settings.animation }}"
          {% endif %}>
  
  <div class="utw-gallery-header" style="text-align:{% if section.settings.header_align == "center" %}center{% else %}left{% endif %}">
    <h2 class="title utw-gallery-title">{{section.settings.utw_gallery_title}}</h2>
    {% if section.settings.utw_gallery_content != blank or section.settings.utw_gallery_read != blank %}
      <div class="utw-gallery-sub">
        <p class="utw-gallery-comment">{{section.settings.utw_gallery_content}}</p>
        <a class="utw-gallery-read" href="{{section.settings.utw_gallery_read}}">Read Our Journal</a>
      </div>
    {% endif %}    
  </div>

  <div class="is-justify-center
              gallery__wrapper utw
              gallery-type--{{ section.settings.gallery_type }}
              {% if section.settings.gallery_type != 'masonry' %}
              container
              {% endif %}">

    {% if blocks.size > 0 or loop.size > 0 %}
      {% for item in loop %}
        {% if type == 'block' %}
          {% capture index %}{{ forloop.index }}{% endcapture %}
        {% else %}
          {%- assign block = item -%}
        {% endif %}

        {% comment %} Add number to id for each loop {% endcomment %}
        {% capture image_index %}image{{ index }}{% endcapture %}
        {% capture link %}link{{ index }}{% endcapture %}
        {% capture hide %}hide{{ index}}{% endcapture %}

        {% comment %} Content settings {% endcomment %}
        {%- assign image = block.settings[image_index] -%}
        {% comment %} End content settings {% endcomment %}

        {% if block.settings[hide] == false or type != "block" %}
          <div class="gallery__item
                      {% if section.settings.show_gutter %}
                        has-gutter
                      {% endif %}
                      {% if section.settings.gallery_type != 'horizontal-masonry' %}
                        {% render 'column-width', value: section.settings.images_per_row %}
                        medium-down--one-half
                        small-down--one-whole
                      {% endif %}
                      column
                      {% if section.settings.gallery_type == 'classic' and section.settings.crop_images == true %}
                        has-image-crop image-crop--center
                      {% endif %}"
            {% if type != 'block' %}{{ block.shopify_attributes }}{% endif %}>

            {% if image != blank %}              
              <div class="gallery__item-wrap is-relative">
                <a href="{{ item.settings.link }}">
                  {% if section.settings.gallery_type == 'horizontal-masonry' %}
                    {%
                      render 'image-element',
                      image: image,
                      alt: image.alt,
                      back_to_basics: true,
                      focal_point: image.presentation.focal_point,
                    %}
                  {% elsif section.settings.gallery_type == 'masonry'
                  %}
                    {%
                      render 'image-element',
                      image: image,
                      alt: image.alt,
                      focal_point: image.presentation.focal_point,
                    %}
                  {% else %}
                    {%
                      render 'image-element',
                      image: image,
                      alt: image.alt,
                      stretch_width: section.settings.crop_images,
                      focal_point: image.presentation.focal_point,
                    %}
                  {% endif %}  
                </a>
              </div>

            {% else %}
              <div class="gallery__item-wrap is-relative">

                {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                
              </div>
            {% endif %}
            <div class="gallery__item-details">
              {% if item.settings.item_subtitle != blank %}
                <h4 class="gallery__item_subtitle">{{item.settings.item_subtitle}}</h4>
              {% endif %}              
              <h3 class="gallery__item_title">{{item.settings.item_title}}</h3>
              <p class="gallery__item_content">{{item.settings.item_content}}</p>
              <a href="{{item.settings.link}}" class="button {{section.settings.button_style}}">Learn More</a>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    {% endif %}
  </div>
</section>

{% comment %} JavaScript {% endcomment %}
<script
  type="application/json"
  data-section-id="{{ section.id }}"
  data-section-data >
  {
    "gallery_type": {{ section.settings.gallery_type | json }},
    "show_gutter": {{ section.settings.show_gutter }}
  }
</script>
<script data-theme-editor-load-script src="{{ 'z__jsGallery.js' | asset_url }}"></script>


{% schema %}
  {
    "name": "UTW Gallery",
    "class": "gallery jsGallery utw",
    "max_blocks": 20,
    "settings": [
      {
        "type": "select",
        "id": "gallery_type",
        "label": "Gallery style",
        "default": "classic",
        "options": [
          {
            "value": "classic",
            "label": "Classic"
          },
          {
            "value": "horizontal-masonry",
            "label": "Horizontal masonry"
          },
          {
            "value": "masonry",
            "label": "Vertical masonry"
          }
        ]
      },
      {
        "type": "text",
        "id": "utw_gallery_title",
        "label": "Gallery Title"
      },
      {
        "type": "textarea",
        "id": "utw_gallery_content",
        "label": "Gallery Comment"
      },
      {
        "type": "url",
        "id": "utw_gallery_read",
        "label": "Read Journal Url"
      },
      {
        "type": "select",
        "id": "header_align",
        "label": "Header Align",
        "default": "center",
        "options": [
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "left",
            "label": "Left"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "crop_images",
        "label": "Crop images",
        "default": false,
        "info": "Applies to classic only."
      },
      {
        "type": "range",
        "id": "images_per_row",
        "label": "Images per row",
        "min": 2,
        "max": 5,
        "step": 1,
        "default": 4,
        "info": "Applies to vertical masonry and classic only."
      },
      {
        "type": "checkbox",
        "id": "enable_lightbox",
        "label": "Enable lightbox",
        "default": true
      },
      {
        "type": "header",
        "content": "Colors"
      },
      {
        "type": "color",
        "id": "overlay_color",
        "label": "Overlay",
        "default": "#000000"
      },
      {
        "type": "color",
        "id": "link_color",
        "label": "Icons",
        "default": "#FFFFFF"
      },
      {
        "type": "header",
        "content": "Layout"
      },
      {
        "type": "select",
        "id": "width",
        "label": "Width",
        "default": "standard",
        "options": [
          {
            "value": "standard",
            "label": "Standard"
          },
          {
            "value": "wide",
            "label": "Wide"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "show_gutter",
        "label": "Show gutter",
        "default": true
      },
      {
        "type": "range",
        "id": "padding_top",
        "label": "Top spacing",
        "min": 0,
        "max": 80,
        "default": 20,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "label": "Bottom spacing",
        "min": 0,
        "max": 80,
        "default": 20,
        "unit": "px"
      },
      {
        "type": "select",
        "id": "animation",
        "label": "Animation",
        "default": "none",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "fadeIn",
            "label": "Fade in"
          },
          {
            "value": "fadeInDown",
            "label": "Fade in down"
          },
          {
            "value": "fadeInLeft",
            "label": "Fade in left"
          },
          {
            "value": "fadeInRight",
            "label": "Fade in right"
          },
          {
            "value": "slideInLeft",
            "label": "Slide in left"
          },
          {
            "value": "slideInRight",
            "label": "Slide in right"
          },
          {
            "value": "zoomIn",
            "label": "Zoom in"
          }
        ]
      },
      {
        "type": "select",
        "id": "button_style",
        "label": "Button style",
        "options": [
          {
            "value": "button--primary",
            "label": "Primary"
          },
          {
            "value": "button--secondary",
            "label": "Secondary"
          },
          {
            "value": "button--link-style",
            "label": "Link style"
          }
        ],
        "default": "button--primary"
      },
      {
        "type": "header",
        "content": "Advanced"
      },
      {
        "type": "paragraph",
        "content": "[Learn more](https://help.outofthesandbox.com/hc/en-us/articles/360022329373)"
      },
      {
        "type": "text",
        "id": "css_class",
        "label": "CSS Class"
      },
      {
        "type": "textarea",
        "id": "custom_css",
        "label": "Custom CSS"
      }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image",
            "info": "800 x 800px recommended"
          },   
          {
            "type": "text",
            "id": "item_subtitle",
            "label": "Item Sub title"
          },       
          {
            "type": "text",
            "id": "item_title",
            "label": "Item title"
          },
          {
            "type": "text",
            "id": "item_content",
            "label": "Item content"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "UTW Gallery",
        "category": "Image",
        "blocks": [
          {
            "type": "image"
          },
          {
            "type": "image"
          },
          {
            "type": "image"
          },
          {
            "type": "image"
          }
        ]
      }
    ]
  }
{% endschema %}
