{% comment %}
** Single featured collection **
{% endcomment %}

{%- assign title = section.settings.title -%}
{%- assign collection = collections[section.settings.collection] -%}

{% comment %} Assign product length to be selected limit for onboarding {% endcomment %}
{% if collection != blank and collection.products != blank %}
  {%- assign section_onboarding = false -%}
{% else %}
  {%- assign section_onboarding = true -%}
{% endif %}

{% comment %} Check to see if enough products available to create slide {% endcomment %}
{% if section.settings.collection_style == 'slider' %}
  {% if section.settings.products_limit > section.settings.products_per and collection.all_products_count > section.settings.products_per %}
    {%- assign layout = 'slider' -%}
  {% else %}
    {%- assign layout = 'grid' -%}
  {% endif %}
{% else %}
  {%- assign layout = 'grid' -%}
{% endif %}

{% comment %} Section specific CSS {% endcomment %}
{% style %}
  #shopify-section-{{ section.id }} {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
    {% if section.settings.width == 'wide' %}
      width: 100%;
    {% endif %}
  }
  {%
    render 'css-loop',
    css: section.settings.custom_css,
    id: section.id
  %}
{% endstyle %}

{% comment %} HTML markup {% endcomment %}
<section class="section
                {{ section.settings.css_class }}
                is-width-{{ section.settings.width }}
                {% if section.settings.show_gutter == false %}
                  has-no-side-gutter
                  has-background
                {% else %}
                  has-gutter-enabled
                {% endif %}
                "
                {% if section.settings.animation != "none" %}
                  data-scroll-class="{{ section.settings.animation }}"
                {% endif %}>
  {% if title != blank %}
    <div class="container">
      {%
        render 'UTW-heading',
        title: title,
        section:section,
        heading_tag: 'h2',
        context: 'featured-collection',
        text_alignment: 'center',
        url: collection.url
      %}
    </div>
  {% endif %}
  <div class="container has-column-padding-bottom featured-collection layout--{{ layout }} is-justify-center">
    {% if section_onboarding == false %}
      {% comment %} Loop through products {% endcomment %}
      {% if layout == 'slider' %}
        {% if collection.all_products_count > 0 %}
          {%
            render 'product-slider',
            limit: section.settings.products_limit,
            products: collection.products,
            skip_product: product,
            per_slide: section.settings.products_per,
            mobile_products_per_row: section.settings.mobile_products_per_row,
            align_height: section.settings.align_height,
            height: section.settings.collection_height,
            show_gutter: section.settings.show_gutter,
            featured_collection: section.settings.collection
          %}
        {% endif %}
      {% else %}
        {% if collection.all_products_count > 0 %}
          {%
            render 'product-loop',
            limit: section.settings.products_limit,
            products: collection.products,
            skip_product: product,
            products_per_row: section.settings.products_per,
            mobile_products_per_row: section.settings.mobile_products_per_row,
            align_height: section.settings.align_height,
            height: section.settings.collection_height
          %}
        {% endif %}
      {% endif %}
    {% else %}
      {% comment %} Placeholder images {% endcomment %}
      {% for i in (1..10) %}
        <div class="collection__item
            one-fifth
            {% if section.settings.mobile_products_per_row == '1' %}
              small-down--one-whole
            {% else %}
              small-down--one-half
            {% endif %}
            thumbnail column">
          {% capture num %}{% cycle "1", "2", "3", "4", "5", "6" %}{% endcapture %}
          {{ 'product-' | append: num | placeholder_svg_tag: 'placeholder-svg placeholder-svg--product' }}
        </div>
      {% endfor %}
    {% endif %}
  </div>
</section>

{% comment %} JavaScript {% endcomment %}
<script
  type="application/json"
  data-section-id="{{ section.id }}"
  data-section-data
>
  {
    "collection_style": {{ layout | json }},
    "products_per": {{ section.settings.products_per | json}},
    "products_available": {{ collection.all_products_count | json }},
    "products_limit": {{ section.settings.products_limit | json }},
    "align_height": {{ section.settings.align_height | json }}
  }
</script>
<script data-theme-editor-load-script src="{{ 'z__jsFeaturedCollection.js' | asset_url }}"></script>


{% schema %}
{
  "name": "UTW Featured collection",
  "class": "featured-collection-section jsFeaturedCollection utw",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Featured collection"
    },
    {
      "type": "text",
      "id": "title_comment",
      "label": "Comment",
      "default": "Here is a comment"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    },
    {
      "type": "url",
      "id": "best_sellers",
      "label": "Best Sellers Url"
    },
    {
      "type": "url",
      "id": "new_arrivals",
      "label": "New Arrivals Url"
    },
    {
      "type": "header",
      "content": "Product"
    },
    {
      "type": "range",
      "id": "products_per",
      "label": "Products per row",
      "min": 2,
      "max": 7,
      "default": 5
    },
    {
      "type": "select",
      "id": "mobile_products_per_row",
      "label": "Products per row on mobile",
      "info": "Applied only when 'Collection layout' is set to 'Grid'.",
      "options": [
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        }
      ],
      "default": "1"
    },
    {
      "type": "range",
      "id": "products_limit",
      "label": "Limit products",
      "min": 3,
      "max": 50,
      "default": 10
    },
    {
      "type": "checkbox",
      "id": "align_height",
      "label": "Align to height"
    },
    {
      "type": "range",
      "id": "collection_height",
      "label": "Product image height",
      "min": 150,
      "max": 400,
      "step": 10,
      "default": 200,
      "unit": "px",
      "info": "Applied when 'Align to height' is enabled. [Learn more](https://help.outofthesandbox.com/hc/en-us/articles/360022543913)"
    },
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "radio",
      "id": "collection_style",
      "label": "Collection layout",
      "default": "grid",
      "options": [
        {
          "value": "slider",
          "label": "Slider"
        },
        {
          "value": "grid",
          "label": "Grid"
        }
      ],
      "default": "grid"
    },
    {
      "type": "select",
      "id": "width",
      "label": "Width",
      "default": "wide",
      "options": [
        {
          "value": "standard",
          "label": "Standard"
        },
        {
          "value": "wide",
          "label": "Wide"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "show_gutter",
      "label": "Show gutter",
      "default": true
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Top spacing",
      "min": 0,
      "max": 80,
      "default": 20,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Bottom spacing",
      "min": 0,
      "max": 80,
      "default": 20,
      "unit": "px"
    },
    {
      "type": "select",
      "id": "animation",
      "label": "Animation",
      "default": "none",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "fadeIn",
          "label": "Fade in"
        },
        {
          "value": "fadeInDown",
          "label": "Fade in down"
        },
        {
          "value": "fadeInLeft",
          "label": "Fade in left"
        },
        {
          "value": "fadeInRight",
          "label": "Fade in right"
        },
        {
          "value": "slideInLeft",
          "label": "Slide in left"
        },
        {
          "value": "slideInRight",
          "label": "Slide in right"
        }
      ]
    },
    {
      "type": "header",
      "content": "Advanced",
      "info": "[Learn more](https://help.outofthesandbox.com/hc/en-us/articles/360022329373)"
    },
    {
      "type": "text",
      "id": "css_class",
      "label": "CSS Class"
    },
    {
      "type": "textarea",
      "id": "custom_css",
      "label": "Custom CSS"
    }
  ],
  "presets": [{
    "name": "UTW Featured collection",
    "category": "Collection",
    "settings": {

    }
  }]
}
{% endschema %}
