{% comment %}
** Article (blog post) - main content area **
{% endcomment %}

{% assign id = section.id %}
{% comment %}Layout{% endcomment %}
{% assign width = section.settings.width %}
{% assign padding_top = section.settings.padding_top %}
{% assign padding_bottom = section.settings.padding_bottom %}
{% assign animation = section.settings.animation | default: 'none' %}
{% comment %} Advanced {% endcomment %}
{% assign css_class = section.settings.css_class %}
{% assign custom_css = section.settings.custom_css %}

{% comment %} CSS {% endcomment %}
{% style %}
  #shopify-section-{{ id }} {
    padding-top: {{ padding_top }}px;
    padding-bottom: {{ padding_bottom }}px;
    {% if width == 'wide' %}
      width: 100%;
    {% endif %}
  }

  {% render 'css-loop',
          css: custom_css,
          id: id
  %}
{% endstyle %}

{% comment %} HTML markup {% endcomment %}
<section class="section
  {{ css_class }}
  is-width-{{ width }}"
  {% if animation != "none" %}
    data-scroll-class="{{ animation }}"
  {% endif %}>
  {% if section.settings.show_breadcrumb %}
    <div class="container breadcrumb__container">
      <div class="one-whole column is-flex is-justify-space-between is-flex-column-reverse-mobile breadcrumb is-{{ settings.breadcrumb_size }} is-{{ settings.breadcrumb_capitalization }}">
        <div class="breadcrumb__wrapper">
          {% render 'breadcrumb', context: 'article' %}
        </div>        
      </div>
    </div>
  {% endif %}
  <div class="container">
    <section class="utw-article__header">
        <div class="container hide-when-banner-enabled">
            {% render 'heading',
                    title: article.title,
                    heading_tag: 'h1',
                    context: 'article',
                    text_alignment: 'center'
            %}
        </div>
    
        <div class="container blog-meta">
            <div class="one-whole column meta-info is-small">
                {% render 'meta-info-list',
                        blog_author: section.settings.blog_author,
                        blog_date: section.settings.blog_date,
                        blog_read_time: section.settings.read_time,
                        blog_comment_count: section.settings.blog_comment_count %}

                {% if section.settings.show_tags and article.tags.size > 0 %}
                <ul class="meta-tag-list tags has-padding-top">
                {% for tag in article.tags %}
                    <li class="tag tag--{{ settings.tag_style}}">
                    <a href="{{ shop.url}}/blogs/{{ blog.handle }}/tagged/{{ tag | handleize }}" title="{{ blog.title }} {{ 'blogs.general.tagged' | t }} {{ tag | escape }}">
                        {{ tag }}
                    </a>
                    </li>
                {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
        {% if article.excerpt != blank %}
            <div class="container excerpt">
                {{article.excerpt}}
            </div>
        {% endif %}
    </section>
  </div>
</section>

{% schema %}

{
  "name": "UTW article header",
  "class": "article-main has-sidebar-option jsSidebar",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_breadcrumb",
      "label": "Show breadcrumbs",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "blog_author",
      "label": "Show author",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "blog_date",
      "label": "Show date",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "read_time",
      "label": "Show estimated read time",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "blog_comment_count",
      "label": "Show comment count",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_tags",
      "label": "Show tags",
      "default": false
    },
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "select",
      "id": "width",
      "label": "Width",
      "default": "standard",
      "options": [
        {
          "value": "standard",
          "label": "Standard"
        },
        {
          "value": "wide",
          "label": "Wide"
        }
      ]
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Top spacing",
      "min": 0,
      "max": 80,
      "default": 40,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Bottom spacing",
      "min": 0,
      "max": 80,
      "default": 40,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "Advanced",
      "info": "[Learn more](https://help.outofthesandbox.com/hc/en-us/articles/360022329373)"
    },
    {
      "type": "text",
      "id": "css_class",
      "label": "CSS Class"
    },
    {
      "type": "textarea",
      "id": "custom_css",
      "label": "Custom CSS"
    }
  ],
  "presets": [
    {
      "name": "UTW article header"
    }
  ]
}

{% endschema %}
