.header_top_announcement {
    text-align: center;
}

@media only screen and (max-width: 798px) {
    .header_announcement_animation .header_top_announcement {
        height: 43px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
@media only screen and (min-width: 799px)  {
    .header_top_announcement {
        padding: 12px 15px;
        font-size: 13px;
        font-weight: normal;
    }
}
