/* # Custom Styles
================================================== */

.header_top_announcement a {
    color: inherit;
    text-decoration: underline;
    text-underline-offset: 2px; 
}

.header_announcement_animation {
    height: 43px;
    overflow: hidden;
  }
  .product-fabric-wrap {
    padding: 100px 0;
    width: 100%;
    display: flex;
    border-top: 1px solid #eeeeee;
  }
  @media only screen and (max-width: 798px) {
    .product-fabric-wrap {
      flex-direction: column-reverse;
      padding-top: 0;
      border-top: none;
      padding-bottom: 50px;
      border-bottom: 1px solid #eeeeee;
   }
  }
  .product-fabric-wrap .product-fabric-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .product-fabric-wrap .product-fabric-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .product-fabric-wrap .product-fabric-text, .product-fabric-wrap .product-fabric-image {
    flex-grow: 1;
    flex-basis: 0;
  }
  .product-fabric-wrap .product-fabric-text .product-fabric-text-title {
    font-size: 34px;
    color: #111;
  }
  .product-fabric-wrap .product-fabric-text .product-fabric-text-description {
    font-size: 15px;
    margin: 18px 0;
    max-width: 500px;
    color: #777;
  }
  @media only screen and (max-width: 798px) {
    .product-fabric-wrap .product-fabric-text .product-fabric-text-title {
      font-size: 20px;
      margin-top: 20px;
    }
  }
  .product__information .product-form-container .product-size-chart {
    text-decoration: underline;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 0;
    margin-bottom: 30px;
    color: black;
  }
  .swatch-element.color .tooltip {
    display: none;
  }
  .page-navigation-arrows {
    display: none;
  }
  @media only screen and (min-width: 799px) {
    .product__information .product-form-container .product-size-chart {
      margin-top: 20px;
      font-size: 14px !important;
    }
    .product-recommendations {
      margin-left: 80px;
      margin-right: 80px;
    }
  }
  /*Size chart css*/
  
  .product-size-chart-popup.active {
    display: block;
    overflow: auto;
  }
  @media only screen and (max-width: 1024px) {
    .product-size-chart-popup {
      overflow: scroll;
    }
  }
  .product-size-chart-popup {
    position: fixed;
    width: 100vw;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 999;
    background: rgba(0, 0, 0, 0.6);
    display: none;
  }
  .product-size-chart-popup .product-size-chart-inner {
    position: relative;
    background: #fff;
    top: 116px;
    width: 700px;
    margin: auto;
    padding: 40px 61px 50px;
  }
  .product-size-chart-popup .product-size-chart-inner .product-size-chart-close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }
  .product-size-chart-popup .product-size-chart-inner .product-size-chart-title {
    text-align: center;
    font-size: 20px;
    color: #111111;
    line-height: 1.12;
    padding-bottom: 30px;
    border-bottom: 1px solid #111111;
  }
  .product-size-chart-popup .product-size-chart-inner .product-size-chart-description {
    margin-top: 40px;
    font-size: 16px;
    color: #111111;
    line-height: 1.4;
  }
  .product-size-chart-popup .product-size-chart-inner .product-size-chart-sizes-wrap {
    margin-top: 40px;
  }
  .product-size-chart-popup .product-size-chart-inner .product-size-chart-sizes-wrap .product-size-chart-sizes, .product-size-chart-popup .product-size-chart-inner .product-size-chart-sizes-wrap .product-size-chart-values {
    display: flex;
    justify-content: center;
  }
  .product-size-chart-popup .product-size-chart-inner .product-size-chart-sizes-wrap .product-size-chart-sizes {
    border-bottom: 2px solid #111111;
  }
  .product-size-chart-popup .product-size-chart-inner .product-size-chart-sizes-wrap .product-size-chart-sizes .product-size-chart-sizes-title, .product-size-chart-popup .product-size-chart-inner .product-size-chart-sizes-wrap .product-size-chart-values .product-size-chart-sizes-title {
    width: 150px;
  }
  .product-size-chart-popup .product-size-chart-inner .product-size-chart-sizes-wrap .product-size-chart-sizes div, .product-size-chart-popup .product-size-chart-inner .product-size-chart-sizes-wrap .product-size-chart-values div {
    height: 40px;
  }
  .product-size-chart-popup .product-size-chart-inner .product-size-chart-sizes-wrap .product-size-chart-sizes div, .product-size-chart-popup .product-size-chart-inner .product-size-chart-sizes-wrap .product-size-chart-values div {
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #111111;
  }
  /*Size chart css end*/
  
  /*Accordion css here*/
  .product__information .product-accordeon-info .product-accordeon-block, .product-page .product__features .product__features-block, .product-page .product__information .description {
    font-family: unset;
  }
  
  .product__information .product-accordeon-info .product-accordeon-block {
    border-top: 1px solid lightgrey;
    cursor: pointer;
  }
  .product__information .product-accordeon-info .product-accordeon-block .product-accordeon-title {
    position: relative;
    padding: 15px 0;
    color: #111;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
  }
  .product-accordeon-info .product-accordeon-block .product-accordeon-description {
    display: none;
  }
  .product__information .product-accordeon-info .product-accordeon-block.active .product-accordeon-description {
    padding: 10px 0;
  }
  .product__information .product-accordeon-info .product-accordeon-block.active .product-accordeon-description {
    display: block;
    padding: 0 0 20px;
  }
  .product__information .product-accordeon-info .product-accordeon-block .product-accordeon-title:after {
    content: "";
    position: absolute;
    right: 0;
    top: 40%;
    transform-origin: top;
    transform: rotate(45deg);
    width: 8px;
    height: 8px;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
  }
  .product__information .product-accordeon-info .product-accordeon-block.active .product-accordeon-title:after {
    transform-origin: revert;
    transform: rotate(225deg);
  }
  /* Accordion css end */
  /* Product Model css here */
  .model-stats {
    margin-bottom: 20px;
  }
  .model-stats.hidden {
    display: none;
  }
  /* Seo block */
  .collection-seo-block h3 {
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: 600;
  }
  .collection-seo-block p {
    font-size: 14px;
    line-height: 1.4;
    color: #777;
  }
  /* Seo block end */
  .payment-options {
    color: #363636;
  }
  .afterpay-link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #363636;
  }
  .afterpay-text {
    font-size: 12px;
  }
  .afterpay-link svg {
    width: 57px;
    height: 16.5px;
    margin-left: 5px;
  }
  /* collection page */
  .collection__linklists_wrap {
    display:none;
  }
  .collection-main .section {
    padding-left: 80px;
    padding-right: 80px;
  }
  @media only screen and (max-width: 767px) {
    .collection__main {
       width:100%;
    }
    .collection-main .section {
        padding-left: 10px;
        padding-right: 10px;
      }
  }
  @media only screen and (min-width: 768px) {
    .collection__linklists_wrap {
      display:block;
      width:25%;
    }
    .collection__main {
      width:75%;
   }
  }
  .collection__linklists_wrap li a {
    color: #777;
  }
  /* UTW image with text section css */
  .image-with-text.utw {
    padding-top: 0px !important;
    padding-bottom: 0px !important;;
  }
  .image-with-text.utw .container .column, 
  .image-with-text.utw .container .columns {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  .image-with-text.utw .equal-columns--outside-trim .one-third {
    width: 33.3333333333%;
  }
  .image-with-text.utw .image-with-text__text-column p {
    font-size: 24px;
    font-weight: 700;
  }
  /* .image-with-text.utw a.button {
    padding: 12px 25px !important;
  } */
  @media only screen and (max-width: 798px) {
    .image-with-text.utw .image-with-text__text-column {
        padding: 20px !important;
    }
  }
  @media only screen and (max-width: 798px) {
    .image-with-text.utw .container {
      flex-direction: column-reverse;
    }
    .image-with-text.utw .equal-columns--outside-trim .one-third {
      width: 100%;
    }
    .image-with-text.utw .image-with-text__image-column:last-of-type {
      display: none;
    }  
    .image-with-text.utw .has-gutter-enabled .image-with-text__column:not(:last-child) {
        margin-bottom: 0px;
    }
  }

  /* .image-with-text.utw .button {
    margin: 0 5px;
    border-radius: 50px;
  } */
  /* UTW rich text css */
  .utw-rich-text .section {
/*     background-color: #ffffff !important; */
/*     background-image: none !important; */
  }
  .utw-rich-text .rich-text__content {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .utw-rich-text .rich-text__text {
    display: flex;
/*     text-align: center; */
  }
  .utw-rich-text .rich-text__text {
/*     color: #777777 !important; */
  }
  @media only screen and (max-width: 798px) {
    .utw-rich-text .card-content {
      padding: 1.5rem 0rem !important;
    }
    .utw-rich-text .rich-text__text {
      font-size: 1.5rem !important;
    }
  }
  /* featured collection css here */
  .featured-collection-section.utw {
    padding-left: 80px;
    padding-right: 80px;
  }
  @media screen and (max-width:767px) {
    .featured-collection-section.utw {
        padding-left: 10px;
        padding-right: 10px;
    }
  }
  .featured-collection-section.utw .product-wrap .product-thumbnail__vendor,
  .featured-collection-section.utw .product-wrap .product-thumbnail__price,
  .featured-collection-section.utw .product-wrap .sticker-holder__content,
  .featured-collection-section.utw .thumbnail-swatch {
    display: none;
  }
  .featured-collection-section.utw .heading-sub {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .featured-collection-section.utw .featured-other-collections a {
    color: #222222;
  }
  .featured-collection-section.utw .featured-other-collections a:first-of-type {
    margin-right: 20px;
    text-decoration: underline;
  }
  @media screen and (max-width:767px) {
    .featured-collection-section.utw .heading-sub {
        flex-direction: column;
    }
    .featured-collection-section.utw .featured-other-collections {
        width: 100%;
        text-align: right;
    }
  }
  .video__text-container {
/*     display: none !important; */
  }
  .heading-wrapper--featured-collection.utw {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .featured-collection-comment {
    font-size: 16px;
    color: #222222;
    text-align: left;
  }
  /* UTW gallery css */
  .gallery.utw {
    padding-right: 160px;
    padding-left: 160px;
  }
  @media screen and (max-width:767px) {
    .gallery.utw {
        padding-right: 20px;
        padding-left: 20px;
    }
  }
  .utw-gallery-header {
    margin-bottom: 60px;
    padding: 0 10px;
  }
  .utw-gallery-title {
    margin-bottom: 5px !important;
  }
  .utw-gallery-sub {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }
  .utw-gallery-sub a {
    color: #222222;
    text-decoration: underline;
  }
  @media screen and (max-width:767px) {
    .utw-gallery-sub {
        flex-direction: column;
    } 
    .utw-gallery-sub .utw-gallery-read {
        width: 100%;
        text-align: right;
    }
  }
  .gallery.utw .gallery__item-details {
    margin-top: 40px;
  }
  .gallery.utw .gallery__item_subtitle {
    color: #777777;
    font-size: 12px;
    margin-bottom: 15px;
  }
  .gallery.utw .gallery__item_title {
    font-size: 18px;
    font-weight: 500;
  }
  .gallery.utw .gallery__item_content {
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  /* .gallery__item_more {
    background: #222222;
    border-radius: 50px;
    padding: 6px 16px;
    color: #ffffff;
    font-size: 13px;
  } */
  
  .atc-btn-utw {
    position: absolute;
    bottom: 40px;
    left: 40px;
    color: #000000;
    border-radius: 50px;
    padding: 6px 16px;
    background: #ffffff;
  }
  .atc-right-arrow {
    margin-left: 3px;
    line-height: 1;
    padding-top: 3px;
  }
  /* gallery collection block*/
  .utw-collection-block {
    padding-left: 160px;
    padding-right: 160px;
  }
  @media screen and (max-width:767px) {
    .utw-collection-block {
        padding-left: 20px;
        padding-right: 20px;
    }
  }

  @media screen and (min-width:768px) and (max-width:1094px){
    .utw-collection-block {
        padding-left: 40px;
        padding-right: 40px;
    }
  }
  @media screen and (min-width:1095px) {
    .utw-collection-block {
        padding-left: 160px;
        padding-right: 160px;
    }
  }

  /* rich columns text */
  .utw-columns-rich-text .section {
/*     background-image: none !important; */
/*     background-color: #ffffff !important; */
  }
  .utw-columns-rich-text .columns {
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  .utw-columns-rich-text .rich-text__heading {
    font-size: 18px !important;
    font-weight: 500;
  }
  .utw-columns-rich-text .rich-text__text {
    font-size: 13px !important;
  }
  @media screen and (max-width:767px) {
    .utw-columns-rich-text .columns {
      flex-direction: column;
    }
  }
  
  /* utw slider */
  .slideshow-section.utw {
    margin-top: 40px;
  }
  .slideshow-section.utw .slideshow-classic__preheading {
    font-size: 22px;
    margin-bottom: 35px;
  }
  .slideshow-section.utw .slideshow-classic__buttons {
    justify-content: center;
  }
  .slideshow-section.utw .slideshow-classic__buttons .button {
    font-size: 12px;
    border-radius: 50px;
    max-width: fit-content;
    padding: 7px 17px; 
    margin: 0 4px;
  }
  .slideshow-section.utw .slideshow-classic__buttons .button--primary {
    color: #000;
    background-color: #ffffff;
    border-color: #ffffff;
  }
  .slideshow-section.utw .slideshow-classic__buttons .button--secondary {
    color: #fff;
    background-color: #000000;
    border-color: #000000;
  }
  @media screen and (max-width:767px) {
    .slideshow-section.utw .image-element__wrap {
        position: relative;
    }
    .slideshow-section.utw .caption {
        position: absolute;
        top: 0px;
    }
    .slideshow-section.utw .caption p,  .slideshow-section.utw .caption a {
        font-size: 12px !important;
    }
    .slideshow-section.utw .slideshow-classic__preheading {
        margin-bottom: 10px;
    }
  }
  /* utw logo list  */
  .logo-list.utw {
    padding: 50px 0px !important;
/*     background: #EEEEEE; */
  }
  /* utw testimonials */
  .testimonials.utw {
    padding-top: 40px !important;
  }
  .testimonials.utw .testimonial__image {
    width: 100%;
    position: relative;
    height: auto !important;
    max-width: auto !important;
    max-width: inherit !important;
    left: auto;
    margin-left: auto;
    margin-top: auto;
  }
  .testimonials.utw .image-element__wrap {
    max-width: 236px !important;
  }
  .testimonials.utw .testimonial__description {
    min-height: auto;
    padding: 40px;
  }
  .testimonials.utw .testimonial__name {
    padding: 0px 40px 25px !important;
    height: auto !important;
    margin-top: 0px !important;
  }
  
  /* utw product page css */
  .product-gallery__main--utw {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  @media screen and (max-width:798px) {
    .product-gallery__main--utw:not(.mobile) {
        display: none;
    }
    .product-gallery__main--utw.mobile {
        flex-wrap: nowrap;
    }
  }
  @media screen and (min-width:799px) {
    .product-gallery__main--utw.mobile {
        display: none;
    }
  }
  .product-gallery__image.utw {
    visibility: visible !important;
    width: calc(50% - 5px);
  }
  @media screen and (max-width:767px) {
    .product-gallery__image.utw {
        width: 100%;
        min-width: 100%;
    }
  }
  .fancybox-bg {
    background: #ffffff !important;
  }
  @media only screen and (min-width: 799px) {
    .product__images.utw {
      width: 58.333%;
    }
    .product-info-wrap.utw {
        width: 33.333%;
    }
    .product-info-wrap.utw .product__information {
        width: 100%;
/*         position: sticky; */
        top: 0px;
    }
  } 
  @media only screen and (max-width: 798px) {
    .product-info-wrap.utw {
        width: calc(100% - 10px);
        margin-left: auto;
        margin-right: auto;
    }
    .product-info-wrap.utw .product__information {
        width:fit-content;
    }
    .product-gallery__thumbnails {
        margin-top: 0px;
    }
    .product-main .product__images {
        margin-bottom: 10px;
        margin-left: 0px;
        margin-right: 0px;
        width: 100%;
    }
  } 
  /* top navigation */

  header#header {
      border-bottom: 1px solid #eee;
  }
  
  nav.navbar {
      height: 80px;
  }

  .header__menu--1 .header__menu-items {
    justify-content: flex-start;
  }
  .header__menu--2 .header__menu-items {
    justify-content: flex-end;
  }
  .header__menu--1 .header__menu-items .navbar-item:first-of-type .navbar-link {
    padding-left: 0px !important;
  }
  .header-section__container {
    width: 100%;
    max-width:100%;
  } 
  .header-section.utw .navbar-link:not(.is-arrowless) {
    padding-right: 1.5em;
  }
  .header-section.utw .navbar-item.has-dropdown a:after, 
  .header-section.utw .navbar-item.has-mega-menu a:after {
    display: none;
  }
  .header-section.utw .disclosure__toggle--currency {
    border: none;
  }
  .header-section.utw .navbar-link {
    padding: 1.5rem 0.75rem;
  }
  .header-section__container .navbar {
    padding: 0 80px;
  }
  .header__inner-content {
    background: #ffffff;
  }
  .header__link, .header__link>a {
    color: #222222 !important;
  }
  
  .header__link {
    display: flex;
    flex-direction: row;
  }
  .header__link .icon {
    margin-right: 3px;
  }
  .header__menu--2 .navbar-item {
    margin: 0 8px;
  }
  .header__menu--2 .header__menu-items {
    align-items: center;
  }
  .header-cart.action-area__link {
    height: inherit;
  }
  
  .is-sticky .header__menu {
    display: initial;
  }
  .is-sticky .header__brand {
    width: fit-content;
  }
  .is-sticky .header__menu-toggle,
  .is-sticky .header__icons {
    display: none;
  }
  .mega-menu {
    padding-left: 10px;
    padding-right: 10px;
  }
  .mega-menu .mega-menu__block:first-of-type {
    padding-left: 0px;
  }
  .mega-menu .mega-menu__block:last-of-type {
/*     padding-right: 0px; */
  }
  /*mobile mega menu css */
  .mobile-menu {
    background-color: #ffffff !important;
    overflow-x: hidden;
  }
  .mobile-menu__submenu.has-mega-menu.is-open {
    transition: right .5s;
    right: 0;
  }
  .mobile-menu__submenu.has-mega-menu {
    max-height: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0px;
    right: -100%;
    background-color: #fff;
    transition: right .3s ease-in-out;
    width: 100%;
    z-index: 40;
    overflow-y: auto;
    padding-bottom: 91px;
    -webkit-overflow-scrolling: touch;
}
.mobile-menu__list-item.deactive {
  display: none;
}
/* .mobile-dropdown[class*="mobile-dropdown__position"] {
  pointer-events: none;
} */
.mobile-menu__submenu {
    border-left: 1px solid #D3D3D3;
    overflow: hidden;
    padding-left: 0;
}
.mobile-menu-link, .mobile-menu__item, .mobile-menu a {
    color: #404040 !important;
}
.mega-menu__back-block .back-to-menu {
  display: flex;
  align-items: center;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
}
.parent-item-title {
  font-size: 15px;
  margin-left: 10px;
  font-weight: bold;
}
.mega-menu__back-block .back-to-menu .back-arrow {
    width: 30px;
    height: 30px;
    margin: 20px 5px;
}

.mega-menu {
    padding-bottom: 30px !important;
}

.mega-menu__block {
  padding: 10px;
  line-height: 1.4;
}
.mobile-menu .mobile-menu-link, .mobile-menu .mobile-menu__item {
  padding-left: 10px;
}
.mobile-menu-link:after {
    opacity: 0;
}
.mobile-menu__first-level {
    position: relative;
}
.expand-menu, .expand-menu-temp {
    position: absolute;
    top: 10px;
    right: 19px;
    cursor: pointer;
}
.expand-menu .right-arrow g {
    fill: #404040!important;
}
.mobile-menu__first-level .close-dropdown, .mobile-menu__first-level .close-sub-dropdown {
    right: 40px;
    display: none;
}
.mobile-menu__first-level[data-mobile-menu-has-toggle="false"] .expand-menu {
    display: none;
}
@media screen and (max-width:1279px) {
  .mega-menu .column:not(.block__featured-promo) {
    width: 100% !important;
  }
  .mega-menu .column.block__featured-promo {
    width: calc(50% - 10px) !important;
    margin-right: 10px;
  }
}
.selectors-form--mobile .disclosure.disclosure--currency {
    border: none;
}
.selectors-form--mobile .disclosure.disclosure--currency span.icon {
    display: none;
}
@media screen and (min-width:1280px) {
    .mega-menu__back-block {
        display: none;
    }
}
.footer__container.utw li {
    margin: 5px 0px !important;
}
.social-icons.utw {
    flex-direction: column;
}
.social-icons.utw li a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.social-icons.utw .icon-name {
    text-transform: capitalize;
    margin: 0 5px;
}
.footer__container.utw .footer__content {
    background-color: #F1F1EF;
    color: #121212;
}
.footer__container.utw .footer__heading,
.footer__container.utw .footer__menu-link a,
.footer__container.utw .social-icons .icon-name,
.footer__container.utw .footer-email {
    color: #121212;
}
.footer__container.utw .footer-email {
    text-decoration: underline;
}
.footer__extra-content .selectors-form--mobile {
    display: none;
}
.footer__container.utw .social-icons svg,
.footer__container.utw .social-icons svg path {
    fill: #121212;
}
.follow-us-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.follow-us-header h2,
.follow-us-header a {
    font-size: 24px;
    color: #111111;
}
.follow-us-header h2 {
    margin-right: 8px;
}
@media screen and (max-width:767px) {
    .follow-us-header h2,
    .follow-us-header a {
        font-size: 16px;
    }
}
.follow-us-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.follow-us-footer p {
    margin: 8px 0px
}
.follow-us-footer a {
    padding: 9px 32px;
    background: #121212;
    border-radius: 50px;
    color: #ffffff;
    margin-top: 20px;
}
.footer__container.utw .footer__block.block__logo div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
} 
@media screen and (max-width:767px) {
    .follow-us-footer p {
        font-size: 12px;
        text-align: center;
    }
    .footer__container.utw .footer__block {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-bottom: 20px;
    }    
    .footer__container.utw .footer__block div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
@media screen and (min-width:1500px) {
    .footer__container.utw .section.is-width-wide .container.has-limit{
        max-width: 100%;
        width: 100%;
        padding: 0 80px;
    }
}
@media screen and (max-width:1499px) and (min-width:768px) {
    .footer__container.utw .section.is-width-wide .container.has-limit{
        max-width: 100%;
        width: 95%;
    }
}
.blog-posts .section,
#template-product .dynamic-sections {
    max-width: 100%;
    width: 100%;
    padding: 0 80px;
}
/* #template-product .container .column:not(.product__images), 
#template-product .container .columns:not(.product__images) {
    margin-left: 0px;
    margin-right: 0px;
} */
@media screen and (max-width:798px) {
    .blog-posts .section {
        padding: 0 10px;
    }
    #template-product .dynamic-sections {
        padding: 0px;
    }
}
@media screen and (max-width:798px) {
  .image-with-text-overlay__banner > .image-element__wrap {
    display: none;
  }
}
/* collection page css */
.collection__header {
    margin-left: -80px;
    width: calc(100% + 160px);    
    margin-bottom: 55px;
}
.collection__header.utw {
  display: flex;
  justify-content: center;
}
.collection__header.utw .sub_collection {
  width: 50%;
}
.collection__header.utw .collection__header__first {
  padding: 60px 40px 60px 80px;
}
.sub_collection.collection__header__first {
  height: inherit;
  display: flex;
  flex-direction: column;
}
.sub_collection.collection__header__first .container {
  margin-left: 0px;
}
.sub_collection.collection__header__first .container-second {
  flex: 1;
}
.collection__header.utw .collection__header_second {
  min-height: inherit;
}
.collection__header.utw .image-element__wrap img {
  object-fit: cover;
}
@media only screen and (max-width: 798px) {
  .collection__header.utw {
    flex-direction: column-reverse;
  }
  .collection__header.utw .sub_collection {
    width: 100%;
  }
  .collection__header.utw .collection__header__first {
    padding: 30px 20px;
  }
}
@media screen and (max-width:767px) {
    .collection__header {
        margin-left: -10px;
        width: calc(100% + 20px);
        margin-bottom: 10px;
    }
}
@media screen and (min-width:780px) and (max-width:920px) {
  .collection__main .one-fourth,
  .collection__main .one-fifth {
    width: calc(50% - 20px) !important;
  }
}
@media screen and (min-width:921px) and (max-width:1279px) {
  .collection__main .one-fourth,
  .collection__main .one-fifth {
    width: calc(33.3333333333% - 20px) !important;
  }
}
@media screen and (min-width:1280px) and (max-width:1365px) {
  .collection__main .one-fifth {
    width: calc(25% - 20px) !important;
  }
}
/*collection page seo text */
#template-collection .rich-text .container {
  max-width: 100%;
  padding: 0 80px;
  width: 100%;
}
#template-collection .rich-text .rich-text__content {
  padding-left: 0px;
}
#template-collection .rich-text .rich-text__text {
  max-width: 50%;
}
@media screen and (max-width:1279px) {
  #template-collection .rich-text .rich-text__text {
    max-width: 100%;
  }
}
@media screen and (max-width:767px) {
  #template-collection .rich-text .container {
    padding: 0 20px;
  }
}
.product-thumbnail .product-thumbnail__title,
.price--sale, .cart__savings, .sale {
    color: #222222;
}
.product-thumbnail .product-thumbnail__price,
.thumbnail-swatch {
    margin-top: 5px;
}
.product-thumbnail__vendor {
    color: #777777;
}
.boost-pfs-filter-load-more-button {
    background: #222222;
    border-radius: 50px;
    color: #ffffff;
}
.boost-pfs-filter-option-title-text {
    font-size: 15px !important;
}
.collection__content .one-whole {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.collection__content .container--pagination .one-whole {
    justify-content: center !important;
}
.collection__content .collection__filters {
    margin: 0;
}
@media only screen and (min-width: 481px) {
    .collection__sort-by-filter {
        margin-left: 0px;
    }
}
@media screen and (max-width:784px) {
    .collection__content .one-whole {
        align-items: center;
    }
}
.collection__filter_wrap {
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}
.collection__filter_wrap .boost-pfs-filter-tree {
    position: absolute !important;
    z-index: 99999;
    right: 0;
    top: 33px !important;
    background: #ffffff;
    padding: 14px;
    box-shadow: 2px 2px 5px 2px #b4b4b44d;
}
@media screen and (min-width: 768px) {
    .boost-pfs-filter-mobile-toolbar, .boost-pfs-filter-mobile-footer, .boost-pfs-filter-selected-items-mobile, .boost-pfs-filter-tree[data-is-mobile] {
        display: none !important;
    }    
}

@media screen and (max-width:767px) {
    .collection__filter_wrap .boost-pfs-filter-tree {
        position: fixed !important;
        top: 0px !important;
    }
}

.collection__filter_wrap .collection__filter_trigger span {
    text-decoration: underline;
    cursor: pointer;
}
@media screen and (min-width:768px) {
    .collection__filter_wrap .boost-pfs-filter-tree {
        display: none;
    }
}
@media screen and (max-width:767px) {
    .collection__filter_wrap .collection__filter_trigger {
        display: none;
    }
}
.collection__breadcrumb .breadcrumb__container {
    margin-bottom: 64px;
}
.heading-wrapper {
    margin-bottom: 10px;
}
.heading-wrapper .collection__title {
    margin-bottom: 0px;
}
@media screen and (max-width:767px) {
    .breadcrumb ul, .breadcrumb ol {
        justify-content: left;
    }
    .collection__breadcrumb .breadcrumb__container {
        margin-bottom: 30px;
    }
}
.search__fields input[name="type"],
.search__fields input[type="submit"] {
    display: none;
}
/* career section css */
.career-section {
    padding-top: 40px;
    padding-bottom: 40px;
}
.career-header h1 {
    margin-bottom: 1.25rem;
}
.career-sub-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}
.career-sub-header .career-sub-title {
    font-weight: 600;
    font-size: 18px;
}
.career-sub-header .career-sub-title.first,
.career-item-header .career-title.first  {
    width: 50%;
}
.career-sub-header .career-sub-title:not(.first),
.career-item-header .career-title:not(.first) {
    width: 25%;
    text-align: right;
}
.career-item-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}
.career-item-content {
    margin-bottom: 30px;
}
.career-apply-now {
    background: #222222;
    color: #ffffff;
    border-radius: 50px;
    padding: 10px 40px;
}
.career-section .page__content {
    width: 100%;
}
.career-item {
    margin-bottom: 75px;
}
@media screen and (max-width:767px) {
    .career-sub-header .career-sub-title.first,
    .career-item-header .career-title.first  {
        width: 33.333333%;
    }
    .career-sub-header .career-sub-title:not(.first),
    .career-item-header .career-title:not(.first) {
        width: 33.333333%;
    }
    .career-sub-header .career-sub-title {
        font-size: 15px;
    }
    .career-item-content {
       font-size: 12px;
    }
}

/* blog css here*/
.blog-main .section {
/*     padding-left: 80px; */
/*     padding-right: 80px; */
}
#template-blog .image-with-text.utw .image-with-text__text-column {
    width:33.33333%;
}
#template-blog .image-with-text.utw .image-with-text__image-column {
    width:66.66667%;
}
#template-blog .image-with-text.utw .image-with-text__wrapper .buttons {
    margin-top: 40px;
}
#template-blog .image-with-text.utw .image-with-text__wrapper a {
    padding: 8px 30px;
}
#template-blog .image-with-text.utw .image-with-text__wrapper a {
    padding: 8px 30px;    
}
#template-blog .image-with-text.utw .image-with-text__text-column p {
    font-size: 16px;
}
.blog-card__read-more a {
/*     border-radius: 50px !important; */
}
.blog-filter ul li.selected {
  text-decoration: underline !important;
  font-weight: bold;
}
@media only screen and (max-width: 798px) {
    #template-blog .image-with-text.utw .image-with-text__image-column {
        width: 100%;
        display: block !important;
    }
    #template-blog .image-with-text.utw .image-with-text__text-column {
        width:100%;
        transform: translateY(0);
    }
}
@media screen and (min-width:481px) {
    .utw-half-width {
        width: calc(50% - 20px);
    }
}
/* template article */
#template-article .image-element__wrap {
    height: auto;
}
#template-article .image-element__wrap img {
    height: auto;
}
#template-article .breadcrumb__wrapper {
    width: 100%;
}
#template-article .breadcrumb__wrapper .breadcrumb ul, 
#template-article .breadcrumb__wrapper .breadcrumb ol {
/*     justify-content: center; */
}
#template-article .blog-meta .meta-info-list {
/*     text-align: center; */
} 
#template-article .blog-meta .meta-tag-list {
/*     justify-content: center; */
}
#template-article .container .column {
    margin: 0px;
    width: 100%;
}
#template-article .page-navigation-arrows {
    margin:0 80px;
}
#template-article .article-content h1,
#template-article .article-content h2,
#template-article .article-content h3,
#template-article .article-content h4,
#template-article .article-content h5,
#template-article .article-content h6,
#template-article .article-content p {
/*     padding: 0 160px; */
}
#template-article .related-blogs {
    padding: 0 80px;
}
.container.excerpt {
  margin-top: 20px;
}
@media screen and (max-width:767px) {
    #template-article .page-navigation-arrows {
        margin:0 10px;
    }
    #template-article .article-content h1,
    #template-article .article-content h2,
    #template-article .article-content h3,
    #template-article .article-content h4,
    #template-article .article-content h5,
    #template-article .article-content h6,
    #template-article .article-content p {
/*         padding: 0 20px; */
    }
    #template-article .related-blogs {
        padding: 0 10px;
    }
}
/* html section */
.html-section {
/*     padding-right: 80px !important; */
/*     padding-left: 80px !important; */
}
.html-section .section {
    padding: 0px !important;
}
@media screen and (max-width:767px) {
    .html-section {
/*         padding-right: 10px !important; */
/*         padding-left: 10px !important; */
    }
}

@media only screen and (max-width: 798px) {
    header.header {
        display: block;
    }    
    .header .header_announcement_animation {
        font-size: 11px;
    }
}

@media screen and (max-width:1279px) {
  header.header .header__inner-content {
    display: none;
  } 
  .mobile-header {
    display: block;
  }
  .mobile-header__content {
    padding: 0 20px;
  }
  .mobile-menu__toggle-button[data-show-mobile-menu] {
    display: block !important;
  }
}
@media only screen and (min-width: 1280px) {
  .mobile-header {
    display: none;
  }
}

/* 404 template css */
.not-found-404__page {
    padding-bottom: 0px !important;
}
.not_found_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 240px 0 0 0;
}
.not_found_title p,
.related-collection-header {
    font-size: 30px;
}
.related-collection-header {
    margin-top: 230px !important;
}
.not_found_title .go-home {
    background: #222222;
    border-radius: 50px;
    color: #ffffff;
    padding: 15px 30px;
}
@media screen and (max-width:767px) {
    .not_found_title {
        padding: 40px 0px 0px 0px;
    }
    .not_found_title p,
    .related-collection-header {
        font-size: 20px;
    }
    .related-collection-header {
        margin-top: 30px !important;
    }
    .not_found_title .go-home {
        padding: 10px 20px;
        font-size: 12px;
    }
}

/* Ben Custom CSS*/

/* Global  */

/* App Container */
    
.product-app--container .container .column.one-whole {
    margin: 0;
    width:100%;
}

/* Global - Buttons */

.button {
  padding: 0.8em 1.6em;
  margin-right: 10px;
  margin-bottom: 6px;
}

.button--link-style, a.button--link-style.button {
    padding: 0;
    border: none;
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
    text-underline-offset: 4px;
    font-weight: 700;
	text-transform: uppercase;
}

/* Global - Swatches */

.thumbnail-swatch span, .swatch-element .swatch__image {
    transform: rotate(-45deg);
}

/* Global - Product Stickers */

.sticker-text {
	color: #ffffff;
}

.thumbnail-sticker {
	border-radius: 30px;
}

/* Global - Product Tiles */

.product-thumbnail {
	line-height: 1.4;
}

.product__imageContainer {
	background-color: #eee;
}

.product-thumbnail__vendor,
.product-text {
	text-transform: capitalize;
}

/* Global - Footer */

.footer__extra-content.section {
	max-width: unset;
}

.footer__container.utw .footer__content {
	padding-top: 40px;
	padding-bottom: 40px;
}

.payment-methods {
    filter: grayscale(1);
}

.footer__heading {
    font-weight: 700;
    text-transform: uppercase;
}

/* Global - Navigation */

.mega-menu .mega-menu__linklist-link {
    padding: 0.4rem 0;
    font-size: 0.9rem;
    line-height: 1.5;
}

.mobile-menu__item.mobile-menu-link, .mobile-menu__item {
	font-size:1.5rem;
}

.mega-menu__linklist .menu__heading {
    font-size: 0.75rem;
    letter-spacing: 2px;
    font-weight: 500;
    text-transform: uppercase;
    color: #999;
}

/* Global - Mini Cart */

.show-mini-cart #theme-ajax-cart.is-mini-cart {
    border-radius: 0 0 0 5px;
}

.theme-ajax-cart .ajax-cart__form {
    overflow: scroll;
    overflow-x: auto;
}

.ajax-cart__product-title {
    font-weight: 600;
}

.ajax-cart__button.button--add-to-cart.button {
    padding: 1.5rem;
    border-radius: 50px;
}

/* Home */

.gallery__item-details {
	padding-right: 15px;
}

.intro-text p {
	font-weight: 500;
}

.gallery.utw .gallery__item-details {
    margin-top: 20px;
}

.gallery.utw .gallery__item_title {
    font-size: 1.2rem;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase
}

.collection-info__caption-wrapper.collection-info__caption--below-image {
    margin-bottom: 2rem;
}

@media only screen and (max-width: 1279px) {
   .collection-list__main-tiles .column {
        width: calc(50% - 20px)!important;
    }
}

.collection-list__main-tiles .collection-info__caption--below-image .title {
	font-size: 0.85rem;
    line-height:1.4;
    padding-right: 1rem;
	text-align: left;
    display:none;
}

.collection-info__caption-wrapper .title {
    display:none;
}

@media only screen and (min-width: 797px) {
    .collection-list__main-tiles .collection-info__caption--below-image .title {
        font-size: 1rem;
        padding-right: 2rem;
    }
}


.collection-list__main-tiles .collection-info__caption--below-image {
    padding: 0;
	padding-top: 15px;
    align-items: start;
}

.utw-gallery-header {
    margin-bottom: 40px;
    padding: 0 10px;
}

.utw-gallery-header .title.utw-gallery-title {
    font-size: 6vw;
	font-weight: 500;
}

@media only screen and (min-width: 700px) {
    .utw-gallery-header .title.utw-gallery-title {
        font-size: 6vw;
    }
}

@media only screen and (min-width: 797px) {
    .utw-gallery-header .title.utw-gallery-title {
        font-size: 6vw;
    }
}

@media only screen and (min-width: 1280px) {
    .utw-gallery-header .title.utw-gallery-title {
        font-size: 4vw;
    }
}

.icon-column__text .icon-column__title.title {
	margin-bottom: 0.8rem;
	font-size: 2rem;
	font-weight: 700;
/* 	text-transform: uppercase; */
}

.heading-wrapper--featured-collection,
.heading-wrapper--featured-blog,
.heading-wrapper--recommended-products {
	align-items: start;
	text-align: left;
}

.heading-wrapper--featured-collection .featured-collection__title.title, 
.heading-wrapper--featured-blog .featured-blog__title.title,
.recommended-products__title.title,
.social-feed__heading .heading-section__heading.title{
	margin-bottom: 20px;
	font-weight: 700;
	text-transform: uppercase;
}

.collection-list__main-tiles .collection-info__caption {
    padding: 0;
}

.collection-list__main-tiles .collection-info__caption-wrapper {
    padding: 10px;
    padding-top: 20%;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(20,20,20,0.5) 0%, rgba(0,0,0,0) 100%);
}

.collection-list__main-tiles .button.button--link-style {
    margin: 0;
    font-size: 2rem!important;
    line-height: 0.85;
    text-align: left;
    text-decoration: none;
    word-spacing: 100vw;
    color: #fff;
}

@media only screen and (min-width: 600px) {
    .collection-list__main-tiles .button.button--link-style {
        font-size: 3rem!important;
    }
}

@media only screen and (min-width: 798px) {
    .collection-list__main-tiles .container {
        gap: 20px 0;
    }
}


/* Template - Collection */

#template-collection .product__grid-item.has-padding-bottom {
	padding-bottom: 40px;
}


.container.container-second {
	align-content: baseline;
}

.collection__title.title {
	font-weight: 700;
	text-transform: uppercase;
}

#template-collection .rich-text__heading.title {
	font-size: 1.5rem;
	font-weight: 700;
	text-transform: uppercase;
}

.product-thumbnail {
	font-size: 0.85rem;
}

.product-thumbnail__title {
	font-weight: 700;
	text-transform: uppercase;
}

.product-thumbnail .product-thumbnail__price, .thumbnail-swatch {
    margin-top: 2px;
}

.product-thumbnail .product-thumbnail__price {
	font-weight: 500;
}

.collection__main .image__container.product__imageContainer img:first-child {
    aspect-ratio: 14/20;
}

.collection__description {
    font-size: 12px;
}

@media screen and (max-width: 767px) {
    .collection__breadcrumb .breadcrumb__container {
        margin-bottom: 10px;
    }
}

.collection__filter_trigger, .boost-pfs-filter-tree-mobile-button-label {
    font-size: 0.85rem;
	font-weight: 700;
	text-transform: uppercase;
}

.collection__filter_wrap .collection__filter_trigger span {
    text-decoration: none;
}

@media only screen and (max-width: 799px) {
    .thumbnail-swatch .swatch {
        padding: 2px;
        margin: 0 1px;
    }

    .thumbnail-swatch span {
        min-height: 18px;
        min-width: 18px;
    }

    .thumbnail-swatch span img {
        max-width: 18px;
        max-height: 18px;
    }
}

.collection__title.title {
    font-size: 1.25rem;
}

.collection__description {
	font-size: 0.85rem;
}

@media only screen and (min-width: 1280px) {
	.collection__title.title {
		font-size: 1.5rem;
		margin-bottom: 10px;
	}
	.collection__description {
		font-size: 0.9rem;
	}
}

@media only screen and (min-width: 1920px) {
	.collection__title.title {
		font-size: 2rem;
	}
	.collection__description {
		font-size: 1rem;
	}
}

/* Template - Collection - Boost */

.boost-pfs-filter-load-more {
    padding: 0 0 30px;
}

.boost-pfs-filter-load-more-total {
    margin-top: 15px;
    margin-bottom: 20px;
    text-transform: unset;
    font-size: 12px;
    letter-spacing: 0;
}

.collection__breadcrumb .breadcrumb__container {
    margin-bottom: 10px;
}

@media only screen and (min-width: 798px) {
    .collection__breadcrumb .breadcrumb__container {
        margin-bottom: 10px;
    }
}

@media only screen and (min-width: 1280px) {
    .collection__breadcrumb .breadcrumb__container {
        margin-bottom: 64px;
    }
}

@media only screen and (min-width: 1920px) {
    .collection__breadcrumb .breadcrumb__container {
        margin-bottom: 64px;
    }
}

.collection__header {
    margin-left: 0;
    width: 100%;
    margin-bottom: 20px;
}

@media only screen and (min-width: 798px) {
    .collection__header {
        margin-left: -20px;
        width: calc(100% + 20px);
        margin-bottom: 40px;
    }
}

@media only screen and (min-width: 1280px) {
    .collection__header {
        margin-left: -40px;
        width: calc(100% + 80px);
        margin-bottom: 40px;
    }
}

@media only screen and (min-width: 1920px) {
    .collection__header {
        margin-left: -80px;
        width: calc(100% + 160px);
        margin-bottom: 60px;
    }
}


.collection__header.utw .collection__header__first {
    padding: 30px 0 30px 0;
}

@media only screen and (min-width: 798px) {
    .collection__header.utw .collection__header__first {
        padding: 40px 40px 60px 20px;
    }
}

@media only screen and (min-width: 1280px) {
    .collection__header.utw .collection__header__first {
        padding: 60px 40px 60px 40px;
    }
}

@media only screen and (min-width: 1920px) {
    .collection__header.utw .collection__header__first {
        padding: 60px 40px 60px 80px;
    }
}

/* Template - Product */

.product-info-wrap.utw .product__information {
    width: unset;
}  

@media only screen and (max-width: 798px) {
    .product-info-wrap.utw {
        width: 100%;
    }   
}

.product-gallery__image.utw {
    background-color: #eee;
}

.product_name.title {
	margin-bottom: 0.2rem;
	font-size: 2rem;
  	font-weight: 700;
	text-transform: uppercase;
}

.product-text {
	margin-bottom: 1rem;
	font-size: 1.25rem;
	color: #999;
}

.options-selection__option-name {
	font-weight: 500;
}

.options-selection__option-name span {
	font-weight: 400;
}

.product-form-container fieldset {
	margin-bottom: 1.5rem;
}

.product-accordeon-info {
    margin-top: 3rem;
}

.shopify-payment-button__more-options {
	display: none;
}

@media only screen and (min-width: 799px) {
   .product__images.utw {
        width: 50%;
    }
}

@media only screen and (min-width: 799px) {
    .product-info-wrap.utw {
        width: 45%;
    }  
}

@media only screen and (min-width: 1279px) {
    .product__images.utw {
        width: 58.333%;
    } 
}

@media only screen and (min-width: 1279px) {
    .product-info-wrap.utw {
        width: 33.333%;
    }  
}

@media only screen and (min-width: 799px) {
    .product-info-wrap.utw .product__information {
        position: sticky;
        top: 160px;
    }
}

.product-breadcrumb .column  {
    align-items: start;
}

@media only screen and (max-width: 798px) {
      .product-main .product__images {
        margin-bottom: 20px;
    }  
}

.product-recommendations {
	margin-left: 0;
	margin-right: 0;
}

/* Template - Blog - Articles */

.heading-wrapper--article {
    align-items: flex-start;
    text-align: left;
}

#template-article .article__title {
	margin: initial;
	margin-bottom: 0.5rem;
	font-size: 3rem;
  	font-weight: 700;
	text-transform: uppercase;
}

@media only screen and (min-width: 799px) {
    #template-article .article__title {
        margin: initial;
        margin-bottom: 0.5rem;
        font-size: 3rem;
    }
}

#template-article .banner__content.card-content {
	display:none;
}

@media only screen and (min-width: 799px) {
	.blog-card .image-element__wrap {
    	max-height: 40rem;
	}
}

.excerpt-length-lg .truncation-fade {
	background-image: none;
}

.featured-article--link {
 	font-weight: 700;
	text-transform: uppercase;   
}

#template-article .article__title {
    font-size: 2rem;
}

@media only screen and (min-width: 798px) {
	#template-article .article__title {
		font-size: 3rem;
	}
}

@media only screen and (min-width: 1280px) {
	#template-article .article__title {
		font-size: 3rem;
	}	
}

@media only screen and (min-width: 1920px) {
	#template-article .article__title {
		font-size: 3rem;
	}	
}

.utw-article__header {
	padding: 20px 0;
}

@media only screen and (min-width: 798px) {
	.utw-article__header {
		padding: 40px 0;
	}
}

@media only screen and (min-width: 1280px) {
	.utw-article__header {
		padding: 60px 0;
	}
}

#template-article .featured-blog__title.title {
	margin-left: 10px;
	margin-right: 10px;
}

@media only screen and (min-width: 798px) {
	.blog-card__content .excerpt {
		padding-right: 20px;
	}
}

/* Template - Cart */

.cart__card {
    border-top: 1px solid #eee;
    padding-top: 20px;
    margin-bottom: 20px;
}

.quantity-wrapper .button {
    margin: unset;
    padding-bottom: calc(0.375em - 1px);
    padding-left: 1em;
    padding-right: 1em;
    padding-top: calc(0.375em - 1px);
}

.ajax-cart__delete .close {
    background-color: #fff;
    height: 20px;
    max-height: 20px;
    max-width: 20px;
    min-height: 20px;
    min-width: 20px;
    width: 20px;
}


.cart-page__title.title {
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
}

.heading-wrapper--cart-page {
    margin-bottom: 40px;
}

.cart__headings h3 {
    font-size: 0.85rem;
    font-weight: 500;
    text-transform: uppercase;
    color:#777;
}

.item__properties {
    padding-top: 0;
}

.cart__text p {
    font-size:0.85rem;
    color:#777;
}

.cart__text .item__title {
    font-weight: 700;
    text-transform: uppercase;
}

/* Stockists */
#stockist-widget .stockist-icon {
    font-family: 'Glyphicons Halflings'!important;
}

/* Utility */

.custom-margin-large, .custom-margin-large, .custom-margin-large {
  width:unset!important
}

.custom-margin-large {
  padding-left:0!important;
  padding-right:0!important;
}

@media only screen and (min-width: 798px) {
	.custom-margin-large {
		padding-left:20px!important;
		padding-right:20px!important;
	}
}

@media only screen and (min-width: 1200px) {
	.custom-margin-large {
		padding-left:160px!important;
		padding-right:160px!important;
	}
}


.custom-margin-medium {
  padding-left:0!important;
  padding-right:0!important;
}

@media only screen and (min-width: 798px) {
	.custom-margin-medium {
		padding-left:40px!important;
		padding-right:40px!important;
	}
}

@media only screen and (min-width: 1200px) {
	.custom-margin-medium {
		padding-left:80px!important;
		padding-right:80px!important;
	}
}

.custom-margin-small {
  padding-left:0!important;
  padding-right:0!important;
}

@media only screen and (min-width: 798px) {
	.custom-margin-small {
		padding-left:20px!important;
		padding-right:20px!important;
	}
}

@media only screen and (min-width: 1200px) {
	.custom-margin-small {
		padding-left:40px!important;
		padding-right:40px!important;
	}
}

/* Global - Margins - Content */

/* Margins - Small */

/* Margins - Medium */

.featured-collection-section,
.social-feed__heading,
.blog-posts .section {
    padding: 0;
}

@media only screen and (min-width: 798px) {
    #template-product .dynamic-sections,
    .featured-collection-section,
    .social-feed__heading,
    .blog-main .section {
		padding: 0 40px;
	}	
}

@media only screen and (min-width: 1920px) {
    #template-product .dynamic-sections,
    .featured-collection-section,
    .social-feed__heading,
    .blog-main .section {
		padding: 0 80px;
	}	
}

/* Margins - Large */

.collection-main .section,
.utw-collection-block,
#template-collection .rich-text .container, 
.gallery.utw {
    padding: 0;
}

@media only screen and (min-width: 798px) {
	.collection-main .section,
	.utw-collection-block,
	#template-collection .rich-text .container,
	.blog-posts .section, 
	.gallery.utw,
    .collection-list .collection-list__main-tiles {
		padding: 0;
	}	
}

@media only screen and (min-width: 1280px) {
	.collection-main .section,
	.utw-collection-block,
	#template-collection .rich-text .container,
	.blog-posts .section, 
	.gallery.utw,
    .collection-list .collection-list__main-tiles {
		padding: 0 40px;
	}	
}

@media only screen and (min-width: 1920px) {
	.utw-collection-block,
	#template-collection .rich-text .container,
	.blog-posts .section, 
	.gallery.utw,
    .collection-list .collection-list__main-tiles {
		padding: 0 80px;
	}	
}


/* Collection Container - Merge? */

.collection-main .section,
#template-collection .rich-text .container {
    padding: unset;
}	

@media only screen and (min-width: 798px) {
    .collection-main .section,
    #template-collection .rich-text .container {
        padding: unset;
    }	
}

@media only screen and (min-width: 1280px) {
    .collection-main .section,
    #template-collection .rich-text .container {
        padding: 0 40px;
    }	
}

@media only screen and (min-width: 1920px) {
    .collection-main .section,
    #template-collection .rich-text .container {
		padding: 0 80px;
	}	
}

/* Klaviyo Form */

.product-app--container .klaviyo-form {
    padding: 0;
}

@media only screen and (min-width: 1280px) {
    .product-app--container .klaviyo-form {
        padding: 0 40px;
    }	
}

@media only screen and (min-width: 1920px) {
    .product-app--container .klaviyo-form {
        padding: 0 80px;
    }	
}

/* Mega Menu Margins */

.header-section__container .navbar {
    padding: unset;
}

@media only screen and (min-width: 1280px) {
    .header-section__container .navbar,
    .mega-menu {
        padding: 0 40px;
    } 
}

@media only screen and (min-width: 1920px) {
    .header-section__container .navbar,
    .mega-menu {
        padding: 0 80px;
    }    
}

/* Search widget */

.boost-pfs-search-suggestion-product-title {
  font-size: .85rem;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.boost-pfs-search-suggestion-product-price {
  font-size: .85rem;
  font-weight: 500;
}

@media (min-width: 768px) {
  .boost-pfs-search-suggestion-column-2-overlay-fullwidth.boost-pfs-search-suggestion-wrapper:not([data-search-box-id="boost-pfs-search-box-mobile"]) {
    height: fit-content;
  }
  .boost-pfs-search-suggestion-product-item-type-grid:not(.boost-pfs-search-suggestion-mobile) .boost-pfs-search-suggestion-group[data-group*=products] .boost-pfs-search-suggestion-item {
    width: 25% !important;
  }
}

.search-overlay.is-opened {
  display: none;
}

/* Boost Search - Ben */


.boost-pfs-search-suggestion-column-2-overlay-fullwidth .boost-pfs-search-suggestion {
	background-color: #fff;
}

.boost-pfs-search-suggestion-column-2-overlay-fullwidth.boost-pfs-search-suggestion-wrapper:not([data-search-box-id="boost-pfs-search-box-mobile"]) {
	background-color: #fff;
}

.boost-pfs-search-suggestion-style3-top-panel {
	background-color: #fff;
}

.boost-pfs-search-suggestion-style3-top-panel #boost-pfs-search-box-style3 {
	padding: 12px 24px 12px 0;
	border: none;
	border-bottom: 1px solid #999;
	border-radius: 0;
	background: none;
	font-family: Scto Grotesk A,sans-serif!important;
	font-size: 2rem;
	font-weight: 700;
	text-transform: uppercase;
}

input.boost-pfs-search-box:focus {
	outline: none;
}

input.boost-pfs-search-box::placeholder {
	color: #ccc;
}

.boost-pfs-search-submit-style3 {
	display:none!important;
}

.boost-pfs-search-btn-close-suggestion {
	cursor: pointer;
}

.boost-pfs-search-suggestion-product-title b {
	font-weight: 700;
}

.boost-pfs-search-suggestion-header-view-all>a:hover {
	background: none;
}

.boost-pfs-search-suggestion-product-item-type-grid .boost-pfs-search-suggestion-group[data-group*=products] .boost-pfs-search-suggestion-item:hover {
	background: none;
}

.boost-pfs-search-suggestion-left {
	aspect-ratio: 14/20;
}

@media screen and (min-width: 768px) {
	.boost-pfs-search-suggestion-style3-top-panel .boost-pfs-search-btn-clear-suggestion {
		display: none!important;
	}	
}

.boost-pfs-search-suggestion {
	flex-wrap: wrap;
}

@media screen and (min-width: 768px) and (max-width: 1080px)  {
	.boost-pfs-search-suggestion-column-2-overlay-fullwidth.boost-pfs-search-suggestion-wrapper:not([data-search-box-id="boost-pfs-search-box-mobile"]) .boost-pfs-search-suggestion-groups-others:not(.boost-pfs-search-suggestion-no-products) {
		width: 100%;
	}
}

@media screen and (min-width: 768px) and (max-width: 1080px) {
	.boost-pfs-search-suggestion-column-2-overlay-fullwidth.boost-pfs-search-suggestion-wrapper:not([data-search-box-id="boost-pfs-search-box-mobile"]) .boost-pfs-search-suggestion-groups-pro {
		width: 100%;
	}	
}

.boost-pfs-search-suggestion-mobile-top-panel #boost-pfs-search-box-mobile {
    padding: 12px 50px 12px 0;
    background: none;
    border: none;
    border-radius: 0;
	font-family: Scto Grotesk A,sans-serif!important;
	font-size: 1.25rem;
	font-weight: 700;
	text-transform: uppercase;
}

.boost-pfs-search-suggestion-mobile-top-panel {
	padding: 0 20px;
	background: #fff;
}


@media (max-width: 768px) {
  body {
    max-height: unset !important;
    position: relative !important;
  }
  .mobile-search {
    z-index: -1;
  }
}